<img class="map-picture" src="~/Content/img/img_map.png" alt="Карта Юньчен">
<div class="map-pointers js-tabs-citymap">
    <a class="map-pointer pointer-alm js-tabs-link" data-tab="alm-point">Алматы</a>
    <a class="map-pointer pointer-sev js-tabs-link" data-tab="sev-point">Севастополь</a>
    <a class="map-pointer pointer-unh js-tabs-link active" data-tab="unh-point">Юньчэн</a>
</div>
<div class="map-weather js-tabs-body">
    <div class="head-weather map-weather-tab js-tabs-item" id="sev-point">
        <span class="txt-note">В Севастополе</span>
        <span class="txt-data">14:21</span>
        <span class="txt-data">+33&#176;</span>
        <span class="txt-note">Жара</span>
    </div>
    <div class="head-weather map-weather-tab js-tabs-item" id="alm-point">
        <span class="txt-note">В Алматы</span>
        <span class="txt-data">07:15</span>
        <span class="txt-data">+28&#176;</span>
        <span class="txt-note">Солнечно</span>
    </div>
    <div class="head-weather map-weather-tab js-tabs-item active" id="unh-point">
        <span class="txt-note">В Юнчене</span>
        <span class="txt-data">21:56</span>
        <span class="txt-data">+11&#176;</span>
        <span class="txt-note">Пасмурно</span>
    </div>
</div>