
@{
    ViewBag.Title = "О нас";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main has-bg-flower" role="main">
    <div class="container">
        <div class="all-pages-head price-head">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="all-pages-H1 has-underline is-centered">О нас</h1>
                </div>
            </div>
            <div class="row about-us">
                <div class="col-md-6 about-us-text">
                    <div class="user-content">
                        <h3>
                            Вводный текст о том, что мы - не посредники, а организаторы лечения,
                            как в самом Китае, так и в России и Казахстане - китайскими специалистами
                        </h3>
                        <p>
                            Компания за 6 лет стала одним из лидеров по организации лечения ДЦП и
                            пр. неврологических заболеваний.
                        </p>
                        <p>
                            Компания начинала с выполнения разовых просьб о помощи с лечением. Но так как
                            результат был отличным, появился спрос, котрый стимулировал развитие.
                        </p>
                        <p>
                            Как-то аккуратно ввернуть фразу, что развитие  - прежде всего для
                            помощи, а не ради прибыли.
                        </p>
                        <p>
                            Так как не все имеют возможность поехать в поднебесную, мы открыли собственные
                            реабилитационные центры в <a href="#">Севастополе</a> и
                            <a href="#">Алма-Аты</a>, которые практически не уступают
                            китайским клиникам, так как и методики аналогичные, и китайцы приезжают.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 about-us-info">
                    <div class="row about-us-fact">
                        <div class="col-md-6">
                            <div class="fact-img">
                                <img src="~/Content/images/about-us/fact_1.jpg" alt="Мы проводим работу с пациентами">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="fact-txt has-underline">
                                <p>Мы проводим первичную работу с пациентами: консультируем и помогаем с оформлением документов.</p>
                                <p>Всегда на связи и готовы помочь в любое время</p>
                            </div>
                        </div>
                    </div>
                    <div class="row about-us-fact">
                        <div class="col-md-6">
                            <div class="fact-txt has-underline">
                                <p>Помогаем с обустройством, коммуникацией, бытом и т.д.</p>
                                <p>Поддерживаем контакт с пациентами после лечения</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="fact-img">
                                <img src="~/Content/images/about-us/fact_2.jpg" alt="Мы проводим работу с пациентами">
                            </div>
                        </div>
                    </div>
                    <div class="row about-us-fact">
                        <div class="col-md-6">
                            <div class="fact-img">
                                <img src="~/Content/images/about-us/fact_3.jpg" alt="Мы проводим работу с пациентами">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="fact-txt">
                                <p>Проводим работу с фондами с целью организации материальной помощи нашим пациентам.</p>
                                <p><a href="#" class="btn btn-light">НАШИ ПАРТНЕРЫ</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- END all-pages-head -->
    </div><!-- END container -->

    <div class="all-pages-body">
        <section class="sec-patients">
            <div class="container">
                <h2 class="sec-patients-title">
                    Текст об обширной географии пациентов.<br>
                    Упомянуть, что многие выбирают dcp-china для последующего лечения
                </h2>
                <div class="row">
                    <div class="col-md-3">
                        <div class="sec-patients-info">
                            <div class="info-count">3</div>
                            <h4 class="info-title">клиники</h4>
                            <div class="info-text">в Китае и России груглогодично принимают юных пациентов со всего мира</div>
                            <a href="#" class="btn btn-light">НАШИ КЛИНИКИ</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="sec-patients-info">
                            <div class="info-count">234</div>
                            <h4 class="info-title">ПАЦИЕНТА</h4>
                            <div class="info-text">прошли курсы лечения <br>и реабилитации <br>с 2010 года</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="sec-patients-info">
                            <div class="info-count">65</div>
                            <h4 class="info-title">детей</h4>
                            <div class="info-text">лечились повторно и многие<br> продолжают лечение<br> регулярно</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="sec-patients-info">
                            <div class="info-count">1265</div>
                            <h4 class="info-title">родителей</h4>
                            <div class="info-text">являются участниками активно<br> развивающегося сообщества<br> “Наши дети”</div>
                            <a href="#" class="btn btn-light">ПРИСОЕДИНИТЬСЯ</a>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- END sec-patients -->

        <section class="sec-team">
            <div class="container">
                <div class="row sec-team-head">
                    <div class="col-md-4">
                        <h2 class="sec-team-title">Коллектив</h2>
                    </div>
                    <div class="col-md-8">
                        <div class="sec-team-about">
                            Разумеется, профессионалы с опытом.<br>
                            Надо что-то придумать, можно нестандартное, но располагающее.
                        </div>
                    </div>
                </div>
                <div class="row sec-team-member">
                    <div class="col-md-7 col-lg-8">
                        <div class="member-photo">
                            <img src="~/Content/images/team/member_1.jpg" alt="Мы проводим работу с пациентами">
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-4">
                        <div class="member-txt">
                            <div class="member-face">
                                <img src="~/Content/images/team/member_1_face.jpg" alt="Мы проводим работу с пациентами">
                            </div>
                            <div class="member-name">Бабур Курбанов</div>
                            <div class="member-post">Основатель и руководитель</div>
                            <div class="member-work">Помимо общего руководства лично работает с пациентами в Китае.</div>
                            <div class="member-quote">Здесь может быть цитата про лечение, или приглашение на лечение</div>
                        </div>
                    </div>
                </div>
                <div class="row sec-team-member">
                    <div class="col-md-4">
                        <div class="member-txt">
                            <div class="member-face">
                                <img src="~/Content/images/team/member_2_face.jpg" alt="Мы проводим работу с пациентами">
                            </div>
                            <div class="member-name">Александр Мазник</div>
                            <div class="member-post">Администратор-консультант</div>
                            <div class="member-work">Консультирует пациентов по вопросам лечения и оформления</div>
                            <div class="member-quote">Здесь может быть цитата про лечение, или приглашение на лечение</div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="member-photo">
                            <img src="~/Content/images/team/member_2.jpg" alt="Мы проводим работу с пациентами">
                        </div>
                    </div>
                </div>
                <div class="row sec-team-member">
                    <div class="col-md-8">
                        <div class="member-photo">
                            <img src="~/Content/images/team/member_3.jpg" alt="Мы проводим работу с пациентами">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="member-txt">
                            <div class="member-face">
                                <img src="~/Content/images/team/member_3_face.jpg" alt="Мы проводим работу с пациентами">
                            </div>
                            <div class="member-name">Леонид Кравцов</div>
                            <div class="member-post">Врач-реабилитолог</div>
                            <div class="member-work">Руководитель детского реабилитационного центра “Мастерская здоровья”</div>
                            <div class="member-quote">Здесь может быть цитата про лечение, или приглашение на лечение</div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- END sec-team -->

        <section class="sec-message">
            <div class="container">
                <div class="sec-message-head">
                    <h2 class="sec-message-title">Контактная информация</h2>
                    <div class="sec-message-note">Мы непременно ответим на все интересующие вопросы,<br>выслушаем пожелания и отреагируем на замечания</div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <ul class="sec-message-phones">
                            <li>
                                <div class="phone-txt">Китай</div>
                                <div class="phone-num">+7 989 766-84-13</div>
                            </li>
                            <li>
                                <div class="phone-txt">Россия</div>
                                <div class="phone-num">+7 989 766-84-13</div>
                            </li>
                            <li>
                                <div class="phone-txt">Казахстан</div>
                                <div class="phone-num">+7 989 766-84-13</div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <form class="sec-message-form">
                            <div class="forms-line">
                                <div class="forms-label">Ваше имя*</div>
                                <input class="forms-input" type="text">
                            </div>
                            <div class="forms-line">
                                <div class="forms-label">Эл. почта*</div>
                                <input class="forms-input" type="text">
                            </div>
                            <div class="forms-line">
                                <div class="forms-label">Телефон</div>
                                <input class="forms-input" type="text">
                                <div class="note-label">- Если хотите, чтобы мы перезвонили</div>
                            </div>
                            <div class="forms-line">
                                <div class="forms-label">Текст cообщения*</div>
                                <textarea class="forms-text" type="text"></textarea>
                            </div>
                            <div class="forms-line">
                                <div class="forms-label"></div>
                                <input class="btn btn-orang" type="submit" value="ОТПРАВИТЬ">
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </section><!-- END sec-message -->

    </div><!-- END all-pages-body -->


</div><!-- END main -->

