
<div class="main has-gray-bg is-full-screen">
    <div class="all-pages-head">
        <div class="container">
            <h1 class="all-pages-H1 has-underline">Наши вакансии</h1>
            <div class="row top-50">
                <div class="col-md-8 col-lg-9">
                    <div class="user-content">
                        <p>
                            Любые вопросы, касающиеся работы сайта, оформления заявки, поездки
                            и лечения вы можете задать, воспользовавшись панелью в нижней части каждой
                            страницы сайта.
                        </p>
                        <p>
                            Любые вопросы, касающиеся работы сайта, оформления заявки, поездки
                            и лечения вы можете задать, воспользовавшись панелью в нижней части каждой
                            страницы сайта.
                        </p>
                        <img src="~/Content/images/help-img.jpg" alt="Инструкции и советы">
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <h2 class="side-nav-title">Горячая линия</h2>
                    <ul class="side-phones">
                        <li>
                            <div class="side-phones-title">Китай</div>
                            <div class="side-phones-num">+86 130 96636644</div>
                        </li>
                        <li>
                            <div class="side-phones-title">Россия</div>
                            <div class="side-phones-num">+7 978 7022280</div>
                        </li>
                        <li>
                            <div class="side-phones-title">Казахстан</div>
                            <div class="side-phones-num">+7 978 7022280</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- END container -->
    </div><!-- END all-pages-head -->
    
</div>