@{
    ViewBag.Title = "Вопросы по лечению в больнице ДЦП, полезная информация";
	ViewBag.Description = "Часто задаваемые вопросы, как записаться на лечение, видеоинструкции, стоимость услуг на лечение, условия проживания в Юньчэне ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main has-gray-bg is-full-screen">
    <div class="all-pages-head">
        <div class="container">
            <h1 class="all-pages-H1 has-underline">Помощь</h1>
            <div class="row top-50">
                <div class="col-md-8 col-lg-9">
                    <div class="user-content">
                        <p>
                            Любые вопросы, касающиеся работы сайта, оформления заявки, поездки
                            и лечения вы можете задать, воспользовавшись панелью в нижней части каждой
                            страницы сайта.
							
                        </p>
                        <!-- END all-pages-body <p>                        </p>-->
                        <img src="~/Content/images/help-img.jpg" alt="Инструкции и советы">
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <h2 class="side-nav-title">Горячая линия</h2>
                    <ul class="side-phones">
                        <li>
                            <div class="side-phones-title">Китай</div>
                            <div class="side-phones-num">+86 130 9663 6644</div>
                        </li>
                        <li>
                            <div class="side-phones-title">Россия</div>
                            <div class="side-phones-num">+7 989 702 11 88</div>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div><!-- END container -->
    </div><!-- END all-pages-head -->

    <div class="all-pages-body price-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8  col-lg-9">
                    <h2 class="all-pages-H3">Часто задаваемые вопросы</h2>
                    <div class="selector forms-selector ">
                        <input id="faqsubject" type="hidden" value="0">
                        <div class="selector-val" data-val="0">Тема не выбрана</div>
                        <ul class="selector-list">
                            <li data-val="0">Тема не выбрана</li>
                            <li data-val="1">Запись на лечение</li>
							<li data-val="2">Путешествие</li>
                            <li data-val="3">Финансовые вопросы</li>
                            <li data-val="4">Бытовые вопросы</li>
							<li data-val="5">Продукты питания</li>
							<li data-val="7">Лечение</li>
							<li data-val="6">Разное</li>
                        </ul>
                    </div>
                    <div class="accordion">
                        <div class="accordion-section" data-val="4">
                            <a class="accordion-bttn js-accordion-toggle" role="button">
                                Кстати хотела узнать насчет постельного белья. Там дадут или мы свое привозим?
                            </a>
                            <div class="accordion-body">
                                <p>
                                    Постельное белье предоставляет больница.
                                </p>
                                <p>
                                    Два комплекта
                                </p>
                                <p> В комплект входит:   </p>

                                <ul class="sec-procedure-list">
                                    <li>Две наволочки</li>
                                    <li>Простынь</li>
                                    <li>Пододеяльник </li>
                                </ul>

                            </div>
                        </div><!-- END accordion-section -->
						
                        <div class="accordion-section" data-val="1">
                            <a class="accordion-bttn js-accordion-toggle" role="button">
                                Можно ли отправить заявку на лечение без данных загранпаспорта, так как они в процессе оформления?
                            </a>
                            <div class="accordion-body">
                                <p>
                                    Можно. Только вместо данных с загранпаспорта заполняйте данные с гражданского паспорта, данные ребенка заполняйте с свидетельства о рождении.

                                </p>
                            </div>
                        </div><!-- END accordion-section -->
						
                        <div class="accordion-section" data-val="1">
                            <a class="accordion-bttn js-accordion-toggle" role="button">
                                Мы отправили Заявку на лечение, когда нам ждать ответ?
                            </a>
                            <div class="accordion-body">
                                <p>
                                    Полученную Заявку мы сразу переводим и отправляем доктору на рассмотрение.  Все заявки рассматриваются в порядке очереди. Обычно до трех рабочих дней. В случае задержки более трех дней просьба сразу написать по любому из способов: группы whatsapp, Bконтаке, Facebook, Одноклассники или электронную почту <a href="mailto:info@dcp-china.ru">info@dcp-china.ru</a>

                                </p>
                            </div>
                        </div><!-- END accordion-section -->
						
                        <div class="accordion-section" data-val="2">
                            <a class="accordion-bttn js-accordion-toggle" role="button">
                                Скажите через какой город лучше лететь?
                            </a>
                            <div class="accordion-body">
                                <p>
                                    Обычно к нам прилетают через Пекин, а также можно через Сиань, Урумчи, Гуанчджоу, Шанхай. Так же из Пекина и Сианя можно приехать на скоростном поезде.
                                </p>
                            </div>
                        </div><!-- END accordion-section -->
						
                        <div class="accordion-section" data-val="2">
                            <a class="accordion-bttn js-accordion-toggle" role="button">
                                Если лететь самолетом из Юньчэна до Пекина в какой терминал прибывает самолет?
                            </a>
                            <div class="accordion-body">
                                <p>
                                    Самолет из Юньчэна  в Пекин прилетает в 3 терминал
                                </p>
                                <p>
                                    Вылетает из Пекина в город Юньчэн тоже из 3 терминала
                                </p>
                            </div>
                        </div><!-- END accordion-section -->
						
                        <div class="accordion-section" data-val="6">
                            <a class="accordion-bttn js-accordion-toggle" role="button">
                                Вы не могли бы сделать для моей мамы приглашение для того, чтобы она могла приехать к нам на помощь. Дату можно указать с 1 октября до 1 декабря.
                            </a>
                            <div class="accordion-body">
                                <p>
                                    Для подготовки приглашения присылайте на официальную электронную  почту <a href="mailto:info@dcp-china.ru">info@dcp-china.ru</a> данные заграничного паспорта фамилия и имя, дата рождения, номер паспорта.
                                </p>
                                <p>
                                    В течении одного, двух рабочих дней пришлем Вам приглашение.
                                </p>
                            </div>
                        </div><!-- END accordion-section -->
						
                        <div class="accordion-section" data-val="2">
                            <a class="accordion-bttn js-accordion-toggle" role="button">
                                Нас в аэропорту встретят?
                            </a>
                            <div class="accordion-body">
                                <p>
                                    Администрация больницы всегда, без исключений,  встречает и провожает своих пациентов в аэропорту или на ЖД вокзале.
                                </p>
                                <p>
                                    Встреча бесплатно.
                                </p>
                                <p>
                                    Проводы (аренда одного автомобиля) - 50 юаней.
                                </p>
                            </div>
                        </div><!-- END accordion-section -->
						
                        <div class="accordion-section" data-val="3">
                            <a class="accordion-bttn js-accordion-toggle" role="button">
                                Подскажите, пожалуйста, может кто-нибудь знает название фондов, которые оказывают помощь в китайские больницы?
                            </a>
                            <div class="accordion-body">
                                <p>
                                    На законодательном уровне благотворительным организациям не запрещено отправлять деньги в иностранные клиники, все зависит от Вас и от предоставленной Вами информации.
                                </p>
                                <p>
                                    Наша больница готова предоставить любые документы.
                                </p>
                                <p>
                                    Список фондов которые помогают детям с диагнозом ДЦП у нас на сайте  <a href="http://dcp-china.ru/Finance/Fonds">Список фондов</a>
                                </p>
                            </div>
                        </div><!-- END accordion-section -->
						
						
                        <div class="accordion-section" data-val="6">
                            <a class="accordion-bttn js-accordion-toggle" role="button">
                                Какая погода в Юньчэне?
                            </a>
                            <div class="accordion-body">
                                <p>
                                    Климат в Юньчэне континентальный. Летом жарко, идут дожди: за три летних месяца выпадает две трети годовой нормы осадков. Температура воздуха днем в летние месяцы легко переваливает за 30°С, ночью – до 24°С. Средняя температура июля – около 27°С. Зима в Юньчэне не холодная: средняя температура января приблизительно равна -1°С. Зимой осадков выпадает мало. Межсезонье ветрено. Отопительный сезон в городе длится с 15-го ноября по 15-е марта. Если сравнивать тогда климат в городе Юньчэн похож на города Ташкент, Ашхабад, Душанбе, Ереван, Стамбул
                                </p>
                            </div>
                        </div><!-- END accordion-section -->

                        <div class="accordion-section" data-val="3">
                            <a class="accordion-bttn js-accordion-toggle" role="button">
                                Можно нам выписать Счет на лечение? Мы не знаем когда приедем. Хотим попробовать обратиться в благотворительный фонд.
                            </a>
                            <div class="accordion-body">
                                <p>
                                    Можно. Счет на лечение это установленная форма документа. Для подготовки нам необходимы Ваши паспортные данные, предполагаемый период (примерные даты лечения), и самое главное медицинские данные. Только невролог нашей больницы дает разрешение на лечение в больнице и последующую подготовку документов.  Поэтому для Счета на лечения Вам лишь необходимо заполнить Заявку на лечение, в которой есть все самые необходимые данные для записи на лечение и подготовки абсолютно всех документов включая счет на лечение.
                                </p>
                            </div>
                        </div><!-- END accordion-section -->
						
                        <div class="accordion-section" data-val="7">
                            <a class="accordion-bttn js-accordion-toggle" role="button">
                                После начала применения ганглиозида ребенок стал вздрагивать руками во сне. Могут  ли быть побочные действия от применения препарата?
                            </a>
                            <div class="accordion-body">
                                <p>
                                    Ганглиозид как и многие другие препараты вызывает усиление  кровоснабжение мозга, в том числе и частей мозга пораженных, где находятся участки гипоксии и которые по своему определению могут давать патологическую электрическую активность (эпи и другие виды активности) поэтому во время курса ганглиозида могут быть подобные побочные эффекты.
                                </p>
                                <p>
                                    А также во время физических упражнений, растяжек меняется тонус и подрагивание ручек могут быть от этого.
                                </p>
                            </div>
                        </div><!-- END accordion-section -->
						
                        <div class="accordion-section" data-val="2">
                            <a class="accordion-bttn js-accordion-toggle" role="button">
                                Очень страшно лететь в такую даль. Кто то помогает при пересадках? Где брать информацию о том лететь?
                            </a>
                            <div class="accordion-body">
                                <p>
                                    После покупки билетов Вы сообщаете нам время прибытия и мы консультируем Вас как правильно пользоваться "Медицинским сопровождением" - это главный элемент Вашего комфорта. Далее поясним как более комфортно осуществить пересадку в Пекине, Сиане. Для этого есть переводчики - гиды, которые давно работают с нашими пациентами.  Также есть договоренность с несколькими гостиницами в Пекине, в которых можно остановиться если пересадка в Пекине длительная. Это коротко, а для более детальной информации предоставляйте копии билетов и мы Вам поможем.
                                </p>
                            </div>
                        </div><!-- END accordion-section -->
						
                        <div class="accordion-section" data-val="7">
                            <a class="accordion-bttn js-accordion-toggle" role="button">
                                Пожалуйста расскажите о лекарствах, какие получают детки. Не мешает ли это при эпилептической активности?
                            </a>
                            <div class="accordion-body">
                                <p>
                                    При поступлении в больницу пациенту проводится первичный медицинский осмотр. Если у пациента имеется эпилептическая активность или приступы, доктора могут назначить дополнительно ЭЭГ видео- мониторинг, анализ крови на концентрацию противо-эпилептических препаратов в крови.
                                </p>
                                <p>
                                    После всех исследований доктора назначают лекарственные препараты согласно показаний.
                                </p>
                                <p>
                                    Не всем детям назначают лекарственные препараты.
                                </p>
                                <p>
                                    Все назначения лекарственных препаратов только под наблюдением врачей.
                                </p>
                            </div>
                        </div><!-- END accordion-section -->
                       
                        <div class="accordion-section" data-val="7">
                            <a class="accordion-bttn js-accordion-toggle" role="button">
                                Нужно ли везти с собой результаты анализов или все обследование будут
                                сделаны на месте в клинике?
                            </a>
                            <div class="accordion-body">
                                <p>
                                    В больнице есть собственная лаборатория, которая может проводить любые виды исследований:  общий анализ крови, анализ на СПИД, РВ, гепатит, функции печени, функции почек, анализ кала, анализ мочи, анализ на сахар, различные тесты, и др.
                                </p>
                                <p>
                                    Диагностическое оборудование: МРТ, ЭЭГ, ЭЭГ видео-мониторинг, ЭКГ, УЗИ, Рентген, и др.
                                </p>
                                <p>
                                    Больница расположена в 100 метрах от центрального городского госпиталя. При необходимости сложные медицинские вопросы можно решить там.
                                </p>
                                <p>
                                    Обязательным является: общий анализ крови, анализ на СПИД, РВ, гепатит, функции печени, функции почек. Если Вы предоставите анализы срок давности которых не более 7 суток, тогда их могут принять и Вы не будете делать исследования в больнице.
                                </p>
                                <p>
                                    На первичном медицинском осмотре Вам могут предложить сделать те или иные исследования.
                                </p>
                            </div>
                        </div><!-- END accordion-section -->

                        <div class="accordion-section" data-val="7">
                            <a class="accordion-bttn js-accordion-toggle" role="button">
                                Когда в больнице выходные?
                            </a>
                            <div class="accordion-body">
                                <p>
                                    Традиционно, в обеих больницах два дня выходных в месяц. Обычно выходные дни совпадают с национальными праздниками.
                                </p>
                                <h3 class="sec-procedure-subtitle">Дни национальных праздников в 2017 году:</h3>
                                <ul class="sec-procedure-list">
                                    <li>27 января – 3 февраля – праздник Весны (春节)</li>
                                    <li>2,3,4 апреля – День чистого света (清明节), праздник поминовения усопших</li>
                                    <li>29,30 апреля, 1 мая,   – нерабочие дни. 1 мая – Праздник Труда (劳动节)</li>
                                    <li>28-30 мая – нерабочие дни, праздник Драконьих лодок (端午节).</li>
                                    <li>4 октября –  Праздник середины осени (中秋节)</li>
                                    <li>1-3 октября включительно, нерабочие дни. День образования КНР (国庆节)</li>

                                </ul>

                            </div>
                        </div><!-- END accordion-section -->
						
                        <div class="accordion-section" data-val="3">
                            <a class="accordion-bttn js-accordion-toggle" role="button">
                                Какая стоимость лечения?
                            </a>
                            <div class="accordion-body">
                                <p>
                                    Какая итоговая стоимость лечения будет известно в конце лечения. Но из статистики лечения прошлых пациентов можно точно утверждать, что стоимость лечения от 2000 до 3500 долларов США в месяц или 120000 - 230000 рублей. В среднем около 2500-3000 долларов США. В эту сумму входит проживание при клинике в комфортных номерах,  лекарственные препараты, лечебные процедуры (7-8 часов в день), анализы и диагностика, услуги проживания, коммунальные услуги, медицинские услуги. Абсолютно все, кроме питания.

                                </p>
                            </div>
                        </div><!-- END accordion-section -->
						
                        <div class="accordion-section" data-val="3">
                            <a class="accordion-bttn js-accordion-toggle" role="button">
                                Порядок оплаты за лечение?
                            </a>
                            <div class="accordion-body">
                                <p>
                                    После госпитализации на Вас заводиться больничная карта и номер лицевого счета в больничной кассе. Теперь Вы можете вносить на свой лицевой счет депозит в любом размере. Главное следить, что бы у Вас был всегда положительный баланс на счету. Из опыта вносят от 10000 юаней. По окончанию лечения, после проведения финансовой проверки Вашего лечения можете забрать остаток средств на Вашем счету. Если Вы точно планируете еще лечение, тогда можете оставить средства на своем лицевом счету до следующего лечения (в замен Вам выдадут чек).

                                </p>
                            </div>
                        </div><!-- END accordion-section -->
						
                        <div class="accordion-section" data-val="3">
                            <a class="accordion-bttn js-accordion-toggle" role="button">
                                Как и куда платить за лечение?
                            </a>
                            <div class="accordion-body">
                                <h3 class="sec-procedure-subtitle">Оплата лечения в Китае возможна:</h3>
                                <ul class="sec-procedure-list">
                                    <li>внесением НАЛИЧНЫХ юаней в больничную кассу;</li>
                                    <li>перечислением безналичных юаней по системе ChinaUnionPay через POS-терминал (карту ChinaUnionPay можно получить в России);</li>
                                    <li>
                                        переводом безналичных долларов США на банковский счет больницы (согласно реквизитам в счете на лечение) через систему международных платежей SWIFT.
                                        <div class="note-text">
                                            SWIFT — это электронная система, осуществляющая платежи и передачу информации между банками более 200 стран мира. Система не имеет аналогов и практически полностью контролирует международные денежные переводы. Также система имеет другие названия SWIFT code, SWIFT ID, BIC code или SWIFT-BIC.
                                        </div>
                                    </li>

                                </ul>

                            </div>
                        </div><!-- END accordion-section -->
						
                        <div class="accordion-section" data-val="3">
                            <a class="accordion-bttn js-accordion-toggle" role="button">
                                Когда нужно платить за лечение?
                            </a>
                            <div class="accordion-body">
                                <h3 class="sec-procedure-subtitle">Оплатить за лечение можно:</h3>
                                <ul class="sec-procedure-list">
                                    <li>
                                        заблаговременно переводом безналичных долларов США на банковский счет больницы (согласно реквизитам в счете на лечение). Способ перевода SWIFT; <div class="note-text">
                                            SWIFT — это электронная система, осуществляющая платежи и передачу информации между банками более 200 стран мира. Система не имеет аналогов и практически полностью контролирует международные денежные переводы. Также система имеет другие названия SWIFT code, SWIFT ID, BIC code или SWIFT-BIC.
                                        </div>
                                    </li>
                                    <li>
                                        после прибытия на лечение через больничную кассу.
                                    </li>

                                </ul>

                            </div>
                        </div><!-- END accordion-section -->
                        
						 <div class="accordion-section" data-val="2">
                            <a class="accordion-bttn js-accordion-toggle" role="button">
                                Багаж. Опасные (запрещенные) предметы
                            </a>
                            <div class="accordion-body">
							Согласно положениям главного управления гражданской авиации Китая запрещен перевоз в зарегистрированном багаже или ручной клади указанных ниже предметов.
							<a href="https://www.airchina.ru/RU/RU/info/dangerous-goods/prohibited-items.html" target="_blank" >Официальный источник</a>
														
                                <h3 class="sec-procedure-subtitle">Опасные предметы:</h3>
                                <ul class="sec-procedure-list">
                                    <li>
                                        Взрывчатые вещества, газ, легковоспламеняющиеся жидкости и твердые вещества, самовоспламеняющиеся вещества, вещества, испускающие воспламеняющий газ при контакте с водой, окислители, органическая перекись, токсичные вещества, инфицирующие, радиоактивные и коррозийные вещества, а также другие опасные предметы.
                                    </li>
                                    <li>
                                       Пистолеты, боеприпасы, холодное оружие (ножи) или похожие предметы.
                                    </li>
									 <li>
                                       Холодное оружие (ножи) указаны во временных положениях Министерства безопасности Китая, утвержденных Министерством иностранных дел Китайской народной республики’. Они включают кинжалы, трехгранные резцы (включая трехгранные резцы, которые используются в механике), ножи с запирающими замками, рапиры, хирургические ножи с двойным лезвием, длина которого не превышает длину лезвия кинжала, и другие похожие предметы.
                                    </li>
									<li>
                                      Пассажирам, запрещено иметь при себе зажигалки и спички, запрещен провоз зажигалок и спичек в ручной клади, запрещен провоз зажигалок и спичек в зарегистрированном багаже.

                                    </li>
									

                                </ul>
								<p>Обратите внимание, что снаряжения для охоты, спортивное снаряжение, антиквариат и сувениры могут расцениваться как зарегистрированный багаж при условии соблюдения правил, установленных перевозчиком предметы, которые мы обоснованно считаем неприемлемыми для перевозки по причине их небезопасности или неподходящего веса, размера, формы или характера, или из-за их хрупкости, или подверженности порче, в том числе в зависимости от типа самолета. Информацию о предметах, не принимаемых к перевозке, можно получить по запросу.</p>
								<p>Любые нарушения вышеуказанных правил будут серьезно рассматриваться представителями отдела общественной безопасности, исходя из степени нарушения отдельного случая и действующих законов и государственных постановлений. Нарушитель несет ответственность за любые последствия, возникающие в результате подобных нарушений.</p>
								
							
                            </div>
                        </div><!-- END accordion-section -->
						
                    </div><!-- END accordion -->
                </div>

                <div class="col-md-4 col-lg-3">
                    <div class="side-nav">
                        <h4 class="side-nav-title">Инструкции и советы</h4>
                        <a class="banner" target="_blank" href="https://youtu.be/J6unrM1J4BY"> 
                            <img src="~/Content/images/banner-video.png" alt="Инструкции и советы">
                        </a>
						 
                        <ul class="price-list is-wide">
                            <li> 
                                <a title="Скачать документ" href="~/Content/pdf/PacientVisitDetails.pdf" class="price-list-link has-icon icon-pdf">Образец заполненной заявки на лечение</a>
                            </li>
							<li>
                                <a title="Скачать документ" href="~/Content/pdf/phrases for trip1.pdf" class="price-list-link has-icon icon-pdf">Русско-китайские фразы для путешествия</a>
                            </li>
                           <!-- <li>
                                <a title="Скачать документ" href="#" class="price-list-link has-icon icon-pdf">Образец заполнения заявки на лечение</a>
                            </li>-->
                        </ul>
						
                        <h4 class="side-nav-title">Наш справочник</h4>
                        <ul class="side-nav-list">
                            <li><a href="~/China/Priglashenie"target="_blank" >Вас пригласили на лечение</a></li>
                            <li><a href="~/China/Visa"target="_blank" >Оформление визы</a></li>
                            <li><a href="~/China/Dobratsa"target="_blank" >Как добраться до города Юньчэн</a></li>
                            <li><a href="~/China/Support"target="_blank" >Медицинское сопровождение</a></li>
							<li><a href="~/China/Details"target="_blank" >Деньги, мобильная связь, продукты питания</a></li>
                            <li><a href="~/Finance/Find"target="_blank" >Где и как искать помощь</a></li>
                            <li><a href="~/Finance/Fonds"target="_blank" >Список фондов</a></li>
                            <li><a href="~/Info/Lekarstvassoboy"target="_blank" >Лекарства с собой в Китай</a></li>
							<li><a href="~/Info/Lekarstvakitay" target="_blank">Распространенные китайские лекарства </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- END container -->
    </div><!-- END all-pages-body -->

</div>