
<div class="main has-gray-bg is-full-screen">
    <div class="all-pages-head">
        <div class="container">
            <h1 class="all-pages-H1 has-underline">Помощь</h1>
            <div class="row top-50">
                <div class="col-md-8 col-lg-9">
                    <div class="user-content">
                        <p>
                            Любые вопросы, касающиеся работы сайта, оформления заявки, поездки
                            и лечения вы можете задать, воспользовавшись панелью в нижней части каждой
                            страницы сайта.
                        </p>
                        <p>
                            Любые вопросы, касающиеся работы сайта, оформления заявки, поездки
                            и лечения вы можете задать, воспользовавшись панелью в нижней части каждой
                            страницы сайта.
                        </p>
                        <img src="~/Content/images/help-img.jpg" alt="Инструкции и советы">
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <h2 class="side-nav-title">Горячая линия</h2>
                    <ul class="side-phones">
                        <li>
                            <div class="side-phones-title">Китай</div>
                            <div class="side-phones-num">+86 130 96636644</div>
                        </li>
                        <li>
                            <div class="side-phones-title">Россия</div>
                            <div class="side-phones-num">+7 978 7022280</div>
                        </li>
                        <li>
                            <div class="side-phones-title">Казахстан</div>
                            <div class="side-phones-num">+7 978 7022280</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- END container -->
    </div><!-- END all-pages-head -->

    <div class="all-pages-body price-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <h2 class="all-pages-H3">Часто задаваемые вопросы</h2>
                    <div class="selector forms-selector">
                        <input type="hidden" value="0">
                        <div class="selector-val" data-val="0">Тема не выбрана</div>
                        <ul class="selector-list">
                            <li data-val="0">Тема не выбрана</li>
                            <li data-val="1">Россия</li>
                            <li data-val="2">Украина</li>
                            <li data-val="3">Казахстан</li>
                            <li data-val="4">Беларусь</li>
                        </ul>
                    </div>
                    <div class="accordion">
                        <div class="accordion-section">
                            <a class="accordion-bttn js-accordion-toggle" role="button">
                                Можно ли оправить заявку на лечение и все необходимые копии документов, но без копии
                                загранпаспортов, так они в процессе оформления?
                            </a>
                            <div class="accordion-body">
                                <p>
                                    Больницы г. Юньчен предоставляют места для проживания. Количество мест на
                                    реабилитацию равно количеству мест проживания. Поиском съемных квартир и
                                    гостиниц администрация клиники не занимается.  В процессе лечения пациент
                                    находится под постоянным присмотром у докторов. Пациент должен быть при
                                    больнице.

                                </p>
                            </div>
                        </div><!-- END accordion-section -->

                        <div class="accordion-section">
                            <a class="accordion-bttn js-accordion-toggle" role="button">
                                Нужно ли везти с собой результаты анализов или все обследование будут
                                сделаны на месте в клинике?
                            </a>
                            <div class="accordion-body">
                                <p>
                                    Сегодня предпринимателю малого бизнеса очень непросто на рынке, нужно найти
                                    способы и средства, чтобы дело эффективно работало, принося моральный и финансовый
                                    результат. Первое с чего нужно начать ту самую оптимизацию — это открывать новые
                                    деловые.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi delectus,
                                    excepturi incidunt ipsum modi non quaerat unde ut velit!
                                </p>
                            </div>
                        </div><!-- END accordion-section -->

                        <div class="accordion-section">
                            <a class="accordion-bttn js-accordion-toggle" role="button">
                                Можно ли оправить заявку на лечение и все необходимые копии документов, но без копии
                                загранпаспортов, так они в процессе оформления?
                            </a>
                            <div class="accordion-body">
                                <p>
                                    Сегодня предпринимателю малого бизнеса очень непросто на рынке, нужно найти
                                    способы и средства, чтобы дело эффективно работало, принося моральный и финансовый
                                    результат. Первое с чего нужно начать ту самую оптимизацию — это открывать новые
                                    деловые.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi delectus,
                                    excepturi incidunt ipsum modi non quaerat unde ut velit!
                                </p>
                            </div>
                        </div><!-- END accordion-section -->

                        <div class="accordion-section">
                            <a class="accordion-bttn js-accordion-toggle" role="button">
                                Можно ли оправить заявку на лечение и все необходимые копии документов, но без копии
                                загранпаспортов, так они в процессе оформления?
                            </a>
                            <div class="accordion-body">
                                <p>
                                    Сегодня предпринимателю малого бизнеса очень непросто на рынке, нужно найти
                                    способы и средства, чтобы дело эффективно работало, принося моральный и финансовый
                                    результат. Первое с чего нужно начать ту самую оптимизацию — это открывать новые
                                    деловые.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi delectus,
                                    excepturi incidunt ipsum modi non quaerat unde ut velit!
                                </p>
                            </div>
                        </div><!-- END accordion-section -->

                        <div class="accordion-section">
                            <a class="accordion-bttn js-accordion-toggle" role="button">
                                Нужно ли везти с собой результаты анализов или все обследование будут
                                сделаны на месте в клинике?
                            </a>
                            <div class="accordion-body">
                                <p>
                                    Сегодня предпринимателю малого бизнеса очень непросто на рынке, нужно найти
                                    способы и средства, чтобы дело эффективно работало, принося моральный и финансовый
                                    результат. Первое с чего нужно начать ту самую оптимизацию — это открывать новые
                                    деловые.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi delectus,
                                    excepturi incidunt ipsum modi non quaerat unde ut velit!
                                </p>
                            </div>
                        </div><!-- END accordion-section -->
                    </div><!-- END accordion -->
                </div>

                <div class="col-md-4 col-lg-3">
                    <div class="side-nav">
                        <h4 class="side-nav-title">Инструкции и советы</h4>
                        <a class="banner" target="_blank" href="#">
                            <img src="~/Content/images/banner-video.png" alt="Инструкции и советы">
                        </a>
                        <ul class="price-list is-wide">
                            <li>
                                <a title="Скачать документ" href="#" class="price-list-link has-icon icon-pdf">Образец заполнения заявки на лечение</a>
                            </li>
                            <li>
                                <a title="Скачать документ" href="#" class="price-list-link has-icon icon-pdf">Образец заполнения заявки на лечение</a>
                            </li>
                        </ul>
                        <h4 class="side-nav-title">Наш справочник</h4>
                        <ul class="side-nav-list">
                            <li><a href="#">Лечение в Китае</a></li>
                            <li><a href="#">Лечение в Севастополе</a></li>
                            <li><a href="#">Материальная помощь</a></li>
                            <li><a href="#">Библиотека</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- END container -->
    </div><!-- END all-pages-body -->

</div>