@{
    ViewBag.Title = "Приглашаем к сотрудничеству, обучение специалистов, обмен опытом.";
	ViewBag.Description = "Мы всегда учитываем потребности партнеров и готовы работать над новыми проектами для расширения возможностей лечения пациентов с ДЦП";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main has-gray-bg is-full-screen">
    <div class="all-pages-head">
        <div class="container">
            <h1 class="all-pages-H1 has-underline">Сотрудничество</h1>
            <div class="row top-50">
                <div class="col-md-8 col-lg-9">
                    <div class="user-content">
                        <p>
                           Мы всегда учитываем потребности партнеров и готовы работать над новыми проектами для расширения бизнес возможностей. В работе мы, прежде всего, ценим качество и профессионализм, что позволяет нам оставаться востребованными среди клиентов с самыми разными потребностями.

                        </p>
                        

                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <h2 class="side-nav-title">Горячая линия</h2>
                    <ul class="side-phones">
                        <li>
                            <div class="side-phones-title">Китай</div>
                            <div class="side-phones-num">+86 130 96636644</div>
                        </li>
                        <li>
                            <div class="side-phones-title">Россия</div>
                            <div class="side-phones-num">+7 978 7022280</div>
                        </li>
                        <li>
                            <div class="side-phones-title">Россия</div>
                            <div class="side-phones-num">+7 989 7021188</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- END container -->
    </div><!-- END all-pages-head -->
    
</div>