
<div class="main has-gray-bg is-full-screen" role="main">
    <div class="container">
        <div class="all-pages-head price-head">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="all-pages-H1 has-underline">Цены</h1>
                </div>
            </div>
        </div><!-- END all-pages-head -->
        <div class="row price-intro">
            <div class="col-md-4">
                <h2 class="all-pages-H2">Минимальные цены при максимальной эффективности лечения</h2>
                <div class="price-wallet">
                    <img src="~/content/images/img_wallet.png" alt="Доступные цены">
                </div>
            </div>
            <div class="col-md-8">
                <div class="user-content">
                    <p>
                        Лечение в реабилитационном центре оплачивается по установленным прейскурантам без каких-либо доплат и наценок. Стоимость лечения и реабилитации больных ДЦП зависит от количества и сложности назначений, и составляет 2000-3000 USD (до 200 тыс. рублей) в месяц. График получения лечебных и реабилитационных процедур предусматривает ежедневный восьмичасовой объем мероприятий.
                    </p>
                    <p>
                        Цены на процедуры и услуги могут незначительно изменяться, как в сторону увеличения, так и в сторону уменьшения.
                    </p>
                    <p>
                        Цель нашей деятельности – обеспечение режима максимального содействия в лечении детского церебрального паралича. Ценовый уровень адекватен объему предоставляемых медицинских услуг. Обеспечивая всестороннее внимание к больному от момента приемки заявки и вплоть до выписки, мы берем на себя решение всех врачебных задач и бытовых проблем, стоящих перед пациентом и его сопровождающим.
                    </p>
                    <p>
                        Чтобы снизить нагрузку на лечебный бюджет наших пациентов, мы постоянно реализуем специальные программы и проводим акции по сокращению клиентских расходов. Мероприятия, позволяющие экономить значительные суммы на оплате процедур и дополнительных услуг, круглогодичны! Полезную информацию мы рассылаем нашим подписчикам по электронной почте.
                    </p>
                    @*<p>
                            Лечение производится по прейскурантам клиник без каких-либо наценок, что существенно
                            снижает бюджет на лечение. Например, при диагнозе ДЦП, стоимость месячного курса в
                            клиниках г. Юньчен состаляет 12000-18000 юаней, что ниже чем в аналогичных, но менее
                            известных медицинский учреждениях Китая.
                        </p>
                        <p>
                            Для пациентов, не имеющих возможности выехать на лечение в Китай, мы предлагаем
                            <a href="#">лечение и реабилитацию </a> по эффективной методике доктора
                            Кравцова в городе Севастополе.
                        </p>
                        <p>
                            Мы регулярно проводим специальные акции и программы, позволяющие сэкономить ощутимую сумму на
                            оплате процедур и дополнительных услуг. Информацию об акциях и программах мы сообщаем в
                            почтовой рассылке.
                        </p>*@
                </div>
            </div>
        </div>
    </div><!-- END container -->

    <div class="all-pages-body price-body">
        <div class="container">
            <h2 class="all-pages-H2">Расценки на основные процедуры и сопутствующие услуги</h2>
            <div class="row">
                <div class="col-md-8">
                    <ul class="price-list">
                        <li>
                            <a class="price-list-link has-icon icon-pdf" href="~/Content/pdf/price-2.pdf" target="_blank" title="Скачать документ">
                                Вторая народная многопрофильная больница города Юньчэн
                            </a>
                        </li>
                        <li>
                            <a class="price-list-link has-icon icon-pdf" href="~/Content/pdf/price-1.pdf" target="_blank" title="Скачать документ">
                                Больница заболеваний головного мозга при НИИ акупунктуры головы г. Юньчэн
                            </a>
                        </li>
                        <li>
                            <a class="price-list-link has-icon icon-pdf" href="~/Content/pdf/price-3.pdf" target="_blank" title="Скачать документ">
                                Детский реабилитационный центр “Мастерская здоровья” г. Севастополь
                            </a>
                        </li>
                    </ul>
                    <div class="price-note user-content">
                        <p>
                            Сегодня Мы должны сделать все, чтобы завтра стать лучше!
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-lg-offset-1">
                    <div class="price-exchnge">
                        <h3 class="price-exchnge-title">Курс валют</h3>
                        <div class="head-money">
                            <span class="txt-data">1</span>
                            <span class="txt-note">юань</span>
                            <span class="txt-data">=</span>
                            <span class="txt-data">10,4</span>
                            <span class="txt-note">руб</span>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- END container -->
    </div><!-- END all-pages-body -->


</div><!-- END main -->
