
<div class="main has-gray-bg is-full-screen">
    <div class="all-pages-head">
        <div class="container">
            <h1 class="all-pages-H1 has-underline">Пользовательское соглашение</h1>
            <div class="row top-50">
                <div class="col-md-8 col-lg-9">
                    <div class="user-content">
                        <p>
                            Настоящее Пользовательское соглашение (далее — «Соглашение») представляет собой предложение пользователю сети Интернет (далее — «Пользователь») заключить соглашение об использовании сервисов (далее — «Сервисы») предусмотренных на сайте www.dcp-china.ru (далее — «Сайт»).
                        </p>
                        <p>
                            1. Общие положения</p>
							<p>
							1.1. Использование Пользователем Сайта и Сервисов регулируется настоящим Соглашением.
							</p>
							<p>
							1.2. К настоящему Соглашению и отношениям между Сайтом и Пользователем, возникающим в связи с использованием Сайта и Сервисов, применяется законодательство Российской Федерации.
							</p>
							<p>
							1.3. Зарегистрировавшись на Сайте либо воспользовавшись возможностью размещения любой информации либо каких-либо материалов, какого, либо характера (далее — Информация) на Сайте, просмотра информации на Сайте или любой иной функциональной возможностью Сайта или Сервисом, Пользователь выражает свое безоговорочное согласие со всеми условиями настоящего Соглашения и обязуется их соблюдать. В случае отсутствия у Пользователя безоговорочного согласия со всеми условиями настоящего Соглашения Пользователь обязуется незамедлительно прекратить использование Сайта и Сервисов.
                        </p>
						<p>
						2. Предоставление, размещение и использование информации
						</p>
						
						<p>
						2.1. Полный доступ к Сайту и Сервисам, в том числе создание профиля Пользователя, размещение Информации, ознакомление с более полной информацией о других пользователях, отправка сообщений, возможен только для зарегистрированного Пользователя.
						</p>
						
						<p>
						2.2. Пользователь самостоятельно отвечает за сохранность своих логина и пароля и не имеет права передавать или предоставлять их третьим лицам. Все действия, совершенные на Сайте с использованием принадлежащих Пользователю логина и пароля, считаются совершенными Пользователем.
						</p>
						
						<p>
						2.2. Пользователь обязуется при размещении Информации и ином использовании Сервиса соблюдать следующие условия и ограничения:
						</p>
						
						<p>
						2.2.1. Информация (включая любые материалы), размещаемая Пользователем, не должна нарушать авторские права, права на товарные знаки, средства индивидуализации и/или права на иные объекты интеллектуальной собственности, принадлежащие третьим лицам;
						</p>
						
						<p>
						2.2.2. На Сайте и при использовании Сервисов запрещается совершение действий, направленных на введение других пользователей в заблуждение;
						</p>
						
						<p>
						2.2.3. В рамках Сайта запрещается размещение Информации и комментариев, нарушающих права и законные интересы третьих лиц (в том числе, размещение фотографий и видеороликов, основным объектом которых является человек, если этот человек не давал согласия на размещения на Сайте его фотографии или видеоролика с его участием, а также материалов рекламного, эротического, порнографического или оскорбительного характера).
						</p>
						
						<p>
						2.2.4. В рамках Сайта запрещается
						</p>
						
						<p>
						Пропаганда насилия, расовая, половая, национальная, религиозная дискриминация;
Использование нецензурной лексики;
Ведение коммерческой деятельности в любой форме, в т.ч.: рекламировать товары и услуги, интернет-ресурсы и другие продукты, в том числе в никах, аватарах, подписях, а также рассылка рекламы через личные сообщения. Запрещена любая переписка с другими пользователями посредством личных сообщений с целью получения коммерческой выгоды;
Размещение дублей одной темы, а также дублей тем в разных сообществах;
Создание одним Пользователем более одного аккаунта;
Размещение просьбы проголосовать в каком-либо конкурсе;
Размещение на Сайте иной информации, которая, по мнению администрации сайта, не соответствует миссии, ценностям, тематической политике и целям портала;
Аватар пользователя и фоновое изображение в анкете является публичной информацией и не должен:
содержать нецензурные изображения;
содержать элементы фирменного стиля сайта;
содержать изображения, имитирующие ранги на форуме;
содержать рекламу, не согласованную с администрацией сайта;
содержать информацию или изображения, которые, по мнению администрации сайта, не соответствует политике и ценностям портала baby.ru
Неуважительное отношение к собеседникам: грубый переход на личности (указание на профессию, национальность, занимаемую должность, физические пороки, психические расстройства, качественная оценка личности собеседника, грубая характеристика его действий, негативное обсуждение личных качеств и иные формы).
Обсуждение политических вопросов, непосредственно или косвенно не связанных с темой семьи, материнства и детства.
Анонсирование, пропаганда, скрытая реклама в любой форме следующих тематик:
Средства контрацепции;
Аборты;
Алкоголь и табачные изделия;
Кредиты;
Гороскопы, гадания, спиритические услуги;
Компьютерные игры;
Суицид (самоубийство);
Наркотические и психотропные средства;
Педофилия, порнография.
На сайте не рекомендуется указывать в графе "Дети" ложную или шуточную информацию. Дети - это рожденные или усыновленные вами люди
						</p>
						
                       <p>
					   2.2.5. Пользователь соглашается с тем, что Администрация Сайта в лице модераторов оставляет за собой право удалять любые материалы, а так же блокировать или удалять профайлы пользователей без объяснения причин.
						</p>
						
						<p>
						2.2.6. Действия Пользователя не должны нарушать прав граждан, других пользователей Сайта, в том числе право на неприкосновенность частной жизни, личную и семейную тайну, честь, достоинство и доброе имя. В частности Пользователь не вправе собирать, систематизировать, хранить или распространять любым способом информацию, размещенную другими пользователями Сервиса, а равно предоставлять третьим лицам возможность совершения указанных действий с использованием предоставленного Пользователю доступа к Сервису.
						</p>
						
						<p>
						2.3. Пользователь соглашается с тем, что размещаемая им на Сайте Информация, доступна для других пользователей, как непосредственно на Сайте, так и путем трансляции различными техническими средствами со ссылкой на первоначальный источник (с помощью почтовой рассылки, RSS, embedcode т.д.), в том объеме, в котором Пользователь оставил Информацию на Сайте.
						</p>
						
						<p>
						2.4. Пользователь соглашается, что Информация (любая её часть), доступ к которой не закрыт или не ограничен, считается общедоступной и не требует соблюдения режима ее конфиденциальности.
						</p>
						
						<p>
						2.5. Пользователь соглашается с тем, что, размещая или распространяя при помощи Сайта либо его Сервисов любую Информацию, он позволяет её использовать Сайту и пользователям Интернета (в том числе незарегистрированным пользователям Сайта) в соответствии с настоящим Соглашением безвозмездно, бессрочно, если такое использование не противоречит законодательству РФ. При этом Пользователь должен самостоятельно оценивать все риски, связанные с использованием информации, размещенной другими пользователями, включая оценку их достоверности, полноты или полезности.
						</p>
						
						<p>
						2.6. Пользователь соглашается с тем, что Администрация Сайта вправе разрешить третьим лицам, в том числе издателям и рекламным сетям, размещать рекламу на Сайте. В связи с этим Пользователь соглашается с тем, что любое из таких третьих лиц вправе размещать куки-файлы на компьютере Пользователя с целью идентификации компьютера Пользователя каждый раз, когда эти компании посылают Пользователю онлайн-рекламу. При этом у Пользователя имеется понимание того, что Администрация Сайта не контролирует использование куки-файлов Пользователя третьими лицами при размещении рекламы. Пользователь вправе запретить использование его личной информации третьими лицами для распространения рекламы. Такой запрет не влияет на возможность просмотра рекламных сообщений на Сайте.
						</p>
						
						<p>
						3. Ответственность
						</p>
						
						<p>
						3.1. Пользователь самостоятельно несет ответственность перед третьими лицами за свои действия при использовании Сайта и Сервисов, в том числе за то, что они соответствуют требованиям законодательства и не нарушают права и законные интересы третьих лиц. Пользователь самостоятельно и за свой счет обязуется урегулировать все претензии третьих лиц, связанные с действиями Пользователя при использовании Сервиса.
						</p>
						
						<p>
						3.2. Сайт имеет право без уведомления по собственному усмотрению удалить полностью или частично размещенную Пользователем Информацию, в частности, в случае размещения Пользователем на Сайте Информации, комментариев или совершения иных действий, не соответствующих требованиям настоящего Соглашения.
						</p>
						
						<p>
						3.3. За нарушение положений настоящего Соглашения и иных применимых документов, может блокировать доступ Пользователя к Сайту и Сервису и/или удалить профиль Пользователя без предварительного уведомления.
						</p>
						
						<p>
						3.4. Сайт не несет ответственности за использование третьими лицами Информации, размещенной Пользователем на Сайте, включая её воспроизведение и распространение, осуществленные как в рамках Сайта и Сервиса, так и иными возможными способами.
						</p>
						
						<p>
						3.5. Сайт не проверяет, не изменяет и не принимает на себя обязательств по контролю содержания информации, размещаемой пользователями в рамках Сайта и Сервисов, и не гарантирует и не несет ответственности за её достоверность, законность, качество, а также степень соответствия информации конкретным запросам и потребностям пользователей Сервиса.
						</p>
						
						<p>
						3.6. Сайт не несёт ответственности за содержание не принадлежащих Сайту, ссылки на которые могут присутствовать в составе Информации и не гарантирует их доступности, корректной работы и соответствия заявленной тематике.
						</p>
						
						<p>
						3.7. Сайт не возмещает никакой ущерб, прямой или косвенный, причиненный Пользователю или третьим лицам в результате использования или невозможности использования Сайта и/или Сервисов.
						</p>
						
						<p>
						4. Прочие условия
						</p>
						
						<p>
						4.1. Сервис предоставляется Сайтом «как есть». Сайт не гарантирует соответствие информации и Сервисов целям и ожиданиям Пользователя, их бесперебойную и безошибочную работу, а также сохранность профиля Пользователя, размещенных Пользователем на Сайте Информации.
						</p>
						
						<p>
						4.2. Все претензии, связанные с использованием/невозможностью использования Сайта и/или Сервисов, должны направляться по электронной почте: info@dcp-china.ru
						</p>
						
						<p>
						4.3. Сайт не удаляет контент Пользователей dcp-china.ru по запросу третьих лиц.
						</p>  
						
						<p>
						4.4. Сайт вправе в любое время без уведомления Пользователя изменять текст настоящего Соглашения и/или любые иные условия использования Сайта и Сервисов. В ситуациях, не описанных настоящим Соглашением, администрация имеет право действовать по своему усмотрению.
						</p>
						
						<p>
						</p>
						
						
						<p>
						</p>
                    </div>
                </div>
             <!--   <div class="col-md-4 col-lg-3">
                    <h2 class="side-nav-title">Горячая линия</h2>
                    <ul class="side-phones">
                        <li>
                            <div class="side-phones-title">Китай</div>
                            <div class="side-phones-num">+86 130 96636644</div>
                        </li>
                        <li>
                            <div class="side-phones-title">Россия</div>
                            <div class="side-phones-num">+7 978 7022280</div>
                        </li>
                        <li>
                            <div class="side-phones-title">Казахстан</div>
                            <div class="side-phones-num">+7 978 7022280</div>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div><!-- END container -->
    </div><!-- END all-pages-head -->
    
</div>