@{
    ViewBag.Title = "Обработка персональных данных";
	ViewBag.Description = "Согласие на обработку персональных данных, .";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main has-gray-bg is-full-screen">
    <div class="all-pages-head">
        <div class="container">
            <h1 class="all-pages-H1 has-underline">СОГЛАСИЕ НА ОБРАБОТКУ ДАННЫХ</h1>
            <div class="row top-50">
                <div class="col-md-8 col-lg-9">
                    <div class="user-content">
                        <p>
                           СОГЛАШЕНИЕ НА ОБРАБОТКУ ДАННЫХ: 
                       	</p>
						Присоединяясь к настоящему Соглашению и оставляя свои данные на cайте dcp-china.ru , (далее – Сайт), путем заполнения полей: онлайн-заявки на лечение, форму обратной связи, форма заказать звонок, форма регистрации на Сайте, форма редактирования личных данных в разделе наши дети Пользователь:
						<p>
                            <ul class="sec-procedure-list">
                            <li>подтверждает, что указанные им персональные данные принадлежат лично ему;</li>
                            <li>признает и подтверждает, что он внимательно и в полном объеме ознакомился с настоящим Соглашением и содержащимися в нем условиями обработки его персональных данных, указываемых им в полях онлайн заявки (регистрации) на сайте;</li>
                            <li>признает и подтверждает, что все положения настоящего Соглашения и условия обработки его персональных данных ему понятны;</li>
                            <li>дает согласие на обработку Сайтом предоставляемых персональных данных в целях: регистрации Пользователя на Сайте, подачи заявки на лечение, совершения обратного звонка, ответа на поставленные вопросы в форме обратной связи, оказания материальной помощи ребенку;</li>
                            <li>выражает согласие с условиями обработки персональных данных без каких-либо оговорок и ограничений.</li>
                          </ul>
                       	</p>
						Пользователь дает свое согласие на обработку его персональных данных, а именно совершение действий, предусмотренных п. 3 ч. 1 ст. 3 Федерального закона Российской Федерации от 27.07.2006 N 152-ФЗ «О персональных данных», и подтверждает, что, давая такое согласие, он действует свободно, своей волей и в своем интересе.
						<p>
                           Согласие Пользователя на обработку персональных данных является конкретным, информированным и сознательным.
Настоящее согласие Пользователя применяется в отношении обработки следующих персональных данных:
                       	</p>						
<ul class="sec-procedure-list">
                            <li>фамилия, имя, отчество;</li>
                            <li>место пребывания (город, область);</li>
                            <li>номера телефонов;</li>
                            <li>адресах электронной почты (E-mail);</li>
                            <li>даты рождения;</li>
							<li>номера заграничного паспорта;</li>
							<li>личных банковских реквизитов для благотворительности;</li>
							<li>медицинских данных пациента (диагноз, анамез, противопоказания, физические данные);</li>
							<li>данные о местах предыдущих лечений;</li>
							<li>результаты лечения;</li>
							<li>отзывы о лечении;</li>
							<li>личные фотографии.</li>
                          </ul>
							
							<p>                                   	
						  Пользователь, предоставляет сервису dcp-china.ru право осуществлять следующие действия (операции) с персональными данными:
						  </p>
<ul class="sec-procedure-list">
                            <li>сбор и накопление;</li>
                            <li>хранение в течение установленных нормативными документами сроков хранения отчетности, но не менее трех лет, с момента даты прекращения пользования услуг Сайта Пользователем;</li>
                            <li>уточнение (обновление, изменение);</li>
                            <li>использование в целях регистрации Пользователя на Сайте;</li>
                            
							<li>уничтожение;</li>
							<li>передача по требованию суда, в т.ч. третьим лицам, с соблюдением мер, обеспечивающих защиту персональных данных от несанкционированного доступа.</li>
	                       </ul>
						   
<p>  Указанное согласие действует бессрочно с момента предоставления данных и может быть отозвано Вами путем подачи заявления администрации Сайта с указанием данных, определенных ст. 14 Закона Российской Федерации «О персональных данных».                       	
											  </p>
<p>

Отзыв согласия на обработку персональных данных может быть осуществлен путем направления Пользователем соответствующего распоряжения в простой письменной форме на адрес электронной почты (E-mail) info@dcp-china.ru
</p> <p>
Сайт не несет ответственности за использование (как правомерное, так и неправомерное) третьими лицами информации, размещенной Пользователем на Сайте, включая её воспроизведение и распространение, осуществленные всеми возможными способами.
</p>
<p>
Сайт имеет право вносить изменения в настоящее Соглашение. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Соглашения вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Соглашения.
</p>
<p>
Действующая редакция всегда находится на странице по адресу: http://dcp-china.ru/Home/Privacy
</p>
<p>
К настоящему Соглашению и отношениям между пользователем и Сайтом, возникающим в связи с применением Соглашения подлежит применению материальное и процессуальное право Российской Федерации.
</p>
<p>
Сбор данных о Пользователе из социальных сетей:
</p>
<p>
В целях оптимизации работы сервиса и взаимодействия с Пользователем Сайт вправе собирать указанные в настоящем разделе данные о Пользователе из социальных сетей:
</p>
•	vk.com;
•	иные системы размещения персональных данных при наличии ссылки на это на Сайте.
<ul class="sec-procedure-list">
                            <li>vk.com;</li>
                            <li>ok.com</li>
                              </ul>

								Редакция от 06 июля 2017 года 					
						
						
                    </div>
                </div>
             <!--   <div class="col-md-4 col-lg-3">
                    <h2 class="side-nav-title">Горячая линия</h2>
                    <ul class="side-phones">
                        <li>
                            <div class="side-phones-title">Китай</div>
                            <div class="side-phones-num">+86 130 96636644</div>
                        </li>
                        <li>
                            <div class="side-phones-title">Россия</div>
                            <div class="side-phones-num">+7 978 7022280</div>
                        </li>
                        <li>
                            <div class="side-phones-title">Казахстан</div>
                            <div class="side-phones-num">+7 978 7022280</div>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div><!-- END container -->
    </div><!-- END all-pages-head -->
    
</div>