
<div class="main has-gray-bg is-full-screen">
    <div class="container">
        <div class="all-pages-head medicine-head">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="medicine-head-links">
                        <li><a href="@Url.Action("Medicine", "Home")"><span>Препараты</span></a></li>
                        <li><h1><span>Процедуры</span></h1></li>
                    </ul>
                    <div class="medicine-subtitle">
                        Вводный текст о процедурах - весь необходимый комплекс эффективных
                        процедур по европейским и китайским методикам...
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="medicine-head-prop">
                        <div class="prop-icon">
                            <img src="~/Content/images/medicine/prop-icon_2.png" alt="Медицинский персонал">
                        </div>
                        <div class="prop-text">
                            Медицинский персонал клиник имеет высокую квалификацию и многолетний опыт успешной практики
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="medicine-head-prop">
                        <div class="prop-icon">
                            <img src="~/Content/images/medicine/prop-icon_3.png" alt="Удобные процедурные">
                        </div>
                        <div class="prop-text">
                            Удобные процедурные кабинеты оснащены современнным диагностическим и лечебным оборудованием
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="medicine-head-prop">
                        <div class="prop-icon">
                            <img src="~/Content/images/medicine/prop-icon_4.png" alt="Эффективность и показатели">
                        </div>
                        <div class="prop-text">
                            Надо что-то сформулировать про эффективность и показатели
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- END all-pages-head -->
    </div><!-- END container -->

    <div class="all-pages-body procedure-body">
        <div class="container">
            <div class="row">

                <div class="col-md-9 procedure">
                    <div class="procedure-img">
                        <a href="#" title="Акупунктура">
                            <img src="~/Content/images/procedures/procedures_1.jpg" alt="Акупунктура">
                        </a>
                    </div>
                    <div class="procedure-txt">
                        <h3 class="procedure-title">
                            <a href="#">Акупунктура (иглоукалывание)</a>
                        </h3>
                        <div class="procedure-note">
                            Направление в традиционной китайской медицине, в котором воздействие на организм
                            осуществляется специальными иглами через особые точки на теле посредством введения
                            их в эти точки и манипуляций ими.<br><br>
                            В наших клиниках производится иглоукалывание головы, спины, на глаза,
                            на лицо и на руки.
                        </div>
                        <div class="procedure-btm">
                            <a class="btn btn-light" href="#">Подробнее</a>
                        </div>
                    </div>
                </div><!-- END procedure -->

                <div class="col-md-9 procedure">
                    <div class="procedure-img">
                        <a href="#" title="Физиотерапия">
                            <img src="~/Content/images/procedures/procedures_2.jpg" alt="Физиотерапия">
                        </a>
                    </div>
                    <div class="procedure-txt">
                        <h3 class="procedure-title">
                            <a href="#">Физиотерапия</a>
                        </h3>
                        <div class="procedure-note">
                            Физиотерапевтические процедуры способствуют расширению кровеносных сосудов,
                            усилению тока крови, нормальному кровообращению, улучшают питание нервной и
                            мышечной ткани, удаляют застойные явления и воспалительные процессы.<br><br>
                            Какие процедуры производятся в клиниках?
                        </div>
                        <div class="procedure-btm">
                            <a class="btn btn-light" href="#">Подробнее</a>
                        </div>
                    </div>
                </div><!-- END procedure -->

                <div class="col-md-9 procedure">
                    <div class="procedure-img">
                        <a href="#" title="Массаж">
                            <img src="~/Content/images/procedures/procedures_3.jpg" alt="Массаж">
                        </a>
                    </div>
                    <div class="procedure-txt">
                        <h3 class="procedure-title">
                            <a href="#">Массаж</a>
                        </h3>
                        <div class="procedure-note">
                            Физиотерапевтические процедуры способствуют расширению кровеносных сосудов,
                            усилению тока крови, нормальному кровообращению, улучшают питание нервной и
                            мышечной ткани, удаляют застойные явления и воспалительные процессы.<br><br>
                            Какие процедуры производятся в клиниках?
                        </div>
                        <div class="procedure-btm">
                            <a class="btn btn-light" href="#">Подробнее</a>
                        </div>
                    </div>
                </div><!-- END procedure -->

                <div class="col-md-9 procedure">
                    <div class="procedure-img">
                        <a href="#" title="Лечебная физкультура">
                            <img src="~/Content/images/procedures/procedures_4.jpg" alt="Лечебная физкультура">
                        </a>
                    </div>
                    <div class="procedure-txt">
                        <h3 class="procedure-title">
                            <a href="#">Лечебная физкультура</a>
                        </h3>
                        <div class="procedure-note">
                            Физиотерапевтические процедуры способствуют расширению кровеносных сосудов,
                            усилению тока крови, нормальному кровообращению, улучшают питание нервной и
                            мышечной ткани, удаляют застойные явления и воспалительные процессы.<br><br>
                            Какие процедуры производятся в клиниках?
                        </div>
                        <div class="procedure-btm">
                            <a class="btn btn-light" href="#">Подробнее</a>
                        </div>
                    </div>
                </div><!-- END procedure -->

                <div class="col-md-9 procedure">
                    <div class="procedure-img">
                        <a href="#" title="Обколки">
                            <img src="~/Content/images/procedures/procedures_5.jpg" alt="Обколки">
                        </a>
                    </div>
                    <div class="procedure-txt">
                        <h3 class="procedure-title">
                            <a href="#">Обколки</a>
                        </h3>
                        <div class="procedure-note">
                            Инъекции препаратов в биологически активные точки являются результатом
                            интеграции теорий китайской и европейской медицины.<br><br>
                            Какие виды обколок производятся в клиниках?
                        </div>
                        <div class="procedure-btm">
                            <a class="btn btn-light" href="#">Подробнее</a>
                        </div>
                    </div>
                </div><!-- END procedure -->

                <div class="col-md-9 procedure">
                    <div class="procedure-img">
                        <a href="#" title="Мелкая моторика">
                            <img src="~/Content/images/procedures/procedures_6.jpg" alt="Мелкая моторика">
                        </a>
                    </div>
                    <div class="procedure-txt">
                        <h3 class="procedure-title">
                            <a href="#">Мелкая моторика</a>
                        </h3>
                        <div class="procedure-note">
                            Инъекции препаратов в биологически активные точки являются результатом интеграции
                            теорий китайской и европейской медицины.<br><br>
                            Какие виды обколок производятся в клиниках?
                        </div>
                        <div class="procedure-btm">
                            <a class="btn btn-light" href="#">Подробнее</a>
                        </div>
                    </div>
                </div><!-- END procedure -->

                <div class="col-md-9 procedure">
                    <div class="procedure-img">
                        <a href="#" title="Логопедический массаж">
                            <img src="~/Content/images/procedures/procedures_7.jpg" alt="Логопедический массаж">
                        </a>
                    </div>
                    <div class="procedure-txt">
                        <h3 class="procedure-title">
                            <a href="#">Логопедический массаж</a>
                        </h3>
                        <div class="procedure-note">
                            Инъекции препаратов в биологически активные точки являются результатом
                            интеграции теорий китайской и европейской медицины.<br><br>
                            Какие виды обколок производятся в клиниках
                        </div>
                        <div class="procedure-btm">
                            <a class="btn btn-light" href="#">Подробнее</a>
                        </div>
                    </div>
                </div><!-- END procedure -->

                <div class="col-md-9 procedure">
                    <div class="procedure-img">
                        <a href="#" title="Кинезиологическое тейпирование">
                            <img src="~/Content/images/procedures/procedures_8.jpg" alt="Кинезиологическое тейпирование">
                        </a>
                    </div>
                    <div class="procedure-txt">
                        <h3 class="procedure-title">
                            <a href="#">Кинезиологическое тейпирование</a>
                        </h3>
                        <div class="procedure-note">
                            Инъекции препаратов в биологически активные точки являются результатом
                            интеграции теорий китайской и европейской медицины.<br><br>
                            Какие виды обколок производятся в клиниках
                        </div>
                        <div class="procedure-btm">
                            <a class="btn btn-light" href="#">Подробнее</a>
                        </div>
                    </div>
                </div><!-- END procedure -->

            </div><!-- END row -->
        </div><!-- END container -->

    </div><!-- END all-pages-body -->
</div><!-- END main -->