@{
    ViewBag.Title = "Условия и правила в клинике";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main" role="main">
    <div class="container">
        <div class="all-pages-body">
            <div class="userdata-wrap">
                <div class="user-content">
                    <h1>Условия и правила в клинике</h1>
                    
                    <p>
                        Спасибо за согласие с нашими Правилами.
                    </p>
                    <p>
                        Файл с Правилами будет сохранён к Вам в Кабинет, в Мои файлы.
                    </p>
                </div><!-- END user-content styles -->
            </div><!-- END content-wrap -->
        </div><!-- END all-pages-body -->

    </div><!-- END container -->

</div>
