<div class="main" role="main">
    <div class="container">
        <div class="all-pages-head">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="all-pages-H1">Баланс</h1>
                </div>
                <div class="col-lg-6">
                    <div class="head-info mob-md-mw-313">
                        <div class="head-money">
                            <span class="txt-data">1</span>
                            <span class="txt-note">юань</span>
                            <span class="txt-data">=</span>
                            <span class="txt-data">10,4</span>
                            <span class="txt-note">руб</span>
                        </div>
                        <div class="head-weather">
                            <span class="txt-note">В юнчене</span>
                            <span class="txt-data">21:56</span>
                            <span class="txt-data">+11&#176;</span>
                            <span class="txt-note">Пасмурно</span>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- END all-pages-head -->

        <div class="all-pages-body">
            <div class="row">
                <div class="col-lg-10 col-md-9">
                    <div class="content-wrap">
                        <div class="user-content">
                            <h1>Заголовок первого уровня</h1>
                            <div class="lead">
                                Лид - вводный текст. Основная мысль вкратце или маркетинговый текст (слоган). Не более 2-3
                                предложений. Можно использовать первый абзац текста. Делает плавным переход от заголовка
                                к тексту
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Adipisci animi consequatur cum
                                debitis deleniti enim esse, et excepturi exercitationem expedita illo itaque labore libero
                                magni molestias mollitia, necessitatibus nemo perferendis quibusdam quo, repudiandae sed
                                sunt tempore ullam vel. Mollitia, quidem.
                            </p>
                            <p>
                                Ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi consequatur cum
                                debitis deleniti enim esse, et excepturi exercitationem expedita illo itaque labore libero
                                magni molestias mollitia, necessitatibus nemo perferendis quibusdam quo, repudiandae sed
                                sunt tempore ullam vel. Mollitia, quidem.
                            </p>
                            <h2>Заголовок второго уровня</h2>
                            <h3>Заголовок третьего уровня</h3>
                            <h4>Заголовок четвертого уровня</h4>
                            <p>
                                Параграф lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad distinctio error nisi nulla
                                porro? Amet consequuntur delectus dignissimos esse fuga, itaque libero neque nobis odio odit
                                optio quaerat quod reiciendis repellat suscipit vero <a href="#">voluptate</a>? Animi at atque
                                debitis, eos ipsam itaque mollitia omnis porro provident rem sunt suscipit temporibus vel.
                            </p>

                            <img src="Content/images/temp/panorama_1.jpg" alt="Panorama">

                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur eligendi ipsam molestias
                                necessitatibus quidem quos sapiente, veritatis voluptatem voluptates.
                            </p>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Операции со счетом</th>
                                        <th>Дата</th>
                                        <th>В валюте</th>
                                        <th>В монетах</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Бонус за 10 постов в ленте впечатлений</td>
                                        <td><span class="txt-light">12.05.2016</span></td>
                                        <td></td>
                                        <td>1000</td>
                                    </tr>
                                    <tr>
                                        <td>Перевод от пользователя Мария Иванова (Денис)</td>
                                        <td><span class="txt-light">12.05.2016</span></td>
                                        <td>30000 руб.</td>
                                        <td>3000</td>
                                    </tr>
                                    <tr>
                                        <td>Приобретение товара в магазине</td>
                                        <td><span class="txt-light">12.05.2016</span></td>
                                        <td></td>
                                        <td>9000</td>
                                    </tr>
                                    <tr>
                                        <td>Оплата процедуры - ЛФК</td>
                                        <td><span class="txt-light">12.05.2016</span></td>
                                        <td></td>
                                        <td>700</td>
                                    </tr>
                                    <tr>
                                        <td>Оплата процедуры - иглоукалывание</td>
                                        <td><span class="txt-light">12.05.2016</span></td>
                                        <td></td>
                                        <td>1000,54</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Футер таблицы</td>
                                        <td></td>
                                        <td>30000</td>
                                        <td>1300</td>
                                    </tr>
                                </tfoot>
                            </table>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis ex
                                fuga non perspiciatis praesentium repellendus sed tempora ullam veniam.
                            </p>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul>
                                        <li>Lorem ipsum dolor sit amet</li>
                                        <li>Lorem ipsum dolor sit amet</li>
                                        <li>Lorem ipsum <a href="#">dolor</a> sit amet</li>
                                        <li>Lorem ipsum dolor sit amet</li>
                                        <li>Lorem ipsum dolor sit amet</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ol>
                                        <li>Lorem ipsum dolor sit amet</li>
                                        <li>Lorem ipsum dolor sit amet</li>
                                        <li>Lorem ipsum <a href="#">dolor</a> sit amet</li>
                                        <li>Lorem ipsum dolor sit amet</li>
                                        <li>Lorem ipsum dolor sit amet</li>
                                    </ol>
                                </div>
                            </div>

                            <p>
                                Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Adipisci animi consequatur cum
                                debitis deleniti enim esse, et excepturi exercitationem expedita illo itaque labore libero
                                magni molestias mollitia, necessitatibus nemo perferendis quibusdam quo, repudiandae sed
                                sunt tempore ullam vel. Mollitia, quidem.
                            </p>
                            <blockquote class="explanation">
                                <div class="explanation-img">
                                    <img src="Content/images/procedures/procedure_explanation.jpg" alt="Акупунктура">
                                </div>
                                <div class="explanation-txt">
                                    <p>
                                        Процедура проводится тонкими (не толще 0,3 мм) иглами из нержавеющей стали, вводимыми
                                        под различными углами в кожный покров либо в мышечные ткани.
                                    </p>
                                    <p>
                                        Длительность сеанса зависит от локализации области воздействия и не превышает
                                        пятидесяти минут. Манипуляция практически бескровна и оказывает направленное
                                        местнораздражающее действие.
                                    </p>
                                </div>
                            </blockquote>
                            <p>
                                Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Adipisci animi consequatur cum
                                debitis deleniti enim esse, et excepturi exercitationem expedita illo itaque labore libero
                                magni molestias mollitia, necessitatibus nemo perferendis quibusdam quo, repudiandae sed
                                sunt tempore ullam vel. Mollitia, quidem.
                            </p>

                            <div class="content-slider">
                                <div class="content-slider__body js-content-slider">
                                    <div class="_slide">
                                        <img class="_slide-img" src="Content/images/temp/slide_1.jpg" alt="Мы ждём начинающих специалистов">
                                        <div class="_slide-txt">
                                            Подпись к изображению Мы ждём начинающих специалистов по интернет-маркетингу и тех,
                                            кто только планирует
                                        </div>
                                    </div>
                                    <div class="_slide">
                                        <img class="_slide-img" src="Content/images/temp/slide_2.jpg" alt="Мы ждём начинающих специалистов">
                                        <div class="_slide-txt">
                                            Подпись к изображению Мы ждём начинающих специалистов по интернет-маркетингу и тех,
                                            кто только планирует Подпись к изображению Мы ждём начинающих специалистов по интернет-маркетингу и тех,
                                            кто только планирует
                                        </div>
                                    </div>
                                    <div class="_slide">
                                        <img class="_slide-img" src="Content/images/temp/slide_3.jpg" alt="Мы ждём начинающих специалистов">
                                        <div class="_slide-txt">
                                            Подпись к изображению Мы ждём начинающих специалистов по интернет-маркетингу и тех,
                                            кто только планирует Подпись к изображению Мы ждём начинающих специалистов по интернет-маркетингу и тех,
                                            кто только планирует Подпись к изображению Мы ждём начинающих
                                        </div>
                                    </div>
                                </div>
                                <div class="content-slider__count js-slide-count">
                                    <span class="_slide-now">1</span> /<span class="_slide-all">5</span>
                                </div>
                            </div>

                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci aliquam animi, eligendi enim, error
                                est excepturi explicabo hic laudantium molestias neque quod? A, necessitatibus.
                            </p>

                            <div class="doctor">
                                <div class="doctor-img">
                                    <img alt="Су Цзюнь" src="Content/images/doctors/doctor_boss_170x170.jpg">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Су Цзюнь</div>
                                    <div class="doctor-post">Главный невролог, заслуженный врач КНР</div>
                                    <div class="doctor-note">
                                        Автор методики, упешно применямой в больницах
                                        города Юньчень и центах реабилитации по всему миру.
                                    </div>
                                </div>
                            </div>

                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi dignissimos dolores
                                est ipsam natus omnis perspiciatis quae quod sequi?
                            </p>

                            <div class="accordion">
                                <div class="accordion-section">
                                    <a class="accordion-bttn js-accordion-toggle" role="button">
                                        Можно ли оправить заявку на лечение и все необходимые копии документов, но без копии
                                        загранпаспортов, так они в процессе оформления?
                                    </a>
                                    <div class="accordion-body">
                                        <p>
                                            Сегодня предпринимателю малого бизнеса очень непросто на рынке, нужно найти
                                            способы и средства, чтобы дело эффективно работало, принося моральный и финансовый
                                            результат. Первое с чего нужно начать ту самую оптимизацию — это открывать новые
                                            деловые.
                                        </p>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi delectus,
                                            excepturi incidunt ipsum modi non quaerat unde ut velit!
                                        </p>
                                    </div>
                                </div><!-- END accordion-section -->

                                <div class="accordion-section">
                                    <a class="accordion-bttn js-accordion-toggle" role="button">Выпадающий блок номер Два</a>
                                    <div class="accordion-body">
                                        <p>
                                            Сегодня предпринимателю малого бизнеса очень непросто на рынке, нужно найти
                                            способы и средства, чтобы дело эффективно работало, принося моральный и финансовый
                                            результат. Первое с чего нужно начать ту самую оптимизацию — это открывать новые
                                            деловые.
                                        </p>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi delectus,
                                            excepturi incidunt ipsum modi non quaerat unde ut velit!
                                        </p>
                                    </div>
                                </div><!-- END accordion-section -->

                                <div class="accordion-section">
                                    <a class="accordion-bttn js-accordion-toggle" role="button">Выпадающий блок номер три</a>
                                    <div class="accordion-body">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolores illo nemo
                                            rerum similique tenetur.
                                        </p>

                                        <div class="accordion">
                                            <!-- Вложенный аккордеон -->
                                            <div class="accordion-section">
                                                <a class="accordion-bttn js-accordion-toggle" role="button">Приказы Депэкономики</a>
                                                <div class="accordion-body">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
                                                        assumenda aut cum facilis ipsam laborum molestias natus sequi soluta temporibus?
                                                    </p>
                                                </div>
                                            </div><!-- END accordion__section-->
                                            <div class="accordion-section">
                                                <a class="accordion-bttn js-accordion-toggle" role="button">Приказы Депэкономики новые</a>
                                                <div class="accordion-body">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
                                                        assumenda aut cum facilis ipsam laborum molestias natus sequi soluta temporibus?
                                                    </p>
                                                </div>
                                            </div><!-- END accordion-section-->
                                        </div><!-- END accordion-->

                                    </div><!-- END accordion-body -->
                                </div><!-- END accordion-section -->
                            </div><!-- END accordion -->

                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ab commodi facilis
                                incidunt laborum, numquam officia reprehenderit sapiente similique soluta sunt temporibus,
                                tenetur veritatis. Accusantium blanditiis debitis nemo. Dolorem, fuga!
                            </p>

                            <p>
                                Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Adipisci animi consequatur cum
                                debitis deleniti enim esse, et excepturi exercitationem expedita illo itaque labore libero
                                magni molestias mollitia, necessitatibus nemo perferendis quibusdam quo, repudiandae sed
                                sunt tempore ullam vel. Mollitia, quidem.
                            </p>
                        </div><!-- END user-content styles -->
                    </div><!-- END content-wrap -->
                </div>

                <div class="col-lg-2 col-md-3">
                    <aside class="content-side">
                        <div class="side-unit">
                            <a href="#" class="side-banner">
                                <img class="side-banner-img" src="content/images/side-banner.jpg" alt="В нашем магазине">
                            </a>
                        </div>
                    </aside><!-- END content-side -->
                </div>

            </div>
        </div><!-- END all-pages-body -->

    </div><!-- END container -->

</div>