@model Cure.WebSite.Models.SubscriptionViewModel

@{
    ViewBag.Title = "Подписка/Отписка от новостей";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main" role="main">
    <div class="container">
        <div class="all-pages-head">
            <div class="user-content">
                <h1>Управление подпиской</h1>
                <div class="lead">
                    Управляйте Вашей подпиской на наши новости и акции
                </div>
                @if (Model.isSuccess)
                {
                    @Html.Raw(Model.isSubscribe
                        ? string.Format("<p>Адрес электронной почты {0} был успешно подписан на новости и акции.</p><p>Вы всегда сможете отписаться от данной рассылки, просто перейдя по ссылке указанной в любом нашем письме.</p>", Model.Email)
                        : string.Format("<p>Адрес электронной почты {0} был иключён из списка наших подписчиков.</p><p>Мы всегда будем рады видеть Вас в рядах наших подписчиков нова, для этого просто введите свой адрес в нижней части нашего сайта.</p>", Model.Email))
                }
                else
                {
                    <p>Операция с указанным адресом электронной почты не может быть выполнена. Обратитесь в техническую поддержку для решения Вашей проблемы.</p>
                }
                <p>Мы стараемся держать наших подписчиков в курсе событий и делать эту информацию интересной и познавательной.</p>
            </div>
        </div>
    </div>
</div>