@{
    ViewBag.Title = "Деньги в Китае? Какую мобильную связь выбрать. О продуктах питания.";
	ViewBag.Description = "Способы оплаты за лечение в Китае. В чем держать денежные средства и как их провести через границу. Мобильная связь в Китае. Продукты питания.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main is-full-screen" role="main">
    @Html.Partial("_ChinaMenu")

    <div class="all-pages-body price-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-content">
                        <h3>Деньги, мобильная связь, продукты</h3>
                        <h4>Деньги</h4>
                        <p>
                            Все расчеты на территории КНР осуществляют в национальной валюте – юанях.
                        </p>
                        <h4>Заплатить за лечение в Китае</h4>
                        <p>
                            Оплата лечения в Китае возможна:
                        </p>
                        <ul class="sec-procedure-list">
                            <li>внесением наличных юаней в больничную кассу;</li>
                            <li>перечислением безналичных юаней по системе ChinaUnionPay (картуChinaUnionPay можно получить в России);</li>
                            <li>переводом безналичных долларов США на банковский счет больницы.</li>
                        </ul>

                        <h4>Ввезти деньги в Китай</h4>

                        <ul class="sec-procedure-list">
                            <li>наличные. Каждый пересекающий границу может ввезти в КНР сумму наличных, не превышающую 5000 долларов США;</li>
                            <li>безналичные. Ограничений на ввоз банковских карт в КНР нет;</li>
                        </ul>
                        <p>
                            ВАЖНО! Собираясь на лечение в Китай, позаботьтесь о безотказной работе ваших карт. Обратитесь в банк с просьбой о выпуске новых карт, так как при размагничивании ленты или выходе из строя чипа вы не сможете осуществлять платежи.
                        </p>
                        <p>
                            Ввозите в Китай карты, относящиеся к системам VISA и MASTER CARD. Полезно иметь на руках две карты – и Визу, и Мастеркард. Подобная предусмотрительность поможет вам преодолеть последствия случайных сбоев в работе любой из систем.
                        </p>
                        <h4>Обмен денег в Юньчэне </h4>
                        <p>
                            Обменные пункты города Юньчэн принимают евро и доллары США, выдают юани. Обмен других валют невозможен. Если вы испытываете коммуникативные затруднения, попросите об обмене валюты больничного переводчика.
                        </p>
                        <p>
                            Снять деньги с карты удобнее всего в одном из трех банков, находящихся неподалеку от больницы. В банках расположены круглосуточно работающие банкоматы, обслуживающие карты систем VISA и MASTER CARD.
                        </p>
                        <p>
                            Вне зависимости от валютной принадлежности вашего счета, снять получится только юани. Курс пересчета одинаков во всех банковских учреждениях. Комиссия банка – от 1,5% до 3%. Единократно можно снять от 1000 до 3000 юаней – в зависимости от правил, установленных китайским банком.Кроме того, банки устанавливают суточные лимиты снятия наличных. Поэтому обратитесь в свой банк для уточнения суточного лимита на снятие наличных и при необходимости увеличить лимит на снятие.
                        </p>
                        <h4>Мобильная связь в Китае</h4>
                        <p>
                            В наше время мы не представляем свою жизнь без мобильного телефона. Находясь далеко от дома, в другой стране, быть постоянно на связи с близкими не представляет никакой сложности. Для того, чтобы оставаться на связи необходимо купить SIM-карту.
                        </p>

                        <ul class="sec-procedure-list">
                            <li>легко и дешево перезваниваться друг с другом в Китае;</li>
                            <li>связываться с переводчиком;</li>
                            <li>общаться с родными и близкими.</li>
                        </ul>
                        <p>
                            В Китае две основных компании на рынке мобильной связи — China Mobile и China Unicom. В городе Юньчэн наиболее дешевая связь у оператора China Unicom. Так же можно приобрести пакет интернета 3G-4G, действующий по всей стране, покупка и активация в офисе компании.
                        </p>
                        <p>
                            Проверка остатка на счету.
                            Отправить сообщение на номер 10010 с текстом «YE» (латиницей, без кавычек). В ответ придет сообщение о текущем балансе.
                        </p>
                        <p>
                            Пополнение счета.
                            Пополнить счет оператора ChinaUnicom можно в любом офисе компании. Достаточно указать номер телефона и сумму, на которую необходимо пополнить счет. Дождитесь отчета о пополнении!
                        </p>
                        <h4>Продукты питания</h4>
                        <p>
                            Еда имеет особое значение для китайцев. Опираясь на принцип «не трать впустую, да не будешь нуждаться», китайцы в развитии кулинарных традиций пришли к удивительному разнообразию продуктов, употребляемых в пищу. Это послужило развитию неповторимых традиций региональных кухонь. Для иностранцев все это может быть ошеломляющим. Удивительным, фантастическим, невероятно вкусным, ужасным или отвратительным – другим.
                        </p>
                        <p>
                            Рядом с больницей расположено множество ресторанов и закусочных в которых  Вы попробуете все многообразие китайской кухни.
                        </p>
                        <p>
                            Продукты питания для приготовления пищи можно купить в супермаркетах. Около больницы расположено 3 крупных супермаркета все на расстоянии не более 300 метров. Колхозный рынок расположен в 15-ти минутах ходьбы.
                        </p>
                        <p>
                            Отсутствуют следующие продукты питания: крупа манная, крупа гречневая, кофе черный растворимый, привычные колбасы и хлеб, творог, кефир, сливочное масло, свекла (красная), укроп, петрушка.
                        </p>
                        <p>
                            Черный чай — маленький ассортимент.
                        </p>
                    </div>
                </div>
                <!-- <div class="col-md-3 col-lg-offset-1">
                     <div class="side-nav">
                         <h4 class="side-nav-title">Консульские отделы и&nbsp;визовые центры</h4>
                         <h5 class="side-nav-subtitle">Россия</h5>
                         <div class="row">
                             <div class="col-lg-6">
                                 <ul class="side-nav-list">
                                     <li><a href="#">Москва</a></li>
                                     <li><a href="#">Санкт-Петербург</a></li>
                                     <li><a href="#">Хабаровск</a></li>
                                 </ul>
                             </div>
                             <div class="col-lg-6">
                                 <ul class="side-nav-list">
                                     <li><a href="#">Екатеринбург</a></li>
                                     <li><a href="#">Иркутск</a></li>
                                     <li><a href="#">Аккредитованный визовый центр стран Азии</a></li>
                                 </ul>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-lg-6">
                                 <h5 class="side-nav-subtitle">Украина</h5>
                                 <ul class="side-nav-list">
                                     <li><a href="#">Киев</a></li>
                                 </ul>
                             </div>
                             <div class="col-lg-6">
                                 <h5 class="side-nav-subtitle">Беларусь</h5>
                                 <ul class="side-nav-list">
                                     <li><a href="#">Минск</a></li>
                                 </ul>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-lg-6">
                                 <h5 class="side-nav-subtitle">Казахстан</h5>
                                 <ul class="side-nav-list">
                                     <li><a href="#">Астана</a></li>
                                     <li><a href="#">Алматы</a></li>
                                 </ul>
                             </div>
                             <div class="col-lg-6">
                                 <h5 class="side-nav-subtitle">Узбекистан</h5>
                                 <ul class="side-nav-list">
                                     <li><a href="#">Ташкент</a></li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                 </div> -->
            </div>  <!-- Блок «Поделиться» от Яндекса-->
            <script type="text/javascript" src="http://yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
            <script type="text/javascript" src="http://yastatic.net/share2/share.js" charset="utf-8"></script>
            <div style="text-align: left;" class="gallery-share ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir" data-counter=""></div>

        </div><!-- END container -->
    </div><!-- END all-pages-body -->

</div><!-- END main -->
