@{
    ViewBag.Title = "Как добраться до Юньченя. Самолетом или скоростным поездом.";
	ViewBag.Description = "Город Юньчэн находится в южной части провинции Шаньси. Прямые авиарейсы связывают Юньчэн с Пекином, Урумчи, Шанхаем, Сианем, Гуанчжоу.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main is-full-screen" role="main">
    @Html.Partial("_ChinaMenu")

    <div class="all-pages-body price-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-content">
                        <h3>В Юньчэн – поездом, самолетом</h3>
                        <p>
                            Попасть на лечение ДЦП в Китае можно, добравшись самолетом или поездом. Город Юньчэн находится в южной части провинции Шаньси и сообщается с множеством маршрутов. Прямые авиарейсы связывают Юньчэн с Пекином, Урумчи, Шанхаем, Сианем, Гуанчжоу. Пациентам, едущим на лечение в Китай из Казахстана, Киргизии, Узбекистана и Таджикистана удобно добираться в том числе  и через Урумчи.
                        </p>
                         <h4> Юньчэн на карте</h4>
                        </p>
                        <img src="~/Content/images/trips/dobratca_map_china_full_1.jpg" alt="где находится Юньчэн">
                        <p>

                        <h4>На лечение – самолетом!</h4>
                        <p>
                            Авиатранспорт наиболее удобен для поездки на лечение в Китай. Популярны прямые рейсы между Пекином и Юньчэном:
                        </p>
                        <p>
                            Пекин – Юньчэн
                        </p>
                        <ul class="sec-procedure-list">
                            <li>Рейс CA1237, вылет из Пекина в 11:55 (12:05), прилет в Юньчэн в 13:40 (14:00) </li>
                            <li>Рейс CA1139, вылет из Пекина в 19:15, прилет в Юньчэн в 21:20</li>
                        </ul>
                        <p>
                            Юньчэн – Пекин
                        </p>
                        <ul class="sec-procedure-list">
                            <li>Рейс СA1140, вылет из Юньчэна в 07:50, прилет в Пекин в 09:28 </li>
                            <li>Рейс CA1238, вылет из Юньчэна в 14:40, прилет в Пекин в 16:13</li>
                        </ul>
                        <p>
                            Сиань – Алматы
                        </p>
                        <ul class="sec-procedure-list">
                            <li>Рейс DV-778, вылет из Сианя в 17:50 , прилет в Алмату в 20:10</li>
                        </ul>
                        <p>
                            Алматы - Сиань
                        </p>
                        <ul class="sec-procedure-list">
                            <li>Рейс DV-777, вылет из Алматы в 10:00, прилет в Сиань в 16:15</li>
                        </ul>
                        <p>
                            В англоязычном формате принято написание:
                        </p>
                        <ul class="sec-procedure-list">
                            <li>Юньчэн – Yuncheng, короткое обозначение YCU;</li>
                            <li>Пекин – Beijing, короткое обозначение PEK;</li>
                            <li>Сиань – Xian, короткое обозначение SIA;</li>
                        </ul>
                        <p>
                            Проверить актуальность расписания, уточнить цену, заказать взрослые и детские билеты можно:
                        </p>
                        <ul class="sec-procedure-list">
                            <li>на сайте компании «Эйр Чайна» http://www.airchina.com (работает русскоязычный сервис);</li>
                            <li>на сайте компании «Аэрофлот» http://www.aeroflot.ru;</li>
                            <li>на сайте компании «Скат» http://www.scat.kz;</li>
                            <li>через турагентства (к стоимости билета добавляется комиссия посредника);</li>
                            <li>в авиакассах по месту вашего жительства;</li>
                            <li>при помощи онлайн-сервисов.</li>
                        </ul>
                        <p>
                            Стоимость авиабилетов зависит от отдаленности даты перелета, от количества мест, от направления («туда и обратно» дешевле).
                        </p>
                        <p>
                            Имейте запас времени!
                        </p>
                        <p>
                            В аэропорту Шоуду (Пекин) обслуживание рейсов на Юньчэн ведется в терминале №3. Рейсы из России, как правило прибывают к терминалу №2. Дорога между терминалами отнимает не менее получаса. Пассажиру с больным ребенком для пересадки понадобится больше времени! Планируйте стыковку рейсов в аэропорту Пекина с разрывом не менее два часа – тогда наверняка успеете.
                        </p>
                        <h4> В Юньчэн – поездом!</h4>
                        <p>
                            В Юньчэне построен новый железнодорожный вокзал, по степени комфорта равный аэропорту. Поезда из Пекина в Юньчэн – скоростные, время в пути пять-шесть часов. Салоны вагонов устроены по типу самолетных, однако железнодорожные кресла удобней, расстояние между рядами кресел больше, сервис разнообразней.
                        </p>
                        <p>
                            Сменяющиеся виды в окнах делают поездку из Пекина на лечение ДЦП в Юньчэн увлекательным путешествием. Несмотря на высокую (до 300 км/ч) скорость движения, едет состав плавно, трогается мягко, останавливается нечасто.
                        </p>
                        <p>
                            Для пассажиров поездов предусмотрено два класса комфортности. Разница в стоимости билетов в первый и второй класс достигает 30%. При этом железнодорожные билеты примерно втрое дешевле билетов на самолет.
                        </p>
                        <h4> Расписание поездов и стоимость билетов</h4>
                        <p>
                            Пекин - Юньчэн (после длительного перелета на самолете не рекомендуем путишествие в Юньчэн на поезде)
                        </p>
                        <ul class="sec-procedure-list">
                            <li>Рейс номер D2001, отправление из Пекина в 07:45, прибытие в Юньчэн 13:53. Стоимость билета в I класс 352 юаня, во II класс 265 юаней;</li>
                            <li>Рейс номер G605, отправление из Пекина в 10:28, прибытие в Юньчэн 16:20.Стоимость билета в I класс 420 юаней, во II класс 307 юаней;</li>
                            <li>Рейс номер D2003, отправление из Пекина в 13:18, прибытие в Юньчэн 19:32. Стоимость билета в I класс 352 юаня, во II класс 265 юанейПекин – Beijing, короткое обозначение PEK.</li>

                        </ul>
                        <p>
                            Юньчэн - Пекин
                        </p>
                        <ul class="sec-procedure-list">
                            <li>Рейс номер D2004, отправление из Юньчэна в 08:20, прибытие в Пекин 14:56. Стоимость билета в I класс 352 юаня, во II класс 265 юаней;</li>
                            <li>Рейс номер G616, отправление из Юньчэна в 11:52, прибытие в Пекин 17:28. Стоимость билета в I класс 420 юаней, во II класс 307 юаней;</li>
                            <li>Рейс номер D2006, отправление из Юньчэна в 14:25, прибытие в Пекин 20:39. Стоимость билета в I класс 352 юаня, во II класс 265 юаней.</li>

                        </ul>

<p>
                            Сиань – Юньчэн
                        </p>
                        <ul class="sec-procedure-list">
                            <li>Рейс номер D2564, отправление из Сианя в 18:44, прибытие в Юньчэн 20:08
                        Стоимость билета в I класс 90 юаня, во II класс 69 юаней;</li>
						<li>Рейс номер D2534, отправление из Сианя в 19:05, прибытие в Юньчэн 20:23
                        Стоимость билета в I класс 90 юаня, во II класс 69 юаней;</li>
                            
                        </ul>
						
						<p>
                            Юньчэн - Сиань 
                        </p>
                        <ul class="sec-procedure-list">
                            <li>Рейс номер D2503, отправление из Юньчэна в 10:34, прибытие в Сиань 11:55
                        Стоимость билета в I класс 90 юаней, во II класс 69 юаней;</li>
                                                    </ul>
<p>С помощью сайта http://travelchinaguide.com/ не сложно забронировать билеты на ЖД поезд. После заполнения всех форм и оплаты бронирования в течении 24 часов Вам будет предоставлена электронная бронь.  </p>
													<p>Ж/д билеты на высокоскоростные поезда должны быть забронированы как минимум за 1 день (за 60 дней максимум) до даты отправления</p>

<p>Все билеты на поезд - оригинальные бумажные билеты, электронные билеты не доступны. </p>
                        <div class="user-content">
                                <div class="video-helper clearfix">
                                    <h4>Ваш видеопомощник</h4>
                                    <div class="video-wrapper">
                                        <iframe width="100%" height="270" src="https://www.youtube-nocookie.com/embed/t1afoBAK__c?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <p> После успешного бронирования билетов, пожалуйста, пройдите к кассе на любом ж/д вокзале или к официальным кассам в материковом Китае с действительным удостоверением личности (используемым при бронировании) и номером билета для самостоятельного получения, который начинается с буквы E с последующим рядом чисел.  </p>
                                </div>
                            </div>




                    </div>
                </div>
                <!-- <div class="col-md-3 col-lg-offset-1">
                    <div class="side-nav">
                        <h4 class="side-nav-title">Консульские отделы и&nbsp;визовые центры</h4>
                        <h5 class="side-nav-subtitle">Россия</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="side-nav-list">
                                    <li><a href="#">Москва</a></li>
                                    <li><a href="#">Санкт-Петербург</a></li>
                                    <li><a href="#">Хабаровск</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="side-nav-list">
                                    <li><a href="#">Екатеринбург</a></li>
                                    <li><a href="#">Иркутск</a></li>
                                    <li><a href="#">Аккредитованный визовый центр стран Азии</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Украина</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Киев</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Беларусь</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Минск</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Казахстан</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Астана</a></li>
                                    <li><a href="#">Алматы</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Узбекистан</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Ташкент</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div><!-- Блок «Поделиться» от Яндекса-->
            <script type="text/javascript" src="http://yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
            <script type="text/javascript" src="http://yastatic.net/share2/share.js" charset="utf-8"></script>
            <div style="text-align: left;" class="gallery-share ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir" data-counter=""></div>

        </div><!-- END container -->
    </div><!-- END all-pages-body -->

</div><!-- END main -->
