@{
    ViewBag.Title = "Подготовка к поездке на лечение в город Юньчэн, Китай";
	ViewBag.Description = "Подготовка на лечение в Китай выглядит так: отправляете нам Заявку, необходимые медицинские документы. Мы переводим и …";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main is-full-screen" role="main">
    @Html.Partial("_ChinaMenu")

    <div class="all-pages-body price-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-content">
                        <h3>Вас пригласили на лечение</h3>
                        <p>
                            Если Вы решили приехать на лечение в Китай, и Вас пугают языковые проблемы и неизвестность, как всё это будет происходить, пожалуйста, не беспокойтесь!
                        </p>
                        <p>
                            Мы сделаем всё, чтобы Ваше пребывание в Китае было комфортным и качественным  для Вас, мы сделаем все преимущества лечения в Китае доступными для Вас. Для начала ознакомьтесь с информацией на этой странице.
                        </p>

                        <p>
                            Подготовка к поездке на лечение в Китай выглядит так:
                        </p>
                        <p>
                            Вы принимаете решение приехать на лечение в Китай и отправляете  нам Заявку на лечение, к которой прилагаете необходимые медицинские документы. Мы переводим Заявку на китайский язык. Предоставляем Заявку докторам нашей больницы которые определяют возможность лечения пациента по нашей методике. После положительного решения докторов согласовываем дату приезду и срок лечения. Бронируем для Вас место в больнице для лечения и квартиру для проживания. Подбираем для Вас наиболее подходящее лечение и  направляем Вам предварительный счёт и Приглашение.
                        </p>

                        <p>
                            Вы готовите общие документы для получения визы и записываетесь на приём в Посольство/Консульство Китайской Народной Республики Вашей страны. Для лечения в Китае оформляйте визу типа  S2.
                        </p>
                        <p>
                            Бронируете и выкупаете авиабилеты, сообщаете нам время прибытия. Отправляете нам заявку на сервисные услуги, которые потребуются Вам на территории Китая: помощь переводчика в Пекине, услуги сопровождения, услуги такси, встреча в аэропорту и на железнодорожном вокзале, и др.
                        </p>
                        <p>
                            Вы получаете визу для лечения  пациента и сопровождающего лица, подтверждаете дату и время прибытия.
                        </p>
                        <p>
                            Мы встречаем Вас в аэропорту (железнодорожном вокзале), сопровождаем к месту проживания. Помогаем в решении всех вопросов на протяжении всего срока лечения и пребывания в Китае.
                        </p>


                    </div>
                </div>
                <!-- <div class="col-md-3 col-lg-offset-1">
                     <div class="side-nav">
                         <h4 class="side-nav-title">Консульские отделы и&nbsp;визовые центры</h4>
                         <h5 class="side-nav-subtitle">Россия</h5>
                         <div class="row">
                             <div class="col-lg-6">
                                 <ul class="side-nav-list">
                                     <li><a href="#">Москва</a></li>
                                     <li><a href="#">Санкт-Петербург</a></li>
                                     <li><a href="#">Хабаровск</a></li>
                                 </ul>
                             </div>
                             <div class="col-lg-6">
                                 <ul class="side-nav-list">
                                     <li><a href="#">Екатеринбург</a></li>
                                     <li><a href="#">Иркутск</a></li>
                                     <li><a href="#">Аккредитованный визовый центр стран Азии</a></li>
                                 </ul>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-lg-6">
                                 <h5 class="side-nav-subtitle">Украина</h5>
                                 <ul class="side-nav-list">
                                     <li><a href="#">Киев</a></li>
                                 </ul>
                             </div>
                             <div class="col-lg-6">
                                 <h5 class="side-nav-subtitle">Беларусь</h5>
                                 <ul class="side-nav-list">
                                     <li><a href="#">Минск</a></li>
                                 </ul>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-lg-6">
                                 <h5 class="side-nav-subtitle">Казахстан</h5>
                                 <ul class="side-nav-list">
                                     <li><a href="#">Астана</a></li>
                                     <li><a href="#">Алматы</a></li>
                                 </ul>
                             </div>
                             <div class="col-lg-6">
                                 <h5 class="side-nav-subtitle">Узбекистан</h5>
                                 <ul class="side-nav-list">
                                     <li><a href="#">Ташкент</a></li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                 </div> -->
            </div><!-- Блок «Поделиться» от Яндекса-->
            <script type="text/javascript" src="http://yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
            <script type="text/javascript" src="http://yastatic.net/share2/share.js" charset="utf-8"></script>
            <div style="text-align: left;" class="gallery-share ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir" data-counter=""></div>

        </div><!-- END container -->
    </div><!-- END all-pages-body -->

</div><!-- END main -->
