@{
    ViewBag.Title = "Медицинское сопровождение в аэропортах при путишествии на лечение";
	ViewBag.Description = "Медицинское сопровождение в аэропртах. При прохождении паспортного контроля, досмотра личных вещей, посадка в самолет.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main is-full-screen" role="main">
    @Html.Partial("_ChinaMenu")

    <div class="all-pages-body price-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-content">
                        <h3>Медицинское сопровождение. <br> На лечение в Китай – без сложностей и хлопот!</h3>
                        <p>
                            Пассажирам, испытывающим затруднения в самостоятельном пешем передвижении, авиакомпании мира предоставляют специальный транспортный сервис. Граждан, приобретших билеты на авиарейсы и нуждающихся в помощи, обеспечивают креслами-каталками для передвижения по территории аэропорта.
                        </p>
                        <p>
                            Посадка в самолет пассажиров, передвигающихся в инвалидных креслах, осуществляется при помощи автономного лифт-подъемника (амбулифта).
                        </p>
                        <!--<img src="~/Content/images/temp/visa.jpg" alt="О визе">  -->
                        <p>
                            Транспортный сервис для инвалидов предоставляется бесплатно по предварительному заказу. Сообщить авиакомпании о необходимости предоставления пассажиру, следующему на лечение в Китай, кресла-каталки и амбулифта, нужно заранее.
                        </p>
                        <p>
                            Позаботьтесь об оповещении авиаперевозчика уже при приобретении билетов. Обязательно уточните, имеется ли в аэропорту вылета специальная техника и оборудование.
                        </p>
                        <h3>Алгоритм действий:</h3>
                        <p>
                            1. При покупке билета уточнить, имеется ли в аэропорту отправления амбулифт и сообщить кассиру о необходимости предоставления пассажиру специального транспортного сервиса (медицинского сопровождения).<br>

                            2. За один день до вылета связаться с авиаперевозчиком (бесплатные телефонные каналы работают круглосуточно) и заказать подачу инвалидной коляски к стойке регистрации билетов, а также амбулифт для посадки инвалида на коляске в самолет.<br>

                            3. При пользовании собственным креслом-каталкой следует указать этот факт в заявке.<br>

                            4. До начала посадки в самолет нужно сообщить служащим аэропорта, работающим за стойкой контроля посадочных талонов, о перевозке пассажира-инвалида. Вас и сопровождаемого вами инвалида посадят в самолет первыми.<br>

                            5. Незадолго до приземления напомните бортпроводникам о необходимости специального транспортного сервиса в аэропорту приземления. Стюарды снабдят вас подробными инструкциями о действиях в аэровокзале прилета, свяжутся с наземными службами, помогут с высадкой из самолета.<br>

                            Бесплатная услуга медицинского сопровождения для инвалидов предоставляется всеми авиакомпаниями, доставляющими пассажиров в Китай!<br>




                        </p>
                        <p>

                            <!--  <div class="row">
                                 <div class="col-md-4">
                                     <p>
                                         Образец приглашения для пациента и сопровождающих
                                     </p>
                                     <img src="~/Content/images/temp/visa_1.jpg" alt="О визе" data-action="zoom">
                                 </div>
                                 <div class="col-md-4">
                                     <p>
                                         Лицензия на осуществеление медицинской деятельности
                                     </p>
                                     <img src="~/Content/images/temp/visa_2.jpg" alt="О визе" data-action="zoom">
                                 </div>
                                 <div class="col-md-4">
                                     <p>
                                         Можно написать в каком виде предоставляется прглашение
                                     </p>
                                     <img src="~/Content/images/temp/visa_3.jpg" alt="О визе" data-action="zoom">
                                 </div>
                             </div>   END container -->
                            <!--   <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores dolores
                                    labore natus nesciunt voluptatem, voluptates! Eos hic itaque libero molestias nostrum
                                    sunt totam vero! Odio odit provident quo, rem sed sit suscipit. A alias fuga harum id
                                    ipsum iusto minus, molestiae nihil perferendis quod ratione repellat reprehenderit totam
                                    voluptas!
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet autem cumque delectus
                                    facilis fugit in ipsum iusto magnam maxime necessitatibus, nesciunt placeat quibusdam
                                    quidem sunt ullam. A aspernatur cumque delectus distinctio ipsa, iure labore magni
                                    maiores necessitatibus officia placeat porro, possimus quasi quibusdam ratione
                                    suscipit voluptatem! Beatae consectetur corporis culpa doloremque enim, exercitationem
                                    ipsum iure odio provident quaerat quidem reiciendis sint soluta. Beatae, dolorem
                                    repudiandae? Ab aliquid aperiam aut blanditiis corporis culpa distinctio doloremque
                                    dolores ducimus enim excepturi expedita, inventore laboriosam laborum laudantium
                                    libero nemo non nostrum possimus quae quam, quas qui reiciendis repellendus suscipit
                                    tempora vero voluptas! Aliquid, culpa.
                                </p>-->
                    </div>
                </div>
                <div class="col-md-3 col-lg-offset-1">
                    <div class="side-nav">
                        <h4 class="side-nav-title">Полезные ссылки</h4>
                        <h5 class="side-nav-subtitle">Медицинское сопровождение</h5>
                        <div class="row">

                            <ul class="side-nav-list">

                                <li><a href="http://www.aeroflot.com/ru-ru/information/preparation/special_transportation/disabled">АЭРОФЛОТ</a></li>
                                <li><a href=" http://www.s7.ru/info/faq/faq.dot?cat=before_flight&subCat=special_passengers#podvizhnost">S7</a></li>
                                <li><a href="https://www.airchina.ru/RU/RU/info/health-equipment/">AIR CHINA</a></li>
                                <li><a href="http://www.turkishairlines.com/en-int/travel-information/minors-mothers-to-be-incad/expectant-mothers-and-passengers-with-disability">Turkish Airlines</a></li>

                            </ul>

                        </div>

                        <!-- 	<div class="row">
                                <div class="col-lg-6">
                                    <ul class="side-nav-list">
                                        <li><a href="#">Москва</a></li>
                                        <li><a href="#">Санкт-Петербург</a></li>
                                        <li><a href="#">Хабаровск</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="side-nav-list">
                                        <li><a href="#">Екатеринбург</a></li>
                                        <li><a href="#">Иркутск</a></li>
                                        <li><a href="#">Аккредитованный визовый центр стран Азии</a></li>
                                    </ul>
                                </div>
                            </div> END container оригинал два столбца-->
                        <!--    можно удалять   <div class="row">
                                <div class="col-lg-6">
                                    <h5 class="side-nav-subtitle">Украина</h5>
                                    <ul class="side-nav-list">
                                        <li><a href="#">Киев</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <h5 class="side-nav-subtitle">Беларусь</h5>
                                    <ul class="side-nav-list">
                                        <li><a href="#">Минск</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <h5 class="side-nav-subtitle">Казахстан</h5>
                                    <ul class="side-nav-list">
                                        <li><a href="#">Астана</a></li>
                                        <li><a href="#">Алматы</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <h5 class="side-nav-subtitle">Узбекистан</h5>
                                    <ul class="side-nav-list">
                                        <li><a href="#">Ташкент</a></li>
                                    </ul>
                                </div>
                            </div> ....-->
                    </div>
                </div>
            </div><!-- Блок «Поделиться» от Яндекса-->
            <script type="text/javascript" src="http://yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
            <script type="text/javascript" src="http://yastatic.net/share2/share.js" charset="utf-8"></script>
            <div style="text-align: left;" class="gallery-share ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir" data-counter=""></div>

        </div><!-- END container -->
    </div><!-- END all-pages-body -->

</div><!-- END main -->
