
@{
    ViewBag.Title = "Оформление визы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main is-full-screen" role="main">
@Html.Partial("_ChinaMenu")

    <div class="all-pages-body price-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-content">
                        <h3>Оформление визы</h3>
                        <p>
                            Бесспорная эффективность современной китайской медицины зиждется на неторопливом и последовательном взаимодействии докторов и пациента. Чтобы лечение в Китае принесло ожидаемый результат, нужно заранее побеспокоиться о достаточности срока пребывания в стране и оформить визу нужного типа.
                        </p>
                        <p>
                            Иностранцам, прибывающим в Китай для лечения детей, подходит виза типа L или виза типа S2. Виза типа L предусматривает пребывание иностранного гражданина на территории Китая в течение 30-ти дней без возможности продления визита. Виза типа S2 предпочтительна: она может быть оформлена на срок до 180 дней и может быть продлена без выезда за пределы КНР.
                        </p>
						 
                          <p>
						  Примерный список документов для получения визы S2:
                        </p>
						<ul class="sec-procedure-list">
                            <li>загранпаспорт со сроком действия, превышающим продолжительность действия запрашиваемой визы (то есть полгода и более);</li>
                            <li>качественная ксерокопия внутреннего паспорта (страницы с фотографией и личными данными, страница регистрации);</li>
                            <li>два цветных фото размером 3 см на 4 см (светлый фон);</li>
                            <li>«Приглашение на лечение в Китае» - предоставляется больницей города Юньчэн вместе с Лицензией на право заниматься медицинской деятельностью;</li>
							<li> и другие документы необходимые для оформления визы (узнать в посольстве Вашей страны).</li>
                        </ul>
						
						 <img src="~/Content/images/temp/visa.jpg" alt="О визе">
                        <p>
                          <p>
						  При оформлении виз взимается консульский сбор. Для Российской федерации - не взимается, на Украине – 2500 гривень для виз однократного действия.
                        </p>
						<h3>Визы для детей</h3>  
						<p>
						  Для получения визы S2 для несовершеннолетнего, отправляющегося на лечение ДЦП в Китай, помимо загранпаспорта с достаточным сроком действия требуется:
                        </p>
						<ul class="sec-procedure-list">
                            <li>копия Свидетельства о рождении;</li>
                            <li>две цветные фотографии (30 мм на 40 мм, белый фон);</li>
                            <li>разрешение от остающегося на родине родителя на выезд ребенка за рубеж (нотариально заверенное);</li>
                            <li>копия Свидетельства о браке разнофамильных родителей;</li>
							 <li>- копия внутреннего паспорта родителя, остающегося в стране (страницы с фотографией и личными данными, страница регистрации); </li>
							<li> и другие документы необходимые для оформления визы (узнать в посольстве Вашей страны).</li>
                        </ul>
						<p>
						  При подаче документов в Китайское консульство либо визовый центр потребуется заполнение анкет на каждого выезжающего. Работники визовой службы могут запросить дополнительную информацию (о финансовом состоянии просителя, о месте работы, о маршруте следования, о датах пребывания и т.п.)
                        </p>
						<p>
						  Визу S2 можно продлить!
                        </p>
						<p>
						  Срок действия визы исчисляется с момента пересечения границы КНР по датированной отметке в паспорте. При этом так называемый «коридор визы» - промежуток времени, в течение которого виза дает право на въезд в Китай – может быть разным для граждан разных стран.
                        </p>
						<p>
						  Ответственность за правильность оформления и своевременность реализации визы лежит на владельце паспорта! Если вы нуждаетесь в продлении лечения в Китае, не менее чем за две недели до окончания срока действия визы S2 сообщите о своем намерении продлить действие визы администрации больницы в Юньчэне.
                        </p>
						
                        <div class="row">
                            <div class="col-md-4">
                                <p>
                                    Образец приглашения для пациента и сопровождающих
                                </p>
                                <img src="~/Content/images/temp/visa_1.jpg" alt="О визе" data-action="zoom">
                            </div>
                            <div class="col-md-4">
                                <p>
                                    Лицензия на осуществеление медицинской деятельности
                                </p>
                                <img src="~/Content/images/temp/visa_2.jpg" alt="О визе" data-action="zoom">
                            </div>
                            <div class="col-md-4">
                                <p>
                                    Можно написать в каком виде предоставляется прглашение
                                </p>
                                <img src="~/Content/images/temp/visa_3.jpg" alt="О визе" data-action="zoom">
                            </div>
                        </div>
                                            </div>
                </div>
                <div class="col-md-3 col-lg-offset-1">
                    <div class="side-nav">
                        <h4 class="side-nav-title">Консульские отделы и&nbsp;визовые центры</h4>
                        <h5 class="side-nav-subtitle">Россия</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="side-nav-list">
                                    <li><a href="#">Москва</a></li>
                                    <li><a href="#">Санкт-Петербург</a></li>
                                    <li><a href="#">Хабаровск</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="side-nav-list">
                                    <li><a href="#">Екатеринбург</a></li>
                                    <li><a href="#">Иркутск</a></li>
                                    <li><a href="#">Аккредитованный визовый центр стран Азии</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Украина</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Киев</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Беларусь</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Минск</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Казахстан</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Астана</a></li>
                                    <li><a href="#">Алматы</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Узбекистан</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Ташкент</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- END container -->
    </div><!-- END all-pages-body -->

</div><!-- END main -->

