html, body, body.page {
    font: normal normal normal 14px / 24px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
    word-spacing: normal;
    color: #888888;
    margin: 0;
    padding: 0;
}


/* Header */
.headerPane {
    background-color: #EDEDED; /**/
    background-position: right top;
    background-repeat: no-repeat;
    font-family: Tahoma;
}

    .headerPane .headerTop {
        height: 45px;
    }

.templateTitle {
    float: left;
    margin-left: 15px;
    margin-top: 11px;
}

    .templateTitle a {
        text-decoration: none;
        font-size: x-large;
        color: black;
    }

.loginControl {
    float: right;
    margin-top: 17px;
    margin-right: 25px;
    font-size: 12px;
}

    .loginControl a {
        color: black;
        text-decoration: none;
        border-bottom: dashed 1px black;
        display: inline-block;
    }

.headerMenu {
    margin-top: 11px;
}




/* Footer */
.footerPane {
    background-color: #EDEDED;
    height: 100%;
}

.footerMenu {
    float: right;
    padding-top: 7px;
}

.copyright {
    float: left;
    margin-left: 15px;
    margin-top: 100px;
}


/* Content */
.content {
    padding: 5px;
}

.panelsdelimiter {
    padding-top: 5px;
}

.content p {
    padding: 5px;
    font-size: 16px;
}

/*.content a
{
    color: red;
}*/
/*.hyperlink
{
    font-family: Georgia,serif;
    font-size: large;
}*/

.hyperlink:link {
    color: #ab82ff !important;
}

.hyperlink:visited {
    color: #eed8ae !important;
}

.hyperlink:hover {
    text-decoration: none;
    color: #eed8ae !important;
}

.hyperlink:active {
    color: red !important;
    text-decoration: none;
}

.hyperlink a {
    color: #ab82ff !important;
}

.item {
    padding: 5px;
    min-width: 150px;
}





/* Account */
.accountHeader h2 {
    margin: 10px 0 7px 0;
    font-size: 16px;
}

.accountHeader p {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.accountHeader {
    margin-bottom: 20px;
}

.form-field {
    margin-bottom: 8px;
}




/* Top menu */
.top-nav-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 36px;
    padding: 12px 0;
    font-size: 0;
    text-align: center;
    white-space: nowrap;
    background: #fffbf9;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

    .top-nav-wrap + form {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        padding: 60px 0 0 0 !important;
    }

.top-nav-logo {
    display: inline-block;
    margin: 0 10px;
}

    .top-nav-logo img {
        max-height: 100%;
        margin: -6px 0;
        vertical-align: top;
    }

.top-nav-list {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .top-nav-list li {
        display: inline-block;
        vertical-align: top;
        margin-right: 5px;
    }

        .top-nav-list li a {
            display: block;
            padding: 7px 10px 8px;
            color: #3b8ced;
            text-decoration: none;
            font-size: 15px;
            line-height: 19px;
            border-radius: 8px;
            border: 1px solid transparent;
        }

        .top-nav-list li.active a {
            color: #fff;
            background: #3b8ced;
            cursor: default;
        }

        .top-nav-list li a:hover {
            border-color: #3b8ced;
        }

.headerPane {
    color: #fff;
    background: #1079ea;
}

.templateTitle a {
    color: #fff;
}

.loginControl a {
    color: #fff;
    border-bottom: 1px dashed #fff;
}

/*Таблица*/
.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}

    .zui-table thead th {
        background-color: #DDEFEF;
        border: solid 1px #DDEEEE;
        color: #336B6B;
        padding: 10px;
        text-align: left;
        text-shadow: 1px 1px 1px #fff;
    }

    .zui-table tbody td {
        border: solid 1px #DDEEEE;
        color: #333;
        padding: 10px;
        text-shadow: 1px 1px 1px #fff;
    }

.zui-table-vertical tbody td {
    border-top: none;
    border-bottom: none;
}
