

<div class="popup popup-fullscreen" id="pop-doctor_1">
    <div class="popup-modal"></div>
    <a class="popup-close"></a>
    <a class="popup-prev js-show-popup" data-pop="pop-doctor_3"></a>
    <a class="popup-next js-show-popup" data-pop="pop-doctor_2"></a>
    <div class="popup-wrap">
        <div class="popup-body">
            <div class="slimpage-head">
                <div class="slimpage-head-img">
                    <img src="~/Content/images/procedures/procedure_page.jpg" alt="Акупунктура (иголерапия)">
                </div>
                <div class="slimpage-head-txt">
                    <div class="slimpage-head-title">Хэ Юйфэн 1</div>
                    <div class="slimpage-head-note">
                        Иглотерапевт, глава отделения иглоукалывания
                        и моксотерапии Второй народной больницы Юньчэна.
                    </div>
                </div>
            </div>
            <div class="slimpage-body">
                <div class="user-content">
                    <p>
                        Хэ Юйфэн родился в 1978-м году в Шочжоу. После окончания средней школы поступил в
                        Медицинский институт Университета Внутренней Монголии на факультет традиционной
                        китайской медицины. По окончании годичной практики в институтской клинике, последовавшей
                        после дипломирования, был приглашен в Шаньси, в физиотерапевтическое отделение
                        реабилитационной больницы.
                    </p>
                    <p>
                        Через год, в 2002-м году, Хэ Юйфэн получил приглашение в Шанхай, где более двух лет
                        проработал в отделении иглоукалывания местного реабилитационного центра. Именно в этот
                        период Хэ Юйфэн утвердился как специалист по лечению детей с физическими недостатками.
                    </p>
                    <p>
                        В течение десяти последующих лет Хэ Юйфэн был неоднократно отмечен как перспективный
                        врач и неутомимый исследователь древнекитайских лечебных методик. Огромный практический
                        опыт Хэ Юйфэном был наработан в научно-медицинских центрах республики, куда его приглашали
                        как выдающегося молодого специалиста.
                    </p>
                    <p>
                        Юйфэн добивается значительного прогресса в самых сложных клинических ситуациях.
                    </p>
                    <p>
                        Хэ Юйфэн родился в 1978-м году в Шочжоу. После окончания средней школы поступил в
                        Медицинский институт Университета Внутренней Монголии на факультет традиционной
                        китайской медицины. По окончании годичной практики в институтской клинике, последовавшей
                        после дипломирования, был приглашен в Шаньси, в физиотерапевтическое отделение
                        реабилитационной больницы.
                    </p>
                    <p>
                        Через год, в 2002-м году, Хэ Юйфэн получил приглашение в Шанхай, где более двух лет
                        проработал в отделении иглоукалывания местного реабилитационного центра. Именно в этот
                        период Хэ Юйфэн утвердился как специалист по лечению детей с физическими недостатками.
                    </p>
                    <p>
                        В течение десяти последующих лет Хэ Юйфэн был неоднократно отмечен как перспективный
                        врач и неутомимый исследователь древнекитайских лечебных методик. Огромный практический
                        опыт Хэ Юйфэном был наработан в научно-медицинских центрах республики, куда его приглашали
                        как выдающегося молодого специалиста.
                    </p>
                    <p>
                        Юйфэн добивается значительного прогресса в самых сложных клинических ситуациях.
                    </p>
                </div>
            </div>
        </div><!-- END popup-body -->
    </div><!-- END popup-wrap -->
</div><!-- popup-fullscreen -->

<div class="popup popup-fullscreen" id="pop-doctor_2">
    <div class="popup-modal"></div>
    <a class="popup-close"></a>
    <a class="popup-prev js-show-popup" data-pop="pop-doctor_1"></a>
    <a class="popup-next js-show-popup" data-pop="pop-doctor_3"></a>
    <div class="popup-wrap">
        <div class="popup-body">
            <div class="slimpage-head">
                <div class="slimpage-head-img">
                    <img src="~/Content/images/procedures/procedures_2.jpg" alt="Акупунктура (иголерапия)">
                </div>
                <div class="slimpage-head-txt">
                    <div class="slimpage-head-title">Хэ Юйфэн 2</div>
                    <div class="slimpage-head-note">
                        Иглотерапевт, глава отделения иглоукалывания
                        и моксотерапии Второй народной больницы Юньчэна.
                    </div>
                </div>
            </div>
            <div class="slimpage-body">
                <div class="user-content">
                    <p>
                        Хэ Юйфэн родился в 1978-м году в Шочжоу. После окончания средней школы поступил в
                        Медицинский институт Университета Внутренней Монголии на факультет традиционной
                        китайской медицины. По окончании годичной практики в институтской клинике, последовавшей
                        после дипломирования, был приглашен в Шаньси, в физиотерапевтическое отделение
                        реабилитационной больницы.
                    </p>
                    <p>
                        Через год, в 2002-м году, Хэ Юйфэн получил приглашение в Шанхай, где более двух лет
                        проработал в отделении иглоукалывания местного реабилитационного центра. Именно в этот
                        период Хэ Юйфэн утвердился как специалист по лечению детей с физическими недостатками.
                    </p>
                    <p>
                        В течение десяти последующих лет Хэ Юйфэн был неоднократно отмечен как перспективный
                        врач и неутомимый исследователь древнекитайских лечебных методик. Огромный практический
                        опыт Хэ Юйфэном был наработан в научно-медицинских центрах республики, куда его приглашали
                        как выдающегося молодого специалиста.
                    </p>
                    <p>
                        Юйфэн добивается значительного прогресса в самых сложных клинических ситуациях.
                    </p>
                    <p>
                        Хэ Юйфэн родился в 1978-м году в Шочжоу. После окончания средней школы поступил в
                        Медицинский институт Университета Внутренней Монголии на факультет традиционной
                        китайской медицины. По окончании годичной практики в институтской клинике, последовавшей
                        после дипломирования, был приглашен в Шаньси, в физиотерапевтическое отделение
                        реабилитационной больницы.
                    </p>
                    <p>
                        Через год, в 2002-м году, Хэ Юйфэн получил приглашение в Шанхай, где более двух лет
                        проработал в отделении иглоукалывания местного реабилитационного центра. Именно в этот
                        период Хэ Юйфэн утвердился как специалист по лечению детей с физическими недостатками.
                    </p>
                    <p>
                        В течение десяти последующих лет Хэ Юйфэн был неоднократно отмечен как перспективный
                        врач и неутомимый исследователь древнекитайских лечебных методик. Огромный практический
                        опыт Хэ Юйфэном был наработан в научно-медицинских центрах республики, куда его приглашали
                        как выдающегося молодого специалиста.
                    </p>
                    <p>
                        Юйфэн добивается значительного прогресса в самых сложных клинических ситуациях.
                    </p>
                </div>
            </div>
        </div><!-- END popup-body -->
    </div><!-- END popup-wrap -->
</div><!-- popup-fullscreen -->

<div class="popup popup-fullscreen" id="pop-doctor_3">
    <div class="popup-modal"></div>
    <a class="popup-close"></a>
    <a class="popup-prev js-show-popup" data-pop="pop-doctor_2"></a>
    <a class="popup-next js-show-popup" data-pop="pop-doctor_1"></a>
    <div class="popup-wrap">
        <div class="popup-body">
            <div class="slimpage-head">
                <div class="slimpage-head-img">
                    <img src="~/Content/images/procedures/procedures_3.jpg" alt="Акупунктура (иголерапия)">
                </div>
                <div class="slimpage-head-txt">
                    <div class="slimpage-head-title">Хэ Юйфэн 3</div>
                    <div class="slimpage-head-note">
                        Иглотерапевт, глава отделения иглоукалывания
                        и моксотерапии Второй народной больницы Юньчэна.
                    </div>
                </div>
            </div>
            <div class="slimpage-body">
                <div class="user-content">
                    <p>
                        Хэ Юйфэн родился в 1978-м году в Шочжоу. После окончания средней школы поступил в
                        Медицинский институт Университета Внутренней Монголии на факультет традиционной
                        китайской медицины. По окончании годичной практики в институтской клинике, последовавшей
                        после дипломирования, был приглашен в Шаньси, в физиотерапевтическое отделение
                        реабилитационной больницы.
                    </p>
                    <p>
                        Через год, в 2002-м году, Хэ Юйфэн получил приглашение в Шанхай, где более двух лет
                        проработал в отделении иглоукалывания местного реабилитационного центра. Именно в этот
                        период Хэ Юйфэн утвердился как специалист по лечению детей с физическими недостатками.
                    </p>
                    <p>
                        В течение десяти последующих лет Хэ Юйфэн был неоднократно отмечен как перспективный
                        врач и неутомимый исследователь древнекитайских лечебных методик. Огромный практический
                        опыт Хэ Юйфэном был наработан в научно-медицинских центрах республики, куда его приглашали
                        как выдающегося молодого специалиста.
                    </p>
                    <p>
                        Юйфэн добивается значительного прогресса в самых сложных клинических ситуациях.
                    </p>
                    <p>
                        Хэ Юйфэн родился в 1978-м году в Шочжоу. После окончания средней школы поступил в
                        Медицинский институт Университета Внутренней Монголии на факультет традиционной
                        китайской медицины. По окончании годичной практики в институтской клинике, последовавшей
                        после дипломирования, был приглашен в Шаньси, в физиотерапевтическое отделение
                        реабилитационной больницы.
                    </p>
                    <p>
                        Через год, в 2002-м году, Хэ Юйфэн получил приглашение в Шанхай, где более двух лет
                        проработал в отделении иглоукалывания местного реабилитационного центра. Именно в этот
                        период Хэ Юйфэн утвердился как специалист по лечению детей с физическими недостатками.
                    </p>
                    <p>
                        В течение десяти последующих лет Хэ Юйфэн был неоднократно отмечен как перспективный
                        врач и неутомимый исследователь древнекитайских лечебных методик. Огромный практический
                        опыт Хэ Юйфэном был наработан в научно-медицинских центрах республики, куда его приглашали
                        как выдающегося молодого специалиста.
                    </p>
                    <p>
                        Юйфэн добивается значительного прогресса в самых сложных клинических ситуациях.
                    </p>
                </div>
            </div>
        </div><!-- END popup-body -->
    </div><!-- END popup-wrap -->
</div><!-- popup-fullscreen -->