@{
    ViewBag.Title = "Севастополь. Мастерская здоровья";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main hosp-page" role="main">
    <section class="sec-hosp-intro" id="js-moved-menu-wrapper">
        <div class="intro-info">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="intro-info-head">
                            <h1 class="intro-title">
                                ъъДетский реабилитационный центр
                                <span>«Мастерская здоровья»</span>
                            </h1>
                            <div class="intro-region">г. Севастополь, Россия</div>
                        </div>
                        <div class="intro-info-body">
                            <h2 class="intro-subtitle">
                                Комплексный подход к реабилитации детей
                                с ограниченными возможностями
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro-img">
            <img src="~/Content/images/hospital/clinic_1.jpg" alt="Наша клиника">
        </div>
        <div class="hosp-page-menu" id="js-moved-menu">
            <div class="container">
                <div class="hosp-page-nav-btn">
                    <a class="btn btn-orang-outlined" href="#">ЗАПИСАТЬСЯ НА ЛЕЧЕНИЕ</a>
                </div>
                <nav class="hosp-page-nav">
                    <a class="js-scroll-to" data-target="#sec-treatment" role="button"><i class="icon-plus"></i><span>Направления</span></a>
                    <a class="js-scroll-to" data-target="#sec-procedure" role="button"><i class="icon-spoke"></i><span>Процедуры</span></a>
                    <a class="js-scroll-to" data-target="#sec-personal" role="button"><i class="icon-face"></i><span>Специалисты</span></a>
                    <a class="js-scroll-to" data-target="#sec-housing" role="button"><i class="icon-live"></i><span>Проживание</span></a>
                    <a class="js-scroll-to" data-target="#sec-paying" role="button"><i class="icon-price"></i><span>Цены</span></a>
                    <a class="js-scroll-to" data-target="#sec-gallery" role="button"><i class="icon-photo"></i><span>Фотогалерея</span></a>
                    <a class="js-scroll-to" data-target="#sec-documents" role="button"><i class="icon-docs"></i><span>Документы</span></a>
                    <a class="js-scroll-to" data-target="#sec-contacts" role="button"><i class="icon-cont"></i><span>Контакты</span></a>
                </nav>
            </div>
        </div>
    </section><!-- END sec-hosp-intro -->

    <section class="sec-hosp-treatment js-for-menu" id="sec-treatment">
        <div class="treatment-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h2 class="hosp-page-title_left">Направления лечения</h2>
                        <div class="hosp-page-note">
                            Реабилитация детей с заболеваниями «детский церебральный паралич» и другими
                            нарушениями двигательных функций, генетическими синдромами различного генеза,
                            а также различными задержками моторного, речевого
                            и психо-речевого развития, ортопедическими отклонениями.
                        </div>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="user-content">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>Неврология</h4>
                                    <ul>
                                        <li>Детский церебральный паралич (ДЦП)</li>
                                        <li>Задержка психоречевого развития</li>
                                        <li>Аутизм</li>
                                        <li>Энцефалопатия</li>
                                        <li>Эпилепсия</li>
                                        <li>Нарушение речи</li>
                                        <li>Нарушения сна</li>
                                        <li>Нервно-мышечная патология</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h4>Невропатология</h4>
                                    <ul>
                                        <li>Х-образная форма ног</li>
                                        <li>О-образная форма ног</li>
                                        <li>Эквиноварусная деформация стоп</li>
                                        <li>Эквино-вальгусная деформация</li>
                                        <li>Вывих тазобедренного сустава</li>
                                        <li>Подвывих тазобедренного сустава</li>
                                        <li>Контрактуры</li>
                                        <li>Послеоперационная реабилитация</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h4>...</h4>
                                    <ul>
                                        <li>Скалиотическая осанка до 3 степени</li>
                                        <li>Кефолитическая осанка до 3 степени</li>
                                        <li>Остеохондрозы</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                Процедуры и занятия проводятся в новых просторных помещениях: 2 зала  ЛФК 40 и 20кв.м,
                                3 кабинета массажа, кабинет для приема, кабинет логопеда-дефектолога. Для удобства
                                пациентов и их родителей оборудованы душевая, 2 санузла, столовая и кухня, оснащенная
                                бытовой техникой.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="note">
                            <h5 class="note-title">ВАЖНО</h5>
                            <div class="note-text">
                                Перед оформлением заявки уточниnе у администратора dcp-china.ru
                                возможность лечения конкретного профильного заболевания.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="treatment-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="user-content">
                            <h3>Методики</h3>
                            <p>
                                Основой работы реабилитационного центра является адекватная оценка неврологического возраста
                                и правильное составление плана реабилитации. Такой подход следствие девятилетнего опыта
                                доктора-реабилитолога Леонида Кравцова.
                            </p>
                            <p>
                                Методика не требует медицинских препаратов и примения методов жесткой ортопедии.  Каждому
                                пациенту доктора  подбирают индивидуальную программу лечения на основе данных, полученных
                                при осмотре и диагностике и в зависимости от формы заболевания.
                            </p>
                            <p>
                                В комплексное лечение входит: лечебная физическая культура,  адаптивная физическая культура,
                                занятия в костюме "Адели", "Аэрокомбинезон", занятия на тренажере Гросса, различные виды массажа,
                                парафинотерапия, грязелечение, кинезиотейпирование, мультифазная мобилизация суставов. Также
                                проводятся индивидуальные занятия по логопедии и дефектологии, зондовый массаж, артикуляционные,
                                пальчиковые, дыхательные гимнастики, сенсорная интеграция.
                            </p>
                            <div class="doctor">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/doctor_boss_2_170x170.jpg" alt="Леонид Кравцов">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Леонид Кравцов</div>
                                    <div class="doctor-post">Врач-рабилитолог высшей категории</div>
                                    <div class="doctor-note">
                                        Автор методики, руководитель детского
                                        реабилитационного центра
                                    </div>
                                </div>
                            </div>
                            <h3>Результаты</h3>
                            <p>
                                Нужен текст о том, что эффект уже после первых занятий и что многие возвращаются для
                                повторных курсов реабилитации. Т.е. нужно подвести мотивирующий итог.

                            </p>
                            <a href="#" class="btn btn-light">НАШИ ДЕТИ</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="side-card top-70">
                            <div class="side-card-img">
                                <img src="~/Content/images/hospital/aside_1.png" alt="Нобелевская премия">
                            </div>
                            <div class="side-card-txt">
                                <div class="side-card-title">Нобелевская премия</div>
                                <div class="side-card-note">
                                    Одна из наиболее престижных премий, ежегодно присуждаемая за
                                    выдающиеся научные исследования, революционные изобретения или
                                    крупный вклад в культуру или развитие общества.
                                </div>
                            </div>
                        </div>
                        <div class="side-card">
                            <div class="side-card-img">
                                <img src="~/Content/images/hospital/aside_2.png" alt="Диплом правительства">
                            </div>
                            <div class="side-card-txt">
                                <div class="side-card-title">Диплом правительства КНР</div>
                                <div class="side-card-note">
                                    Лучее учреждение системы здавоохранения по итогам 2015 года
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- END sec-hosp-treatment -->

    <section class="sec-hosp-procedure js-for-menu" id="sec-procedure">
        <div class="container">
            <h2 class="hosp-page-title_center">Процедуры</h2>
            <div class="hosp-page-note_center">
                Реабилитация направлена на подавление патологической тонической рефлекторной активности и тренировку
                возрастных двигательных навыков. Применяются массаж и различные физиотерапевтические методы: водные
                процедуры, грязелечение, парафиновые аппликации и т.д.
            </div>
            <div class="user-content">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h4>Акупунктура (иглоутерапия)</h4>
                        <p>Старинный восточный метод лечения заболеваний, связанных с поражением нервной системы.</p>
                        <h4>Адаптивная физкультура (АФК)</h4>
                        <p>Формирование двигательной активности, как биологического и социального факторов воздействия на организм  и личность человека.</p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h4>Суставная гимнастика</h4>
                        <p>Комплекс специальных упражнений, направленный на разработку всех мышц и суставов тела.</p>
                        <h4>Занятие АФК в костюме “Адели”</h4>
                        <p>Принцип воздействя заключается в целевой коррекция движений и осанки пациента с помощью настраиваемых элементов.</p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h4>Занятия АФК в аэрокомбинизоне</h4>
                        <p>Проводится для укрепления мышц, приобретения навыков: опоры рук, стояние на четвереньках, сидения, ползание, гашения позотонических рефлексов.</p>
                        <h4>Занятие на ипотренажере</h4>
                        <p>Помимо возможности увеличить объем пассивных движений ребенка, иппотерапия помогает улучшить осанку и обрести новые активные двигательные навыки.</p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h4>Зондовый логомассаж</h4>
                        <p>В основе метода зондового массажа лежит массаж мышц лица: язык, щеки, губы, скулы. Этот массаж делается с помощью специальных зондов</p>
                        <h4>Занятие на мотомеде</h4>
                        <p>
                            Способствует восстановлению подвижности и амплитуды движения в суставах, облегчению движений и увеличению силы мышц, повышению
                            специальной и общей физической работоспособности, увеличению вентиляции легких, улучшению основных физических качеств.
                        </p>
                    </div>
                </div>
                <div class="txt-center top-15">
                    <a href="#" class="btn btn-light">ПОДРОБНЕЕ О ПРОЦЕДУРАХ</a>
                </div>
            </div>
        </div>
        <div class="procedure-room">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-push-6">
                        <div class="procedure-room-txt">
                            <div class="user-content">
                                <h3>Процедурные</h3>
                                <p>
                                    Процедурные размещены в новых, светлых помещениеях и оборудованы разнообразными средствами
                                    реабилитации: аэрокомбинезон, тренажер Гросса, иппотренажер, тренажер мотомед, костюм «Адели»,
                                    прыгунки, брусья, шведская стенка, вертикализаторы, ходунки Рифтон, ванночка для парафинтерапии,
                                    аппарат для ползанья «Волчок», постановочные зонды, массажные зонды, кинетический песок, световой
                                    песочный планшет, физио ролл, медболы, гантели, утяжелители, гимнастические палки, жгуты, эластичные
                                    ленты, эспандеры, гимнастические обручи, гимнастические маты, массажные столы, специализированные игрушки
                                    для развития мелкой моторики, игрушки для развития тактильных ощущений, звуковые игрушки, дидактические
                                    материалы.
                                </p>
                                <a class="btn btn-orang js-popup-gallery" rel="gallery_1" href="~/Content/images/hospital/gallery_1.jpg" title="Дверь">Фотогалерея</a>
                                <a class="hidden js-popup-gallery" rel="gallery_1" href="~/Content/images/hospital/gallery_2.jpg" title="Фасад"></a>
                                <a class="hidden js-popup-gallery" rel="gallery_1" href="~/Content/images/hospital/gallery_3.jpg" title="Комната"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="procedure-room-img">
                <img src="~/Content/images/hospital/clinic_room_1.jpg" alt="Наша клиника">
            </div>
        </div>
    </section><!-- END sec-hosp-procedure -->

    <section class="sec-hosp-personal js-for-menu" id="sec-personal">
        <div class="personal-boss">
            <div class="container">
                <h2 class="hosp-page-title_center">Специалисты</h2>
                <div class="row">
                    <div class="col-md-5">
                        <div class="hosp-page-note">
                            Все специалисты центра имеют медицинское (педагогическое) образование и постоянно
                            повышают квалификацию, участвуя в профильных конференциях и семинарах.
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="boss-card">
                            <div class="boss-card-img">
                                <img src="~/Content/images/hospital/boss_1.png" alt="Леонид Кравцов">
                            </div>
                            <div class="boss-card-txt">
                                <div class="boss-card-name">Леонид Кравцов</div>
                                <div class="boss-card-post">Руководитель центра</div>
                                <div class="boss-card-note">
                                    Известный в городе и Крыму специалист по физической реабилитации.
                                </div>
                                <a class="boss-card-more"><span>Подробнее</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="personal-team">
            <div class="container">
                <ul class="personal-team-list">
                    <li>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="~/Content/images/doctors/doctor_sev_1_170x170.jpg" alt="София Коротич">
                            </div>
                            <div class="doctor-txt">
                                <div class="doctor-name">София Коротич</div>
                                <div class="doctor-post">Логопед-дефектолог</div>
                                <div class="doctor-note">Высшее профильное образование, практика 7 лет</div>
                                <div class="doctor-more"><span>Подробнее</span></div>
                            </div>
                            <a class="doctor-link js-show-popup" data-pop="pop-doctor_1"></a>
                        </div>
                    </li>
                    <li>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="~/Content/images/doctors/doctor_sev_2_170x170.jpg" alt="Александра Шеленгер">
                            </div>
                            <div class="doctor-txt">
                                <div class="doctor-name">Александра Шеленгер</div>
                                <div class="doctor-post">Массажист</div>
                                <div class="doctor-note">Высшее профильное образование, практика 12 лет</div>
                                <div class="doctor-more"><span>Подробнее</span></div>
                            </div>
                            <a class="doctor-link js-show-popup" data-pop="pop-doctor_2"></a>
                        </div>
                    </li>
                    <li>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="~/Content/images/doctors/doctor_sev_3_170x170.jpg" alt="Массажист?">
                            </div>
                            <div class="doctor-txt">
                                <div class="doctor-name">Массажист?</div>
                                <div class="doctor-post">Массажист</div>
                                <div class="doctor-note">Высшее профильное образование, практика 7 лет</div>
                                <div class="doctor-more"><span>Подробнее</span></div>
                            </div>
                            <a class="doctor-link js-show-popup" data-pop="pop-doctor_3"></a>
                        </div>
                    </li>
                    <li>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="~/Content/images/doctors/doctor_sev_4_170x170.jpg" alt="__">
                            </div>
                            <div class="doctor-txt">
                                <div class="doctor-name">Александр Рябоконь</div>
                                <div class="doctor-post">Массажист</div>
                                <div class="doctor-note">Специальное профильное образование, практика 6 лет</div>
                                <div class="doctor-more"><span>Подробнее</span></div>
                            </div>
                            <a class="doctor-link js-show-popup" data-pop="pop-doctor_4"></a>
                        </div>
                    </li>
                </ul>
                <div class="hosp-page-note_center">
                    Вводный текст о приглашаемых отечественных и зарубежных специалистах
                </div>
                <div class="row user-content">
                    <div class="col-md-6">
                        <p>
                            О  некотрых специалистах персонально. Известный диагност А.А. Иванов,
                            автор уникальной методики к.м.н. И. П. Петров, ведущий врач Больницы
                            заболеваний головного мозга г. Юньчэн доктор Сю Дзюнь.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            Периодичность приезда. О необходимости уточнения сроков у администратора и
                            об особенностях записи на прием/лечение к конкретному приглашенному специалисту.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- END sec-hosp-personal -->

    <section class="sec-hosp-housing js-for-menu" id="sec-housing">
        <div class="housing-desc">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h2 class="hosp-page-title_left">Проживание</h2>
                        <div class="hosp-page-note">
                            Мы не располагаем собственным стационаром, но поможем арендовать недорогое
                            и комфортное жилье как в непосредственной близости от реабилитационного центра,
                            так и в любом районе города
                        </div>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
                <div class="user-content">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Расположение</h3>
                            <p>
                                Центр находится в тихом (спальном) районе Севастополя с развитой инфраструктурой:
                                магазины (супермаркет Metro), отделения банков, развлекательный центр, кафе.
                            </p>
                            <p>
                                Район зеленый, вокруг располагается много детских площадок и рекреационных зон,
                                а популярные  городские пляжи “Омега”, “Парк Победы”, “Голубая бухта” всего в 10-15
                                минутах езды на общественном транспорте.
                            </p>
                            <h3>Транспорт</h3>
                            <p>
                                С центром города район связывают несколько маршрутов общественного транспорта.
                                Стоимость проезда в маршрутном такси 15 руб. В городе работают несколько служб
                                такси. Примерная стоимость проезда в центр города 250 руб.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h3>Аренда жилья</h3>
                            <p>
                                В районе много мини-отелей, хостелов и сдаваемых в аренду частных домов и квартир.
                            </p>
                            <p>
                                Стоимость аренды зависит от сезона. Самые высокие цены в курортный сезон с июня по
                                сентябрь. Сведняя стоимость аренды однокомнатной квартиры в июле 1200руб. в сутки.
                                В декабре - 800 рублей.
                            </p>
                            <p>
                                Для самостоятельного поиска вариантов жилья можете воспользоваться
                                <a href="#">севастопольским городским форумом</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="housing-room">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="housing-room-txt">
                            <div class="user-content">
                                <h3>Палаты</h3>
                                <p>
                                    Удобные платы расчитаны на комфортное проживание 2-3-х человек.
                                    Сколько комнат, наличие хлодильника, телевизора (что он показывает?),
                                    интернет.  Есть ли кондиционер. На каких этажах. Вроде есть мини-кухня. Во всех палатах?
                                </p>
                                <a class="btn btn-orang" role="button">Фотогалерея</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="housing-room-img">
                <img src="~/Content/images/hospital/housing_room_1.jpg" alt="Наша клиника">
            </div>
        </div>
    </section><!-- END sec-hosp-housing -->

    <section class="sec-hosp-paying js-for-menu" id="sec-paying">
        <div class="container">
            <h2 class="hosp-page-title_center">Цены и оплата</h2>
            <div class="hosp-page-note_center">
                Мы сделали передовое лечение доступным
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="user-content">
                        <h3>Цены</h3>
                        <p>
                            Текст, обосновывающий невысокую стоимость лечения с примерами цен на курс лечения
                            и самые востребованные процедуры. Не списком или таблицей, а литературно. Например,
                            курс акупунктуры головы из 14 сеансов по 40 минут стоит 600 рублей, а сеанс массажа
                            продолжительностью 40 минут - 400 рублей. Стоимость часового занятия с логопедом-дефектологом
                            - 500 рублей.
                        </p>
                        <h3>Оплата</h3>
                        <p>
                            Оплата услуг производится как в кассу центра., так и предоплатой на счет компании. Оплата
                            в кассу центра производится исключительно наличными рублями. Оплата на счет компании осуществляется
                            через платежные системы в рублях, долларах, гривнях или тэнге.
                        </p>
                        <p>
                            Оплата услуг производится как в кассу центра, так и предоплатой на счет компании. Оплата
                            в кассу центра производится исключительно наличными рублями. Оплата на счет компании осуществляется
                            через платежные системы в рублях, долларах, гривнях или тэнге.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <ul class="price-list is-wide">
                        <li>
                            <a class="price-list-link has-icon icon-pdf" href="~/Content/pdf/price-3.pdf" title="Скачать документ">
                                Цены на процедуры и сопутствующие услуги
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CurrencyRate")
                </div>
            </div>
        </div>
    </section><!-- END sec-hosp-paying -->

    <section class="sec-hosp-gallery js-for-menu" id="sec-gallery">
        <div class="container">
            <h3 class="gallery-title">Фотогалерея</h3>
            <div class="row">
                <div class="col-md-3">
                    <div class="gallery-card">
                        <div class="gallery-card-img">
                            <img src="~/Content/images/hospital/gallery_room.jpg" alt="Условия проживания">
                        </div>
                        <div class="gallery-card-txt">Условия проживания</div>
                        <a class="gallery-card-link js-popup-gallery" rel="gallery_room" href="~/Content/images/hospital/gallery_room.jpg"></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="gallery-card">
                        <div class="gallery-card-img">
                            <img src="~/Content/images/hospital/gallery_procedure.jpg" alt="Процедурные">
                        </div>
                        <div class="gallery-card-txt">Процедурные</div>
                        <a class="gallery-card-link js-popup-gallery" rel="gallery_procedure" href="~/Content/images/hospital/gallery_procedure.jpg"></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="gallery-card">
                        <div class="gallery-card-img">
                            <img src="~/Content/images/hospital/gallery_equipment.jpg" alt="Лечебное оборудование">
                        </div>
                        <div class="gallery-card-txt">Лечебное оборудование</div>
                        <a class="gallery-card-link js-popup-gallery" rel="gallery_equipment" href="~/Content/images/hospital/gallery_equipment.jpg"></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="gallery-card">
                        <div class="gallery-card-img">
                            <img src="~/Content/images/hospital/gallery_yunchen.jpg" alt="Город Юньчэн">
                        </div>
                        <div class="gallery-card-txt">Город Юньчэн</div>
                        <a class="gallery-card-link js-popup-gallery" rel="gallery_yunchen" href="~/Content/images/hospital/gallery_yunchen.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- END sec-hosp-gallery -->

    <section class="sec-hosp-docs js-for-menu" id="sec-documents">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h2 class="hosp-page-title_left">Документы</h2>
                    <div class="hosp-page-note">
                        Текст про соответствие услуг нормам и стандартам, наличии
                        всех необходимых сертификатов и лицензий.
                    </div>
                </div>
            </div>
            <div class="row">
                <ul class="docs">
                    <li class="docs-item">
                        <div class="docs-card">
                            <div class="docs-card-img">
                                <img src="~/Content/images/hospital/document_1.jpg" alt="Лицензия">
                            </div>
                            <div class="docs-card-txt">
                                <div class="docs-card-name">Лицензия на медицинскую деятельность</div>
                                <div class="docs-card-note">Пояснение, если нужно</div>
                                <div class="docs-card-more"><span>Увеличить</span></div>
                            </div>
                            <a class="docs-card-link js-popup-gallery" rel="documents" href="~/Content/images/hospital/document_1.jpg"></a>
                        </div>
                    </li>
                    <li class="docs-item">
                        <div class="docs-card">
                            <div class="docs-card-img">
                                <img src="~/Content/images/hospital/document_1.jpg" alt="Лицензия">
                            </div>
                            <div class="docs-card-txt">
                                <div class="docs-card-name">Лицензия на медицинскую деятельность</div>
                                <div class="docs-card-note">Пояснение, если нужно</div>
                                <div class="docs-card-more"><span>Увеличить</span></div>
                            </div>
                            <a class="docs-card-link js-popup-gallery" rel="documents" href="~/Content/images/hospital/document_1.jpg"></a>
                        </div>
                    </li>
                    <li class="docs-item">
                        <div class="docs-card">
                            <div class="docs-card-img">
                                <img src="~/Content/images/hospital/document_1.jpg" alt="Лицензия">
                            </div>
                            <div class="docs-card-txt">
                                <div class="docs-card-name">Лицензия на медицинскую деятельность</div>
                                <div class="docs-card-note">Пояснение, если нужно</div>
                                <div class="docs-card-more"><span>Увеличить</span></div>
                            </div>
                            <a class="docs-card-link js-popup-gallery" rel="documents" href="~/Content/images/hospital/document_1.jpg"></a>
                        </div>
                    </li>
                    <li class="docs-item">
                        <div class="docs-card">
                            <div class="docs-card-img">
                                <img src="~/Content/images/hospital/document_2.jpg" alt="Сертификат">
                            </div>
                            <div class="docs-card-txt">
                                <div class="docs-card-name">Сертификат соответствия услуг</div>
                                <div class="docs-card-note">Пояснение, если нужно</div>
                                <div class="docs-card-more"><span>Увеличить</span></div>
                            </div>
                            <a class="docs-card-link js-popup-gallery" rel="documents" href="~/Content/images/hospital/document_2.jpg"></a>
                        </div>
                    </li>
                    <li class="docs-item">
                        <div class="docs-card">
                            <div class="docs-card-img">
                                <img src="~/Content/images/hospital/document_1.jpg" alt="Лицензия">
                            </div>
                            <div class="docs-card-txt">
                                <div class="docs-card-name">Лицензия на медицинскую деятельность</div>
                                <div class="docs-card-note">Пояснение, если нужно</div>
                                <div class="docs-card-more"><span>Увеличить</span></div>
                            </div>
                            <a class="docs-card-link js-popup-gallery" rel="documents" href="~/Content/images/hospital/document_1.jpg"></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section><!-- END sec-hosp-docs -->

    <section class="sec-hosp-contact js-for-menu" id="sec-contacts">
        <div class="container">
            <h2 class="hosp-page-title_center">Контакты</h2>
            <div class="hosp-page-note_center">
                Надо написать для чего мы даем котакты самой клиники.<br>
                Вероятно для экстренной связи
            </div>
            <div class="contact-card">
                <a class="contact-card-title" href="tel:+79897668413">+7 989 766-84-13</a>
                <div class="contact-card-note btm-20">с 9:00 до 19:00 (мск)</div>
                <a class="contact-card-bold" href="mailto:masterskaya_zdorovia@mail.ru">masterskaya_zdorovia@mail.ru</a>
            </div>
            <div class="row user-content">
                <div class="col-md-3">
                    <h4>Время работы</h4>
                    <p>Понедельник - Пятница с 9:00 до 19:00<br>Воскрксенье - выходной</p>
                </div>
                <div class="col-md-3">
                    <h4>Адрес</h4>
                    <p>
                        Россия, Севастополь,<br>ул Тараса Шевченко, 52б
                    </p>
                </div>
                <div class="col-md-3">
                    <h4>Как добраться</h4>
                    <p>От автовокзала: <br>Машрутное такси № 112 до остановки “Европа”</p>
                </div>
                <div class="col-md-3">
                    <h4>Мы в соцсетях</h4>
                    <ul class="footer-seti">
                        <li><a class="vk" href="#" title="В контакте"><i class="fa fa-vk"></i></a></li>
                        <li><a class="ok" href="#" title="Одноклассники"><i class="fa fa-odnoklassniki"></i></a></li>
                        <li><a class="fb" href="#" title="Фейсбук"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="yt" href="#" title="Ютуб"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Для карты передаем координаты точки в атрибутах -->
        <div class="contact-map" id="map-wrap" data-lat="44.5721524825671" data-lng="33.45731422949984"></div>
    </section><!-- END sec-hosp-contact -->

</div>

