@{
    ViewBag.Title = "Клиника";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main hosp-page" role="main">
    <section class="sec-hosp-intro" id="js-moved-menu-wrapper">
        <div class="intro-info">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="intro-info-head">
                            <h1 class="intro-title">
                                <span>Больница заболеваний головного мозга при НИИ акупунктуры</span>
                            </h1>
                            <div class="intro-region">г. Юньчэн, провинция Шаньси, Китайская Народная Республика</div>
                        </div>
                        <div class="intro-info-body">
                            <h2 class="intro-subtitle">
                                Государственная клиника
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro-img">
            <img src="~/Content/images/hospital/clinic_1.jpg" alt="Наша клиника">
        </div>
        <div class="hosp-page-menu" id="js-moved-menu">
            <div class="container">
                <div class="hosp-page-nav-btn">
                    <a class="btn btn-orang-outlined" href="#">ЗАПИСАТЬСЯ НА ЛЕЧЕНИЕ</a>
                </div>
                <nav class="hosp-page-nav">
                    <a class="js-scroll-to" data-target="#sec-treatment" role="button"><i class="icon-plus"></i><span>Направления</span></a>
                    <a class="js-scroll-to" data-target="#sec-procedure" role="button"><i class="icon-spoke"></i><span>Процедуры</span></a>
                    <a class="js-scroll-to" data-target="#sec-personal" role="button"><i class="icon-face"></i><span>Специалисты</span></a>
                    <a class="js-scroll-to" data-target="#sec-housing" role="button"><i class="icon-live"></i><span>Проживание</span></a>
                    <a class="js-scroll-to" data-target="#sec-paying" role="button"><i class="icon-price"></i><span>Цены</span></a>
                    <a class="js-scroll-to" data-target="#sec-gallery" role="button"><i class="icon-photo"></i><span>Фотогалерея</span></a>
                    <a class="js-scroll-to" data-target="#sec-documents" role="button"><i class="icon-docs"></i><span>Документы</span></a>
                    <a class="js-scroll-to" data-target="#sec-contacts" role="button"><i class="icon-cont"></i><span>Контакты</span></a>
                </nav>
            </div>
        </div>
    </section><!-- END sec-hosp-intro -->

    <section class="sec-hosp-treatment js-for-menu" id="sec-treatment">
        <div class="treatment-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h2 class="hosp-page-title_left">Направления лечения</h2>
                        <div class="hosp-page-note">
                            Реабилитация детей с заболеваниями «детский церебральный паралич» и другими
                            нарушениями двигательных функций, генетическими синдромами различного генеза,
                            а также различными задержками моторного, речевого и психо-речевого развития
                        </div>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="user-content">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>Неврология</h4>
                                    <ul>
                                        <li>Детский церебральный паралич (ДЦП)</li>
                                        <li>Задержка психоречевого развития</li>
                                        <li>Аутизм</li>
                                        <li>Энцефалопатия</li>
                                        <li>Эпилепсия</li>
                                        <li>Сосудистые заболевания мозга</li>
										<li>Нарушение речи</li>
                                        <li>Нарушения сна</li>
                                        <li>Нервно-мышечная патология</li>
										<li>Болезни спинного мозга</li>
										<li>Болезнь Альцгеймера</li>
										<li>Болезнь Паркинсона</li>
										<li>Вегетососудистая дистония</li>
										<li>Внутричерепное давление</li>
										<li>Головокружение</li>
										<li>Невралгия</li>
										<li>Неврозы</li>
										<li>Невропатия</li>
										<li>Инсульт</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                     <h4>Ортопедия и травматология</h4>
                                    <ul>
                                        <li>Скалиотическая осанка;</li>
                                        <li>Кефолитическая осанка;</li>
                                        <li>Остеохондрозы;</li>
                                        <li>Болезни суставов;</li>
                                        <li>Болезни позвоночника;</li>
                                        <li>Болезни костей;</li>
                                        <li>Проблемы со стопами;</li>
                                        <li>Заболевания конечностей;</li>
										<li>Реабилитация после травм.</li>
										<li>Х-образная форма ног</li>
                                        <li>О-образная форма ног</li>
                                        <li>Эквиноварусная деформация стоп</li>
                                        <li>Эквино-вальгусная деформация</li>
                                        <li>Вывих тазобедренного сустава</li>
                                        <li>Подвывих тазобедренного сустава</li>
                                        <li>Контрактуры</li>
                                        <li>Послеоперационная реабилитация</li>
								     </ul>
                                </div>
                                </div>
                            <p>
                                Больница имеет собственную лечебную базу. Отделение функциональной диагностики оборудовано современными техническими средствами диагностики включая: лабораторию, УЗИ, ЭЭГ, ночной видео-ЭЭГ мониторинг, ЭКГ, МРТ. Реабилитационное отделение оборудовано всем необходимым для провдения процедур. Процедуры и занятия проводятся в новых просторных помещениях.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="note">
                            <h5 class="note-title">ВАЖНО</h5>
                            <div class="note-text">
                                Перед оформлением заявки уточните у Администратора больницы
                                возможность лечения конкретного профильного заболевания.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="treatment-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="user-content">
                            <h3>Методики</h3>
                            <p>
                                Методика, разработанная докторами, имеет хороший эффект у пациентов с двигательными нарушениями, ДЦП. Применяется как традиционная китайская, так и западная (европейская) методики диагностики и лечения. Каждому пациенту доктора  подбирают индивидуальную программу лечения на основе данных, полученных  при осмотре и диагностике, а также в зависимости от формы заболевания.
                            </p>
                           <h4>Осмотр  и  оценка  состояния  больного  ДЦП</h4>
                            <p>
                                Успех реабилитационной терапии во многом зависит от объема осмотровых процедур и точности оценки состояния больного ДЦП. Системные поражения организма, имеющие место при церебральном параличе, множественны. Задача врача-диагноста – максимально полное выявление дисфункций и назначение адекватных реабилитационных процедур.
                            </p>
                            
                            <p>
                                <h4>Проработка реабилитационного  плана – на основе результатов осмотра</h4>
							<p>
                              Проводя осмотр больного ДЦП и разрабатывая план реабилитационных мероприятий, врач руководствуется информацией, накапливаемой при помощи приборного тестирования, визуальной оценки и иных методов исследования состояния организма пациента. Комплексный осмотр дает возможность объективно и точно оценить характер дисфункции системы; определить поражённый участок и его границы; оценить степень тяжести и темп прогрессирование поражения; составить прогноз состояния ребенка.  
                            </p>
							<p>
                               Оценка состояния больного ДЦG делается как минимум трижды: перед началом реабилитационной терапии, во время прохождения курса процедур, и после завершения лечения. Подобная практика помогает специалистам выбирать и своевременно корректировать методику реабилитации. Документирование объективных результатов лечения – не только ключ к детальному пониманию состояния ребенка, но и важный материал для выбора направления дальнейших усилий. 
                            </p> 
                            <div class="doctor">
                                <div class="doctor-img">
                                    <img src="~/Content/images/doctors/300_00.jpg" alt="джао ТиВей">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Джао ТиВей</div>
                                    <div class="doctor-post">Главный врач больницы, эпилептолог</div>
                                    <div class="doctor-note">
                                        Автор методики, успешно применяемой в больницах
                                        города Юньчэн.
                                    </div>
                                </div>
                            </div>
                            <h3>Результаты</h3>
                            <p>
                                Детский церебральный паралич – одна из главных причин детской инвалидности. ДЦП считается трудноизлечимой болезнью, но не относится к неизлечимым заболеваниям. Совместными усилиями врача и родителей, любовью, терпением, вниманием и кропотливой работой мы стараемся максимально приблизить тот день, когда ребенок с церебральным параличом сможет сам войти в новую здоровую жизнь.
                            </p>
                            <a href="http://dcp-china.ru/Children" class="btn btn-light">НАШИ ДЕТИ</a>
                        </div>
                    </div>
                    <!--<div class="col-md-3">
                        <div class="side-card top-70">
                            <div class="side-card-img">
                                <img src="~/Content/images/hospital/aside_1.png" alt="Нобелевская премия">
                            </div>
                            <div class="side-card-txt">
                                <div class="side-card-title">Нобелевская премия</div>
                                <div class="side-card-note">
                                    Одна из наиболее престижных премий, ежегодно присуждаемая за
                                    выдающиеся научные исследования, революционные изобретения или
                                    крупный вклад в культуру или развитие общества.
                                </div>
                            </div>
                        </div>
                        <div class="side-card">
                            <div class="side-card-img">
                                <img src="~/Content/images/hospital/aside_2.png" alt="Диплом правительства">
                            </div>
                            <div class="side-card-txt">
                                <div class="side-card-title">Диплом правительства КНР</div>
                                <div class="side-card-note">
                                    Лучее учреждение системы здавоохранения по итогам 2015 года
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </section><!-- END sec-hosp-treatment -->

    <section class="sec-hosp-procedure js-for-menu" id="sec-procedure">
        <div class="container">
            <h2 class="hosp-page-title_center">Процедуры</h2>
            <div class="hosp-page-note_center">
                Больница проводит весь комплекс процедур необходимый для получения ожидаемого результата у пациентов,<br> не уступающий ведущим клиникам Европы и Китая.</div>
            <div class="user-content">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                         <h4>Акупунктура, иглотерапия (Acupuncture)</h4>
                        <p>Специалисты Второй народной больницы взяли на вооружение старинные практики акупунктуры, переосмысленные в свете последних достижений медицинской науки. Иглотерапевтические схемы, применяемые врачами больниц, разработаны в том числе и Юньчэнгском НИИ акупунктуры.</p>
                        <h4>Физиотерапия (Electric physiotherapy) </h4>
                        <p>Физиотерапевтические процедуры способствуют расширению кровеносных сосудов, усилению тока крови, нормальному кровообращению, улучшают питание нервной и мышечной ткани, удаляют застойные явления и воспалительные процессы.</p>
						<h4>Мелкая моторика, трудотерапия (ОТ occupational therapy)</h4>
                        <p>Помогает предотвратить и восстановить функциональные расстройства, снизить их влияние на качество жизни, а также в максимальной степени увеличить функциональность организма, психологически и социально приспособить человека к окружающей среде теорий китайской и европейской медицины.</p> 
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h4>Массаж (Massage)</h4>
                        <p>Улучшается кровообращение, лимфообращение, обменные процессы в мышцах, суставах и окружающих их тканях. Импульсы от тканей, подвергшихся массажу, поступают в спинной и головной мозга, корригируя их функциональную активность</p>
                        <h4>Лечебная физкультура (PT Physical therapy)</h4>
                        <p>Врач определяет потенциальные возможности развития, выявляет ограничения в амплитуде движений, причины возникновения помех, и на основе собранных данных разрабатывает рациональную программу лечения ДЦП физическими упражнениями. </p>
                        <h4>Фармакопунктура: инъекционное обкалывание БАТ (Acupoint injection)</h4>
                        <p>Фармакопунктура или обкалывание биологически активных точек (БАТ) лекарственными препаратами – передовая методика лечения неврологических заболеваний. Широко используемое в мировой медицинской практике, обкалывание особенно эффективно применяется в Китае, на родине иглорефлексотерапии.</p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h4>Слинг-терапия (S-E-T Sling Exercise Therapy)</h4>
                        <p>Метод слинг-терапии изобретен более сорока лет назад, однако разработка новых медицинских реабилитационных техник с использованием подвесных устройств началась относительно недавно </p>
                        <h4>Имплантация коллагеновых нитей (Implantation of collagen threads into acu-points)</h4>
                        <p>Представляет собой метод лечения вживлениям специальной коллагеновой нити в акупунктурные (биоактивных) точек.Достоинства метода заключается в ощутимой положительной эффективности, безопасности, непрерывности лечебного воздействия.</p>
                        <h4>Подвесная терапия на мульти-функциональном комплексе тренажеров (Universal Exercise Unite (UEU))</h4>
                        <p>Подвесная терапия на мульти-функциональном комплексе тренажеров, также известная как Угуль терапия, — это разработка известного польского врача-ортопеда профессора Дэга (Dega). Это комплекс, который позволяет тренировать силу и выносливость определенных групп мышц.</p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                         <h4>Логопедический массаж (ST speech therapy)</h4>
                        <p>Целью логопедического лечения является повышение способностей больного ребенка выражать языком свои мысли и понимать чужую речь, а также восстановление способностей ребенка к коммуникации по средствам речи </p>
                        <h4>Кинезиологическое тейпирование (Kinesiotaping - Medical Taping)</h4>
                        <p>Тейпы обеспечивают адекватную работу мышц, протекание саногенетических процессов, уменьшая болевой эффект, при этом не ограничивая движений, улучшая крово- и лимфоток, обладая гипоаллергенными свойствами и полной воздухо- и влагопроницаемостью, позволяет использовать их на протяжении до 5 дней, 24 часа в сутки, даже в воде</p>
						<h4>Сенсорная интеграция (Sensory Integration Therapy (SIT))</h4>
                        <p>Процесс, посредством которого мозг, получив информацию от различных органов чувств, после многократного структурного анализа и комплексной обработки принимает точный план действий</p>
                    </div>
                </div>
                <div class="txt-center top-15">
                    <a href="http://dcp-china.ru/Procedure" class="btn btn-light">ПОДРОБНЕЕ О ПРОЦЕДУРАХ</a>
                </div>
            </div>
        </div>
        <div class="procedure-room">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-push-6">
                        <div class="procedure-room-txt">
                            <div class="user-content">
                                <h3>Процедурные</h3>
                                <p>
                                    Новые, светлые и хорошо оборудованные помещения. Для комфорта проведения занятий оборудовано несколько залов ЛФК и массажа. Для проведения процедур есть все самое необходимое.
                                </p>
                                
								
								<a class="btn btn-orang  js-popup-gallery" rel="gallery_1" href="~/Content/images/hospital/bzgm_gallery_procedure_31.jpg" title="">Фотогалерея</a>
								<a class="hidden js-popup-gallery" rel="gallery_1" href="~/Content/images/hospital/bzgm_gallery_procedure_32.jpg" title="">Фотогалерея</a>
								<a class="hidden js-popup-gallery" rel="gallery_1" href="~/Content/images/hospital/bzgm_gallery_procedure_33.jpg" title="">Фотогалерея</a> <a class="hidden js-popup-gallery" rel="gallery_1" href="~/Content/images/hospital/bzgm_gallery_procedure_34.jpg" title="">Фотогалерея</a>
								<a class="hidden js-popup-gallery" rel="gallery_1" href="~/Content/images/hospital/bzgm_gallery_procedure_35.jpg" title="">Фотогалерея</a> <a class="hidden js-popup-gallery" rel="gallery_1" href="~/Content/images/hospital/bzgm_gallery_procedure_36.jpg" title="">Фотогалерея</a> <a class="hidden js-popup-gallery" rel="gallery_1" href="~/Content/images/hospital/bzgm_gallery_procedure_37.jpg" title="">Фотогалерея</a> <a class="hidden js-popup-gallery" rel="gallery_1" href="~/Content/images/hospital/bzgm_gallery_procedure_38.jpg" title="">Фотогалерея</a>
								<a class="hidden js-popup-gallery" rel="gallery_1" href="~/Content/images/hospital/bzgm_gallery_procedure_39.jpg" title="">Фотогалерея</a>
								 <a class="hidden js-popup-gallery" rel="gallery_1" href="~/Content/images/hospital/bzgm_gallery_procedure_40.jpg" title="">Фотогалере</a>
								<a class="hidden js-popup-gallery" rel="gallery_1" href="~/Content/images/hospital/bzgm_gallery_procedure_41.jpg" title="">Фотогалерея</a>
								<a class="hidden js-popup-gallery" rel="gallery_1" href="~/Content/images/hospital/bzgm_gallery_procedure_30.jpg" title="">Фотогалерея</a>
								<a class="hidden js-popup-gallery" rel="gallery_1" href="~/Content/images/hospital/bzgm_gallery_procedure_3.jpg" title="">Фотогалерея</a>
								<a class="hidden js-popup-gallery" rel="gallery_1" href="~/Content/images/hospital/bzgm_gallery_procedure_4.jpg" title="">Фотогалерея</a>
								<a class="hidden js-popup-gallery" rel="gallery_1" href="~/Content/images/hospital/bzgm_gallery_procedure_5.jpg" title="">Фотогалерея</a>
								<a class="hidden js-popup-gallery" rel="gallery_1" href="~/Content/images/hospital/bzgm_gallery_procedure_7.jpg" title="">Фотогалерея</a>
                                <a class="hidden js-popup-gallery" rel="gallery_1" href="~/Content/images/hospital/bzgm_gallery_procedure_8.jpg" title="">Фотогалерея</a>
								<a class="hidden js-popup-gallery" rel="gallery_1" href="~/Content/images/hospital/bzgm_gallery_procedure_9.jpg" title="">Фотогалерея</a>
								<a class="hidden js-popup-gallery" rel="gallery_1" href="~/Content/images/hospital/bzgm_gallery_procedure_11.jpg" title="">Фотогалерея</a>
								<a class="hidden js-popup-gallery" rel="gallery_1" href="~/Content/images/hospital/bzgm_gallery_procedure_12.jpg" title="">Фотогалерея</a>
                                <a class="hidden js-popup-gallery" rel="gallery_1" href="~/Content/images/hospital/bzgm_gallery_procedure_13.jpg" title="">Фотогалерея</a>
								<a class="hidden js-popup-gallery" rel="gallery_1" href="~/Content/images/hospital/bzgm_gallery_procedure_19.jpg" title="">Фотогалерея</a>
								<a class="hidden js-popup-gallery" rel="gallery_1" href="~/Content/images/hospital/bzgm_gallery_procedure_20.jpg" title="">Фотогалерея</a>
								
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="procedure-room-img">
                <img src="~/Content/images/hospital/bzgm_gallery_procedure_31.jpg" alt="Наша клиника">
            </div>
        </div>
    </section><!-- END sec-hosp-procedure -->

    <section class="sec-hosp-personal js-for-menu" id="sec-personal">
        <div class="personal-boss">
            <div class="container">
                <h2 class="hosp-page-title_center">Специалисты</h2>
                <div class="row">
                    <div class="col-md-5">
                        <div class="hosp-page-note">
                            Специалисты больницы имеют профильное образование. Имеют большой опыт работы в том числе и детьми с ДЦП. Согласно Норм и Правил проходят обучения и тренинги для повышения уровня квалификации.
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="boss-card">
                            <div class="boss-card-img">
                                <img src="~/Content/images/hospital/boss_1.png" alt="Леонид Кравцов">
                            </div>
							<div class="boss-card-txt">
                            <div class="boss-card-name">Сюэ Чжэньсо</div>
                                <div class="boss-card-post">Ведущий врач невролог – реабилитолог провинции Шаньси, Китай</div>
                                <div class="boss-card-note">
                                 Проводит осмотры и назначает лечение. За 25 лет практической работы
                                разработал и внедрил ряд уникальных высокоэффективных методик.
                                </div>
                              <!--  <a class="boss-card-more"><span>Подробнее</span></a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="personal-team">
            <div class="container">
                <ul class="personal-team-list">
                    <li>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="~/Content/images/doctors/300_01.jpg" alt="Бай Чхуэн Мэй">
                            </div>
                            <div class="doctor-txt">
                                <div class="doctor-name">Бай Чхуэн Мэй</div>
                                    <div class="doctor-post">Организация лечения, логопед-дефектолог, массаж, логомассаж</div>
                                    <div class="doctor-note">Врач, стаж 10 лет.</div>
                               <!-- <div class="doctor-more"><span>Подробнее</span></div>
                            </div>
                            <!-- <a class="doctor-link js-show-popup" data-pop="pop-doctor_1"></a> -->
							
                        </div>
                    </li>
                    <li>
                        <div class="doctor">
                            <div class="doctor-img">
                                 <img src="~/Content/images/doctors/300_02.jpg" alt="Джан Шу Лан">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Джан Шу Лан</div>
                                    <div class="doctor-post">Иглотерапевт</div>
                                    <div class="doctor-note">Врач, стаж 31 лет.</div>
                                <!-- <div class="doctor-more"><span>Подробнее</span></div> -->
                            </div>
                           <!-- <a class="doctor-link js-show-popup" data-pop="pop-doctor_1"></a> -->
                        </div>
                    </li>
                    <li>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="~/Content/images/doctors/300_03.jpg" alt="Нин Джи Юнь">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Нин Джи Юнь</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 5 лет.</div>
                                <!-- <div class="doctor-more"><span>Подробнее</span></div> -->
                            </div>
                            <!--<a class="doctor-link js-show-popup" data-pop="pop-doctor_1"></a> -->
                        </div>
                    </li>
                    <li>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="~/Content/images/doctors/300_04.jpg" alt="Ван Тюин">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Ван Тюин</div>
                                    <div class="doctor-post">Трудотерапия, мелкая моторика рук</div>
                                    <div class="doctor-note">Инструктор, стаж 3 года.</div>
                                 <!-- <div class="doctor-more"><span>Подробнее</span></div> -->
                            </div>
                           <!-- <a class="doctor-link js-show-popup" data-pop="pop-doctor_1"></a> -->
                        </div>
                    </li>
                    <li>
                        <div class="doctor">
                            <div class="doctor-img">
                               <img src="~/Content/images/doctors/300_05.jpg" alt="Ван Тюинь">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Ван Тюинь</div>
                                    <div class="doctor-post">Трудотерапия, мелкая моторика рук</div>
                                    <div class="doctor-note">Инструктор, стаж 3 года.</div>
                                 <!-- <div class="doctor-more"><span>Подробнее</span></div> -->
                            </div>
                           <!-- <a class="doctor-link js-show-popup" data-pop="pop-doctor_1"></a> -->
                        </div>
                    </li>
                    <li>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="~/Content/images/doctors/300_06.jpg" alt="Сюй Тья Юэнь">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Сюй Тья Юэнь</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 7 лет.</div>
                                 <!-- <div class="doctor-more"><span>Подробнее</span></div> -->
                            </div>
                         <!--   <a class="doctor-link js-show-popup" data-pop="pop-doctor_1"></a> -->
                        </div>
                    </li>
					<li>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="~/Content/images/doctors/300_07.jpg" alt="Ву Янг">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Ву Янг</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 7 лет.</div>
                                 <!-- <div class="doctor-more"><span>Подробнее</span></div> -->
                            </div>
                          <!--  <a class="doctor-link js-show-popup" data-pop="pop-doctor_1"></a>  -->
                        </div>
                    </li>
					<li>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="~/Content/images/doctors/300_08.jpg" alt="Ван Чхуэн">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Ван Чхуэн</div>
                                    <div class="doctor-post">Массаж Туйна, точечный массаж</div>
                                    <div class="doctor-note">Инструктор, стаж 2 года.</div>
                                 <!-- <div class="doctor-more"><span>Подробнее</span></div> -->
                            </div>
                            <!-- <a class="doctor-link js-show-popup" data-pop="pop-doctor_1"></a> -->
                        </div>
                    </li>
					<li>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="~/Content/images/doctors/300_09.jpg" alt="Суэн Ву">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Суэн Ву</div> 
                                     <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 3 года.</div>
                                 <!-- <div class="doctor-more"><span>Подробнее</span></div> -->
                            </div>
                           <!-- <a class="doctor-link js-show-popup" data-pop="pop-doctor_1"></a> -->
                        </div>
                    </li>
					<li>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="~/Content/images/doctors/300_010.jpg" alt="Ву Жень Жуэй">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Ву Жень Жуэй</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 4 года.</div>
                                 <!-- <div class="doctor-more"><span>Подробнее</span></div> -->
                            </div>
                           <!-- <a class="doctor-link js-show-popup" data-pop="pop-doctor_1"></a> -->
                        </div>
                    </li>
					<li>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="~/Content/images/doctors/300_011.jpg" alt="Ву Сюй Пхан">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Ву Сюй Пхан</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 4 года.</div>
                                 <!-- <div class="doctor-more"><span>Подробнее</span></div> -->
                            </div>
                           <!-- <a class="doctor-link js-show-popup" data-pop="pop-doctor_1"></a> -->
                        </div>
                    </li>
					<li>
                        <div class="doctor">
                            <div class="doctor-img">
                                 <img src="~/Content/images/doctors/300_012.jpg" alt="Цхао Дин Тхао">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Цхао Дин Тхао</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 4 года.</div>
                                 <!-- <div class="doctor-more"><span>Подробнее</span></div> -->
                            </div> 
                           <!-- <a class="doctor-link js-show-popup" data-pop="pop-doctor_1"></a> -->
                        </div>
                    </li>
					<li>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="~/Content/images/doctors/300_013.jpg" alt="Сон Тин">
                                </div>
                                <div class="doctor-txt">
                                      <div class="doctor-name">Сон Тин</div>
                                    <div class="doctor-post">Трудотерапия, мелкая моторика рук</div>
                                    <div class="doctor-note">Инструктор, стаж 5 лет.</div>
                                 <!-- <div class="doctor-more"><span>Подробнее</span></div> -->
                            </div>
                           <!-- <a class="doctor-link js-show-popup" data-pop="pop-doctor_1"></a> -->
                        </div>
                    </li>
					<li>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="~/Content/images/doctors/300_014.jpg" alt="Джу Дин Дин">
                                </div>
                                <div class="doctor-txt">
                                      <div class="doctor-name">Джу Дин Дин</div>
                                    <div class="doctor-post">Логопедический массаж</div>
                                    <div class="doctor-note">Инструктор, стаж 3 года.</div>
                                 <!-- <div class="doctor-more"><span>Подробнее</span></div> -->
                            </div>
                           <!-- <a class="doctor-link js-show-popup" data-pop="pop-doctor_1"></a> -->
                        </div>
                    </li>
					<li>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="~/Content/images/doctors/300_015.jpg" alt="Ван Чхуэн">
                                </div>
                                <div class="doctor-txt">
                                      <div class="doctor-name">Ван Чхуэн</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 3 года.</div>
                                 <!-- <div class="doctor-more"><span>Подробнее</span></div> -->
                            </div>
                           <!-- <a class="doctor-link js-show-popup" data-pop="pop-doctor_1"></a> -->
                        </div>
                    </li>
					<li>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="~/Content/images/doctors/300_016.jpg" alt="Джан Дьен">
                                </div>
                                <div class="doctor-txt">
                                      <div class="doctor-name">Джан Дьен</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 3 года.</div>
                                 <!-- <div class="doctor-more"><span>Подробнее</span></div> -->
                            </div>
                           <!-- <a class="doctor-link js-show-popup" data-pop="pop-doctor_1"></a> -->
                        </div>
                    </li>
					<li>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="~/Content/images/doctors/300_017.jpg" alt="Фан Я Тхин">
                                </div>
                                <div class="doctor-txt">
                                      <div class="doctor-name">Фан Я Тхин</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 1 год.</div> 
                                 <!-- <div class="doctor-more"><span>Подробнее</span></div> -->
                            </div>
                        <!--    <a class="doctor-link js-show-popup" data-pop="pop-doctor_1"></a> -->
                        </div>
                    </li>
					<li>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="~/Content/images/doctors/300_018.jpg" alt="Ван Сяа Ся">
                                </div>
                                <div class="doctor-txt">
                                     <div class="doctor-name">Ван Сяа Ся</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 2 года.</div>
                                 <!-- <div class="doctor-more"><span>Подробнее</span></div> -->
                            </div>
                          <!--  <a class="doctor-link js-show-popup" data-pop="pop-doctor_1"></a> -->
                        </div>
                    </li>
					<li>
                        <div class="doctor">
                            <div class="doctor-img">
                                 <img src="~/Content/images/doctors/300_019.jpg" alt="Джан Тьен">
                                </div>
                                <div class="doctor-txt">
                                      <div class="doctor-name">Джан Тьен</div>
                                    <div class="doctor-post">Массаж</div>
                                    <div class="doctor-note">Инструктор, стаж 3 года.</div>
                                 <!-- <div class="doctor-more"><span>Подробнее</span></div> -->
                            </div>
                           <!-- <a class="doctor-link js-show-popup" data-pop="pop-doctor_1"></a> -->
                        </div>
                    </li>
					<li>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="~/Content/images/doctors/300_020.jpg" alt="Хоу Ци Хуа">
                                </div>
                                <div class="doctor-txt">
                                      <div class="doctor-name">Хоу Тци Хуа</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 2 года.</div>
                                 <!-- <div class="doctor-more"><span>Подробнее</span></div> -->
                            </div>
                           <!-- <a class="doctor-link js-show-popup" data-pop="pop-doctor_1"></a> -->
                        </div>
                    </li>
					<li>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="~/Content/images/doctors/300_021.jpg" alt="Джу Я Фэн">
                                </div>
                                <div class="doctor-txt">
                                      <div class="doctor-name">Джу Я Фэн</div>
                                    <div class="doctor-post">Трудотерапия, мелкая моторика рук</div>
                                    <div class="doctor-note">Инструктор, стаж 3 года.</div>
                                 <!-- <div class="doctor-more"><span>Подробнее</span></div> -->
                            </div>
                           <!-- <a class="doctor-link js-show-popup" data-pop="pop-doctor_1"></a> -->
                        </div>
                    </li>
					<li>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="~/Content/images/doctors/300_022.jpg" alt="Ду Ла Хуэй">
                                </div>
                                <div class="doctor-txt">
                                      <div class="doctor-name">Ду Ла Хуэй</div>
                                    <div class="doctor-post">Логопедический массаж</div>
                                    <div class="doctor-note">Инструктор, стаж 1 год.</div>
                                 <!-- <div class="doctor-more"><span>Подробнее</span></div> -->
                            </div>
                     <!--       <a class="doctor-link js-show-popup" data-pop="pop-doctor_1"></a> -->
                        </div>
                    </li>
					<li>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="~/Content/images/doctors/300_023.jpg" alt="Джао Ма Ли">
                                </div>
                                <div class="doctor-txt">
                                    <div class="doctor-name">Джао Ма Ли</div>
                                    <div class="doctor-post">Логопедический массаж</div>
                                    <div class="doctor-note">Инструктор, стаж 2 года.</div>
                                 <!-- <div class="doctor-more"><span>Подробнее</span></div> -->
                            </div>
                         <!--   <a class="doctor-link js-show-popup" data-pop="pop-doctor_1"></a> -->
                        </div>
                    </li>
					<li>
                        <div class="doctor">
                            <div class="doctor-img">
                               <img src="~/Content/images/doctors/300_024.jpg" alt="Дин Лан">
                                </div>
                                <div class="doctor-txt">
                                      <div class="doctor-name">Дин Лан</div>
                                    <div class="doctor-post">ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 2 года.</div>
                                 <!-- <div class="doctor-more"><span>Подробнее</span></div> -->
                            </div>
                          <!--  <a class="doctor-link js-show-popup" data-pop="pop-doctor_1"></a>-->
                        </div>
                    </li>
					<li>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="~/Content/images/doctors/300_025.jpg" alt="Ло Жуэй">
                                </div>
                                <div class="doctor-txt">
                                     <div class="doctor-name">Ло Жуэй</div>
                                    <div class="doctor-post">Массаж, ЛФК</div>
                                    <div class="doctor-note">Инструктор, стаж 1 год.</div>  
                                 <!-- <div class="doctor-more"><span>Подробнее</span></div> -->
                            </div>
                          <!--  <a class="doctor-link js-show-popup" data-pop="pop-doctor_1"></a> -->
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section><!-- END sec-hosp-personal -->

    <section class="sec-hosp-housing js-for-menu" id="sec-housing">
        <div class="housing-desc">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h2 class="hosp-page-title_left">Проживание</h2>
                        <div class="hosp-page-note">
                            За 6 лет реабилитации детей с ДЦП получен большой опыт в разрешении различного рода вопросов связанных с бытом, проживанием, организацией встречи и проводов.
                        </div>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
                <div class="user-content">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Расположение</h3>
                            <p>
                                Больница расположена в старой центральной части города Юньчэн. В районе где есть вся инфраструктура. Крупный супермаркет, множество продуктовых магазинов и колхозный рынок все находится в доступной близости без использования общественного транспорта. Рядом  в 3 минутах ходьбы расположен крупнейший  городской парк "Западный парк". На территории  городского парка: большое озеро, зоопарк, детские аттракционы. Рядом расположены несколько крупных банков.
                            </p>
                            <h3>Транспорт</h3>
                            <p>
                                Больница расположена в 15 минутах ходьбы от  центральной части города и в пешей доступности к другим необходимым местам. Особой необходимости в транспорте может не быть. Самым удобным видом транспорта является такси. Поездка на расстояние 5 км обойдется Вам в 5-6 юаней. Например для посещения европейского супермаркета Wolmart. 
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h3>Стоимость проживания</h3>
                            <p>
                                Стоимость проживания 80 юаней в сутки. За пользование кондиционером и другими электро-бытовыми приборами отдельная плата не взимается. Оплата за проживание включено в общий счет за лечение. Допускается установка дополнительной кровати. Об этом заранее проинформировать администратора. Бытовые услуги включены в стоимость проживания за исключением случаев превышения лимита использования воды и электроэнергии.
                            </p> 
                            <h3>Питание</h3> 
                            <p>
                                Приготовить блюда Вы можете самостоятельно. Для удобства приготовления пищи, на каждом этаже оборудована общая кухня.  Продукты для приготовления пищи можете приобрести в любом из супермаркетов поблизости. Так же можно купить недорого готовые блюда. По близости есть пункты питания с русским меню или с цветными фотографиями. Администрацией больницы подготовлен "Справочник пациента" в котором есть все необходимые фразы для покупок и заказа еды.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="housing-room">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="housing-room-txt">
                            <div class="user-content">
                               <h3>Квартиры (палаты)</h3>
                                <p>
 Квартиры для проживание расположены в одном здании с больницей. Поэтому для посещения процедур Вам не нужно выходить на улицу.  Квартиры расположены на 3,4,5 этажах. Оборудованы всеми удобствами: большой шкаф для личных вещей, большая кровать, два кресла, журнальный стол, письменный стол, прикроватная тумбочка, телевизор, холодильник, кулер с холодной и горячей водой, душ, туалет,умывальник. 
                                </p>
                                
								<!-- <a class="btn btn-orang" role="button">Фотогалерея</a> -->
								<a class="btn btn-orang js-popup-gallery" rel="gallery_2" href="~/Content/images/hospital/bzgm_usloviya_5.jpg" title="">Фотогалерея</a>
								
					 
					<a class="hidden js-popup-gallery" rel="gallery_2" href="~/Content/images/hospital/bzgm_usloviya_1.jpg"></a>
					<a class="hidden js-popup-gallery" rel="gallery_2" href="~/Content/images/hospital/bzgm_usloviya_6.jpg"></a>
					<a class="hidden js-popup-gallery" rel="gallery_2" href="~/Content/images/hospital/bzgm_usloviya_7.jpg"></a>
					<a class="hidden js-popup-gallery" rel="gallery_2" href="~/Content/images/hospital/bzgm_usloviya_10.jpg"></a>
					<a class="hidden js-popup-gallery" rel="gallery_2" href="~/Content/images/hospital/bzgm_usloviya_12.jpg"></a>
								
								
								                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="housing-room-img">
                <img src="~/Content/images/hospital/bzgm_usloviya_6.jpg" alt="Наша клиника">
				                                
            </div>
        </div>
		
    </section><!-- END sec-hosp-housing -->

    <section class="sec-hosp-paying js-for-menu" id="sec-paying">
        <div class="container">
            <h2 class="hosp-page-title_center">Цены и оплата</h2>
            <div class="hosp-page-note_center">
                Мы сделали передовое лечение доступным.
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="user-content">
                        <h3>Цены</h3>
                        <p>
						Лечение в реабилитационном центре оплачивается по установленным прейскурантам без каких-либо доплаты и наценок. Стоимость лечения и реабилитации больных ДЦП зависит от количества и сложности назначений, и составляет 2000-3500 USD (до 220 тыс. рублей) в месяц. Самая востребованая процедура ЛФК или массаж - 50 юаней. График получения лечебных и реабилитационных процедур предусматривает ежедневный восьмичасовой объем мероприятий.
</p>
<p>
Цель нашей деятельности – обеспечение режима максимального содействия в лечении детского церебрального паралича. Ценовый уровень адекватен объему предоставляемых медицинских услуг. Обеспечивая всестороннее внимание к больному от момента приемки заявки и вплоть до выписки, мы берем на себя решение всех врачебных задач и бытовых проблем, стоящих перед пациентом и его сопровождающим.


                        </p>
                        <h3>Оплата</h3>
                        <p>
                            Оплата услуг производится как в больничную кассу (второй этаж), так и пред оплатой на интернациональный юридический счет больницы (валюта USD USA). Оплата в кассу больницы  производится в Юанях или банковской картой в системе YunionPay.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <ul class="price-list is-wide">
                        <li>
                            <a class="price-list-link has-icon icon-pdf" href="~/Content/pdf/price-1.pdf" title="Скачать документ">
                              Цены на процедуры и сопутствующие услуги
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_CurrencyRate")
                </div>
            </div>
        </div>
    </section><!-- END sec-hosp-paying -->

    <section class="sec-hosp-gallery js-for-menu" id="sec-gallery">
        <div class="container">
            <h3 class="gallery-title">Фотогалерея</h3>
            <div class="row">
                <div class="col-md-3">
                    <div class="gallery-card">
                        <div class="gallery-card-img">
                            <img src="~/Content/images/hospital/bzgm_usloviya.jpg" alt="Условия проживания">
                        </div>
                        <div class="gallery-card-txt">Условия проживания</div>
                       
					   <a class="gallery-card-link js-popup-gallery" rel="gallery_room" href="~/Content/images/hospital/bzgm_usloviya_2.jpg"></a>
					 
					<a class="hidden js-popup-gallery" rel="gallery_room" href="~/Content/images/hospital/bzgm_usloviya_3.jpg"></a>
					<a class="hidden js-popup-gallery" rel="gallery_room" href="~/Content/images/hospital/bzgm_usloviya_4.jpg"></a>
					<a class="hidden js-popup-gallery" rel="gallery_room" href="~/Content/images/hospital/bzgm_usloviya_5.jpg"></a>
					<a class="hidden js-popup-gallery" rel="gallery_room" href="~/Content/images/hospital/bzgm_usloviya_6.jpg"></a>
					<a class="hidden js-popup-gallery" rel="gallery_room" href="~/Content/images/hospital/bzgm_usloviya_1.jpg"></a>
					<a class="hidden js-popup-gallery" rel="gallery_room" href="~/Content/images/hospital/bzgm_usloviya_7.jpg"></a>
															
	
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="gallery-card">
                        <div class="gallery-card-img">
                            <img src="~/Content/images/hospital/bzgm_gallery_procedure_000.jpg" alt="Процедурные">
                        </div> 
                        <div class="gallery-card-txt">Процедурные</div>
						
									
								<a class="gallery-card-link js-popup-gallery" rel="gallery_procedure" href="~/Content/images/hospital/bzgm_gallery_procedure_31.jpg" title="">Фотогалерея</a>
								<a class="hidden js-popup-gallery" rel="gallery_procedure" href="~/Content/images/hospital/bzgm_gallery_procedure_32.jpg" title="">Фотогалерея</a>
								<a class="hidden js-popup-gallery" rel="gallery_procedure" href="~/Content/images/hospital/bzgm_gallery_procedure_33.jpg" title="">Фотогалерея</a> <a class="hidden js-popup-gallery" rel="gallery_procedure" href="~/Content/images/hospital/bzgm_gallery_procedure_34.jpg" title="">Фотогалерея</a>
								<a class="hidden js-popup-gallery" rel="gallery_procedure" href="~/Content/images/hospital/bzgm_gallery_procedure_35.jpg" title="">Фотогалерея</a> <a class="hidden js-popup-gallery" rel="gallery_procedure" href="~/Content/images/hospital/bzgm_gallery_procedure_36.jpg" title="">Фотогалерея</a> <a class="hidden js-popup-gallery" rel="gallery_procedure" href="~/Content/images/hospital/bzgm_gallery_procedure_37.jpg" title="">Фотогалерея</a> <a class="hidden js-popup-gallery" rel="gallery_procedure" href="~/Content/images/hospital/bzgm_gallery_procedure_38.jpg" title="">Фотогалерея</a>
								<a class="hidden js-popup-gallery" rel="gallery_procedure" href="~/Content/images/hospital/bzgm_gallery_procedure_39.jpg" title="">Фотогалерея</a>
								 <a class="hidden js-popup-gallery" rel="gallery_procedure" href="~/Content/images/hospital/bzgm_gallery_procedure_40.jpg" title="">Фотогалере</a>
								<a class="hidden js-popup-gallery" rel="gallery_procedure" href="~/Content/images/hospital/bzgm_gallery_procedure_41.jpg" title="">Фотогалерея</a>
								
								<a class="hidden js-popup-gallery" rel="gallery_procedure" href="~/Content/images/hospital/bzgm_gallery_procedure_30.jpg"></a>
								<a class="hidden js-popup-gallery" rel="gallery_procedure" href="~/Content/images/hospital/bzgm_gallery_procedure_4.jpg" title="">Фотогалерея</a>
								<a class="hidden js-popup-gallery" rel="gallery_procedure" href="~/Content/images/hospital/bzgm_gallery_procedure_5.jpg" title="">Фотогалерея</a>
								<a class="hidden js-popup-gallery" rel="gallery_procedure" href="~/Content/images/hospital/bzgm_gallery_procedure_7.jpg" title="">Фотогалерея</a>
                                <a class="hidden js-popup-gallery" rel="gallery_procedure" href="~/Content/images/hospital/bzgm_gallery_procedure_8.jpg" title="">Фотогалерея</a>
								<a class="hidden js-popup-gallery" rel="gallery_procedure" href="~/Content/images/hospital/bzgm_gallery_procedure_9.jpg" title="">Фотогалерея</a>
								<a class="hidden js-popup-gallery" rel="gallery_procedure" href="~/Content/images/hospital/bzgm_gallery_procedure_11.jpg" title="">Фотогалерея</a>
								<a class="hidden js-popup-gallery" rel="gallery_procedure" href="~/Content/images/hospital/bzgm_gallery_procedure_12.jpg" title="">Фотогалерея</a>
                                <a class="hidden js-popup-gallery" rel="gallery_procedure" href="~/Content/images/hospital/bzgm_gallery_procedure_13.jpg" title="">Фотогалерея</a>
								<a class="hidden js-popup-gallery" rel="gallery_procedure" href="~/Content/images/hospital/bzgm_gallery_procedure_19.jpg" title="">Фотогалерея</a>
								<a class="hidden js-popup-gallery" rel="gallery_procedure" href="~/Content/images/hospital/bzgm_gallery_procedure_20.jpg" title="">Фотогалерея</a>
						
						
						
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="gallery-card">
                        <div class="gallery-card-img">
                            <img src="~/Content/images/hospital/gallery_equipment.jpg" alt="Лечебное оборудование">
                        </div>
                        <div class="gallery-card-txt">Лечебное оборудование</div>
                        <a class="gallery-card-link js-popup-gallery" rel="gallery_equipment" href="~/Content/images/hospital/gallery_equipment.jpg"></a>
						<!--bzgm_gallery_procedure.jpg
						bzgm_gallery_procedure_1
						
						bzgm_gallery_procedure_16
						
						bzgm_gallery_procedure_17
						
						bzgm_gallery_procedure_18
						
						-->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="gallery-card">
                        <div class="gallery-card-img">
                            <img src="~/Content/images/hospital/yuncheng_00.jpg" alt="Город Юньчэн">
                        </div>
                        <div class="gallery-card-txt">Город Юньчэн</div>
                        <a class="gallery-card-link js-popup-gallery" rel="gallery_yunchen" href="~/Content/images/hospital/yuncheng_1.jpg"></a>
						<a class="hidden js-popup-gallery" rel="gallery_yunchen" href="~/Content/images/hospital/yuncheng_2.jpg"></a>
						<a class="hidden js-popup-gallery" rel="gallery_yunchen" href="~/Content/images/hospital/yuncheng_3.jpg"></a>
						<a class="hidden js-popup-gallery" rel="gallery_yunchen" href="~/Content/images/hospital/yuncheng_4.jpg"></a>
						<a class="hidden js-popup-gallery" rel="gallery_yunchen" href="~/Content/images/hospital/yuncheng_5.jpg"></a>
						<a class="hidden js-popup-gallery" rel="gallery_yunchen" href="~/Content/images/hospital/yuncheng_6.jpg"></a>
						<a class="hidden js-popup-gallery" rel="gallery_yunchen" href="~/Content/images/hospital/yuncheng_7.jpg"></a>
						<a class="hidden js-popup-gallery" rel="gallery_yunchen" href="~/Content/images/hospital/yuncheng_8.jpg"></a>
						
						<a class="hidden js-popup-gallery" rel="gallery_yunchen" href="~/Content/images/hospital/yuncheng_10.jpg"></a>
						<a class="hidden js-popup-gallery" rel="gallery_yunchen" href="~/Content/images/hospital/yuncheng_11.jpg"></a>
						
						<a class="hidden js-popup-gallery" rel="gallery_yunchen" href="~/Content/images/hospital/yuncheng_13.jpg"></a>
						<a class="hidden js-popup-gallery" rel="gallery_yunchen" href="~/Content/images/hospital/yuncheng_14.jpg"></a>
						<a class="hidden js-popup-gallery" rel="gallery_yunchen" href="~/Content/images/hospital/yuncheng_15.jpg"></a>
						 <a class="hidden js-popup-gallery" rel="gallery_yunchen" href="~/Content/images/hospital/yuncheng_241.jpg"></a>
						<a class="hidden js-popup-gallery" rel="gallery_yunchen" href="~/Content/images/hospital/yuncheng_16.jpg"></a>
						<a class="hidden js-popup-gallery" rel="gallery_yunchen" href="~/Content/images/hospital/yuncheng_30.jpg"></a>
						
						<a class="hidden js-popup-gallery" rel="gallery_yunchen" href="~/Content/images/hospital/yuncheng_18.jpg"></a>
						<a class="hidden js-popup-gallery" rel="gallery_yunchen" href="~/Content/images/hospital/yuncheng_19.jpg"></a>
						<a class="hidden js-popup-gallery" rel="gallery_yunchen" href="~/Content/images/hospital/yuncheng_20.jpg"></a>
						<a class="hidden js-popup-gallery" rel="gallery_yunchen" href="~/Content/images/hospital/yuncheng_22.jpg"></a>
						<a class="hidden js-popup-gallery" rel="gallery_yunchen" href="~/Content/images/hospital/yuncheng_23.jpg"></a>
						<a class="hidden js-popup-gallery" rel="gallery_yunchen" href="~/Content/images/hospital/yuncheng_24.jpg"></a>
						<a class="hidden js-popup-gallery" rel="gallery_yunchen" href="~/Content/images/hospital/yuncheng_25.jpg"></a>
						<a class="hidden js-popup-gallery" rel="gallery_yunchen" href="~/Content/images/hospital/yuncheng_26.jpg"></a>
						<a class="hidden js-popup-gallery" rel="gallery_yunchen" href="~/Content/images/hospital/yuncheng_27.jpg"></a>
						<a class="hidden js-popup-gallery" rel="gallery_yunchen" href="~/Content/images/hospital/yuncheng_28.jpg"></a>
						<a class="hidden js-popup-gallery" rel="gallery_yunchen" href="~/Content/images/hospital/yuncheng_271.jpg"></a>
					
						
						<a class="hidden js-popup-gallery" rel="gallery_yunchen" href="~/Content/images/hospital/yuncheng_31.jpg"></a>
						
						
						
						
						
						
						
						
						
						
						
						
                    </div>
                </div>
            </div>
        </div>
    </section><!-- END sec-hosp-gallery -->

    <!-- <section class="sec-hosp-docs js-for-menu" id="sec-documents">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h2 class="hosp-page-title_left">Документы</h2>
                    <div class="hosp-page-note">
                        Текст про соответствие услуг нормам и стандартам, наличии
                        всех необходимых сертификатов и лицензий.
                    </div>
                </div>
            </div>
            <div class="row">
                <ul class="docs">
                    <li class="docs-item">
                        <div class="docs-card">
                            <div class="docs-card-img">
                                <img src="~/Content/images/hospital/document_1.jpg" alt="Лицензия">
                            </div>
                            <div class="docs-card-txt">
                                <div class="docs-card-name">Лицензия на медицинскую деятельность</div>
                                <div class="docs-card-note">Пояснение, если нужно</div>
                                <div class="docs-card-more"><span>Увеличить</span></div>
                            </div>
                            <a class="docs-card-link js-popup-gallery" rel="documents" href="~/Content/images/hospital/document_1.jpg"></a>
                        </div>
                    </li>
                    <li class="docs-item">
                        <div class="docs-card">
                            <div class="docs-card-img">
                                <img src="~/Content/images/hospital/document_1.jpg" alt="Лицензия">
                            </div>
                            <div class="docs-card-txt">
                                <div class="docs-card-name">Лицензия на медицинскую деятельность</div>
                                <div class="docs-card-note">Пояснение, если нужно</div>
                                <div class="docs-card-more"><span>Увеличить</span></div>
                            </div>
                            <a class="docs-card-link js-popup-gallery" rel="documents" href="~/Content/images/hospital/document_1.jpg"></a>
                        </div>
                    </li>
                    <li class="docs-item">
                        <div class="docs-card">
                            <div class="docs-card-img">
                                <img src="~/Content/images/hospital/document_1.jpg" alt="Лицензия">
                            </div>
                            <div class="docs-card-txt">
                                <div class="docs-card-name">Лицензия на медицинскую деятельность</div>
                                <div class="docs-card-note">Пояснение, если нужно</div>
                                <div class="docs-card-more"><span>Увеличить</span></div>
                            </div>
                            <a class="docs-card-link js-popup-gallery" rel="documents" href="~/Content/images/hospital/document_1.jpg"></a>
                        </div>
                    </li>
                    <li class="docs-item">
                        <div class="docs-card">
                            <div class="docs-card-img">
                                <img src="~/Content/images/hospital/document_2.jpg" alt="Сертификат">
                            </div>
                            <div class="docs-card-txt">
                                <div class="docs-card-name">Сертификат соответствия услуг</div>
                                <div class="docs-card-note">Пояснение, если нужно</div>
                                <div class="docs-card-more"><span>Увеличить</span></div>
                            </div>
                            <a class="docs-card-link js-popup-gallery" rel="documents" href="~/Content/images/hospital/document_2.jpg"></a>
                        </div>
                    </li>
                    <li class="docs-item">
                        <div class="docs-card">
                            <div class="docs-card-img">
                                <img src="~/Content/images/hospital/document_1.jpg" alt="Лицензия">
                            </div>
                            <div class="docs-card-txt">
                                <div class="docs-card-name">Лицензия на медицинскую деятельность</div>
                                <div class="docs-card-note">Пояснение, если нужно</div>
                                <div class="docs-card-more"><span>Увеличить</span></div>
                            </div>
                            <a class="docs-card-link js-popup-gallery" rel="documents" href="~/Content/images/hospital/document_1.jpg"></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section><!-- END sec-hosp-docs -->

    <section class="sec-hosp-contact js-for-menu" id="sec-contacts">
        <div class="container">
            <h2 class="hosp-page-title_center">Контакты</h2>
            <div class="hosp-page-note_center">
                <!-- Надо написать для чего мы даем контакты самой клиники.<br>
                Вероятно для экстренной связи-->
            </div>
            <div class="contact-card">
                <a class="contact-card-title" href="tel:+79897021188">+7 989 702-11-88</a>
				<a class="contact-card-title" href="tel:+8613096636644">+86 130 9663-6644</a>
               <!-- <div class="contact-card-note btm-20">с 14:00 до 23:00 (мск +3)</div> -->
                <a class="contact-card-bold" href="mailto:zqcpchina@gmail.com">zqcpchina@gmail.com</a>
            </div>
            <div class="row user-content">
                <div class="col-md-4">
                    <h4>Адрес</h4>
                    <p>Больница заболеваний головного мозга при НИИ акупунктуры головы<br>
					района ЕньХу, улица Хонци дом 137<br>
					города Юньчэн<br>
					провинция Шаньси, КНР					
					</p> 
                </div>
                <div class="col-md-4">
                    <h4>Адрес на китайском языке</h4>
                    <p>
                        山西省运城市头针研究所附属脑病医院<br> 
						山西省运城市红旗西街137 号
                    </p>
                </div>
                <div class="col-md-4">
                    <h4>Адрес на английском языке</h4>
                    <p>Shanxi province Yuncheng research Institute of scalp acupuncture affiliated with the brain disease hospital
					<br>China, Shanxi province, Yuncheng city,<br>  Hongqi Street No.137, 044000</p>
                </div>
            </div>
        </div>
         <!-- Для карты передаем координаты точки в атрибутах 35.019301, 110.995175-->
        <div class="contact-map" id="map-wrap" data-lat="35.019301" data-lng="110.995175"></div>
    </section><!-- END sec-hosp-contact -->

</div>

