@{
    ViewBag.Title = "Особенности работы интернета в Китае";
	ViewBag.Description = "в Китае загрузка НЕ китайских сайтов происходить очень долго, всемирно известные Google, Facebook, Instagram, Twitter, Youtube – не работают совсем.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main is-full-screen" role="main">
    @Html.Partial("_InfoMenu")

    <div class="all-pages-body price-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-content">
                        <h3>Какие интернет ресурсы не работают в Китае</h3>
                        <p>
                            При подготовке к поездке в Китай необходимо знать, что в Китае загрузка  НЕ китайских сайтов происходить очень долго, некоторые всемирно известные ресурсы Google, Facebook, Instagram, Twitter, Youtube – не работают совсем.
                        </p>
                        <p>
                            По странному принципу могут временно перестать работать Одноклассники, Вконтакте.
                        </p>
                        <p>
                            С мобильными приложениями беда: практически не работает или сутками грузятся сообщения в Viber. Были случаи не работоспособности мессенджера Whatsapp
                        </p>
                        <p>
                            Не работают отечественные сайты с онлайн видео (сайты для просмотра мультфильмов или кинофильмов)
                        </p>
                        <p>
                            <b>Почему плохо грузятся сайты?</b>
                        </p>
                        <p>
                            С 1998 правительство Китая осознало, что пришло время подумать о защите от вредоносной информации и началась разработка системы «Золотой Щит», которая была запущена в 2003 году.
                        </p>
                        <p>
                            Прежде всего защита от порнографии и политической дезинформации. Критерии блокировки сайтов постоянно меняются и совершенствуются.
                        </p>
                        <p>
                            <b>Как происходит блокировка?</b>
                        </p>
                        <p>
                            Блокировка может производиться по ключевым словам («порно», «Тибет», «права человека») и по черным спискам. В настоящий момент идет переход от черных списков к белым. То есть сейчас китаец может зайти на любой сайт, который не заблокирован. А в будущем сможет посещать только разрешенные ресурсы.
                        </p>
                        <p>
                            По адресу <a href="http://www.greatfirewallofchina.org" target="_blank"> http://www.greatfirewallofchina.org  </a> можно проверить, будет ли сайт работать в Китае.
                        </p>
                        <p>
                            На сайте <a href="https://en.wikipedia.org/wiki/Websites_blocked_in_mainland_China " target="_blank"> https://en.wikipedia.org </a>, есть список популярных сайтов, которые заблокированы «Золотым щитом». Среди них Google, Facebook, Instagram, Twitter и куча других социальных ресурсов.
                        </p>
                        <p>
                            Но если сайт не находится в черном списке, это еще не значит, что им можно нормально пользоваться. По адресу <a href="http://ce.cloud.360.cn " target="_blank"> http://ce.cloud.360.cn </a> можно узнать, с какой скоростью будет загружаться тот или иной ресурс в разных китайских регионах.
                        </p>
                        <p>
                            <b>Как можно обойти «Великий китайский фаервол»?</b>
                        </p>
                        <p>
                            Как и в других странах с жесткой интернет-цензурой, китайцы используют VPN.
                        </p>

                    </div>
                </div>
                <div class="col-md-3 col-lg-offset-1">
                </div>
            </div><!-- Блок «Поделиться» от Яндекса-->
            <script type="text/javascript" src="http://yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
            <script type="text/javascript" src="http://yastatic.net/share2/share.js" charset="utf-8"></script>
            <div style="text-align: left;" class="gallery-share ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir" data-counter=""></div>

        </div><!-- END container -->
    </div><!-- END all-pages-body -->

</div><!-- END main -->
