@{
    ViewBag.Title = "Лекарства, которые рекомендуем взять из дома в Китай";
	ViewBag.Description = "Представлен список препаратов для лечения простудных и инфекционных заболеваний: ОРВИ, жаропонижающие, насморк, боль в горле, и так далее..";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main is-full-screen" role="main">
    @Html.Partial("_InfoMenu")

    <div class="all-pages-body price-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-content">
                        <h3>
                            Лекарства, которые рекомендуем взять из дома в Китай
                            <!--Список лекарственных средств,
                             как рекомендуемых взять с собой в Китай. -->
                        </h3>
                        <h4>Подготовил: доктор Попко Екатерина Александровна, город Уфа, мама Богдана.</h4>
                        <p>
                            <b>ОРВИ: </b> Эргоферон, гомеопатический препарат Инфлюцид.
                        </p>
                        <p>
                            <b>Жаропонижающие: </b>Нурофен, Панадол
                        </p>
                        <p>
                            <b>Насморк:  </b> Аквалор, устройство для аспирации соплей, Називин, Изофра, Полидекса(после 2,5 лет)
                        </p>
                        <p>
                            <b> Боль в горле: </b> 	Гексорал раствор (дети от года), Биопарокс (старше 2,5 лет, универсально в нос, горло и гортань), гомеопатический Тонзилотрен
                        </p>

                        <p> <b> Отит: </b> Отипакс, Отофа </p>

                        <p>
                            <b>Кашель:</b> <ul class="sec-procedure-list">
                                <li>сухой, приступообразный: Синекод капли с рождения/сироп синекод (дети старше 3 лет)</li>
                                <li>влажный  с трудноотходящей мокротой: Амбробене/АЦЦ</li>
                                <li>длительный кашель на фоне ОРВИ: Эреспал</li>
                                <li>влажный с одышкой и бронхообструкцией: Аскорил</li>
                                <li>гомеопатический препарат при всех видах кашля : Проспан</li>
                            </ul>
                        </p>
                        <p>
                            <b>Антибактериальные препараты при инфекции верхних и нижних дыхательных путей и уха:</b> <ul class="sec-procedure-list">
                                <li>Флемоксин/Флемоклав (если флемоксин использовался ранее в течении 3 месяцев)/Супракс</li>
                                <li>
                                    Вильпрофен (действует на внутриклеточных возбудителей: хламидии, микоплазмы)
                                </li>
                            </ul>
                        </p>
                        <p>
                            <b>Нарушение работы желудочно-кишечного тракта:</b> <ul class="sec-procedure-list">
                                <li>отравление: Смекта, Энтерофурил, Регидрон</li>
                                <li>восстановление микрофлоры, лечение дисбиоза, инфекции: Энтерол, Линекс</li>
                                <li>запор: Дюфалак, Глицериновые свечи</li>
                            </ul>
                        </p>
                        <p><b>Прорезывание зубов:</b> Нурофен, Калгель, Дентокинд( гомеопатический препарат)</p>
                        <p><b>Противоаллергические препараты:</b>Фенистил, Супрастин</p>
                        <p><b>Стоматит: </b>Кандид раствор, Метрогил-денте гель (старше 6 лет)</p>
                        <p><b>Герпес:</b>таблетки, крем Ацикловир</p>
                        <p><b>Коньюнктивит:</b>Альбуцид, Софрадекс</p>
                        <p><b>Травмы, ушибы, синяки:</b>Траумель крем, Гепариновая мазь,  детям старше 12 лет Долобене</p>

                        <h4>С уважением, Екатерина</h4>
                    </div>
                </div>
                <div class="col-md-3 col-lg-offset-1">
                </div>
            </div><!-- Блок «Поделиться» от Яндекса-->
            <script type="text/javascript" src="http://yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
            <script type="text/javascript" src="http://yastatic.net/share2/share.js" charset="utf-8"></script>
            <div style="text-align: left;" class="gallery-share ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir" data-counter=""></div>
        </div>
    </div>
</div>
