@{
    ViewBag.Title = "Погода в Юньчен";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main is-full-screen" role="main">
    @Html.Partial("_InfoMenu")

    <div class="all-pages-body price-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-content">
                        <h3>Погода в Юньчен</h3>
                        <p>
                            Климат и погода в Юньчэн, Китайская народная республика
                        </p>
                        <p>
                            Климат в Юньчэне континентальный, с резкими переходами от теплого дня к холодной ночи. Летом жарко, идут дожди: за три летних месяца выпадает две трети годовой нормы осадков. Температура воздуха днем в летние месяцы легко переваливает за 30°С, ночью – нередко опускается до 18°С. Средняя температура июля – около 27°С.
                        <p>
                            Зима в Юньчэне не слишком холодна: средняя температура января приблизительно равна -1°С. Зимой осадков выпадает мало. Межсезонье ветрено. Отопительный сезон в городе длится с 15-го ноября по 15-е марта.

                    </div>
                </div>
                <div class="col-md-3 col-lg-offset-1">
                </div>
            </div><!-- Блок «Поделиться» от Яндекса-->
            <script type="text/javascript" src="http://yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
            <script type="text/javascript" src="http://yastatic.net/share2/share.js" charset="utf-8"></script>
            <div style="text-align: left;" class="gallery-share ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir" data-counter=""></div>

        </div><!-- END container -->
    </div><!-- END all-pages-body -->

</div><!-- END main -->
