
@{
    ViewBag.Title = "Расходы на лечение в Китае";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main is-full-screen" role="main">
@Html.Partial("_InfoMenu")

    <div class="all-pages-body price-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-content">
                        <h3>Расходы на лечение в Китае</h3>
                        <p>
                            Сколько нужно истратить денег на лечение в Китае? Вопрос далеко не праздный – с учетом современных экономических реалий.
                        </p>
                       <p>
                            Реестр цен на медицинские услуги больниц Юньчэна представлена в смете. Предварительная калькуляция лечения ориентирует лишь на порядок суммы затрат: стоимостная конкретика зависит от множества факторов, а назначения пациенту могут отличаться от прикидочного плана процедур.
                        </p>
						<p>
                            Следует, однако, понимать: китайская медицина, в отличие от страховой медицины западного стандарта, доступна для широких народных масс. 
                        </p>
						<h4>Авиаперелет</h4>
						<p>
                            Авиаперелет тем дешевле, чем больший срок отделяет приобретение билетов на самолет от даты вылета. Покупка билетов в Пекин и обратно позволяет существенно снизить транспортные расходы!
                        </p>
						<p>
                            Средняя цена авиабилетов от Пекина до Юньчэна составляет:
                        </p>
                        <ul class="sec-procedure-list">
                            <li> для взрослого – около 950-ти юаней. Уточнить цену и приобрести билеты со скидками можно через сайт  http://ru.ctrip.com; </li>
							<li>для ребенка старше 2-х и младше 12-ти лет – вдвое дешевле, чем для взрослого (примерно 450 юаней);</li>						
							<li>для ребенка возрастом до 2-х лет – 100 юаней.</li>
                        </ul>
                         <h4>Железная дорога</h4>
						<p>
                            Скоростные железнодорожные составы везут из Пекина в Юньчэн: 
                        </p>
                        <ul class="sec-procedure-list">
                            <li> взрослого пассажира – за 270 юаней;</li>
							<li>ребенка ростом до 120 см – вдвое дешевле взрослого (за 135 юаней);</li>						
							<li>детей, не занимающих отдельного места – бесплатно. </li>
                        </ul>
						<p>
                            Скоростные железнодорожные составы везут из Сианя в Юньчэн: 
                        </p>
                        <ul class="sec-procedure-list">
                            <li>взрослого пассажира – за 70 юаней;</li>
							<li>ребенка ростом до 120 см – вдвое дешевле взрослого (за 35 юаней);</li>						
							<li>детей, не занимающих отдельного места – бесплатно. </li>
                        </ul>
						<h4>Трансфер</h4>
						<p>
                           Медицинский персонал больницы, встречает своего пациента на аэро- или железнодорожном вокзале и бесплатно доставляет автотранспортом клиники в медучреждение.
                        </p>
						<p>
                           При выписке из больницы автомобиль оплачивается пациентом. Есть возможность заказать несколько машин для транспортировки вещей и сопровождающих лиц. 
                        </p>
						
						<h4>Диагностика, медикаменты, лечение</h4>
						<p>
                          Количество и состав врачебных назначений больному определяет доктор после первичного осмотра и диагностических исследований. Суммарные расходы на месячный курс лечения ДЦП могут колебаться в пределах от 12000 до 18000 юаней.
                        </p>
						
						<h4>Расходы на проживание</h4>
						<p>
                          Стоимость проживания в квартире, предоставляемой медицинским учреждением, составляет 80 юаней в сутки. Заселение в одну квартиру – не более чем вчетвером. 
                        </p>
						<p>
                          Расход электроэнергии и воды нормирован. В случае превышения лимита с жильцов взимается дополнительная плата согласно установленным тарифам.
                        </p>
						<h4>Питание</h4>
						<p>
                          Приобретение продуктов и приготовление пищи осуществляется самостоятельно. Следует рассчитывать на ежедневную стоимость питания взрослого или ребенка в пределах от 30-ти до 60-ти юаней.
                        </p>
						<h4>Досуг</h4>
						<p>
                          В свободное от лечения время можно посетить парки и аттракционы, побывать в зоопарке и аквапарке, прокатиться по окрестностям на автомобиле и пообедать в ресторане.
                        </p>
	
                    </div>
                </div>
              <!--  <div class="col-md-3 col-lg-offset-1">
                    <div class="side-nav">
                        <h4 class="side-nav-title">Консульские отделы и&nbsp;визовые центры</h4>
                        <h5 class="side-nav-subtitle">Россия</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="side-nav-list">
                                    <li><a href="#">Москва</a></li>
                                    <li><a href="#">Санкт-Петербург</a></li>
                                    <li><a href="#">Хабаровск</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="side-nav-list">
                                    <li><a href="#">Екатеринбург</a></li>
                                    <li><a href="#">Иркутск</a></li>
                                    <li><a href="#">Аккредитованный визовый центр стран Азии</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Украина</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Киев</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Беларусь</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Минск</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Казахстан</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Астана</a></li>
                                    <li><a href="#">Алматы</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Узбекистан</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Ташкент</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>

        </div><!-- END container -->
    </div><!-- END all-pages-body -->

</div><!-- END main -->

