@{
    ViewBag.Title = "Китайские лекарства. Лекарства для покупки в Китае";
	ViewBag.Description = "В Китае не редко возникает ситуация когда нужно купить необходимое лекарство в местной аптеке. Этот список поможет Вам…";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main is-full-screen" role="main">
    @Html.Partial("_BibliotekaMenu")

    <div class="all-pages-body price-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-content">
                        <h3>Китайские лекарства. Лекарства для покупки в Китае</h3>
                        <p>
                            <b>Лекарства от простудных заболеваний и гриппа:</b>
                            <ul class="sec-procedure-list">
                                <li>快克 - Paracetamol and Amantadine) Цена ≈ 14.80 юаней</li>
                                <li>日夜百服宁 - Bufferin Cold — (в сост.   Paracetamol, Dextromethorphan и другие активные вещества.) Цена ≈ 9.80-13.20 юаней</li>
                                <li>泰诺酚麻美敏片 - Tylenol Cold (Paracetamol, Dextromethorphan и другие активные вещества) Цена ≈ 15 юаней</li>
                                <li>三精双黄连口服液 - эффективный горько- сладкий сироп от симптомов простуды. Цена ≈11-15 юаней</li>
                                <li>999 Gan Mao Ling (999感冒灵) — порошок для профилактики и лечения гриппа и простуды. Цена ≈ 10 юаней</li>
                                <li>四季感冒片 - лекарство от простуды и гриппа, устраняет слабость  организма Цена ≈ 5-20 юаней</li>
                            </ul>
                        </p>
                        <p>
                            <b>От боли в горле:</b>
                            <ul class="sec-procedure-list">
                                <li>«Золотое горло» （金嗓子喉宝) — сосательные леденцы на травах при першении и болях в горле. В зависимости от упаковки ≈  15-30 юаней</li>
                                <li>复方片仔瀇含片 - аналог граммидина, с анастетиком. От боли в горле. Цена от 17.00 юаней</li>
                                <li>金喉健喷雾剂 - эффективный спрей от ангины, фарингита, тонзиллита. Цена 10.90-13.00 юаней</li>
                            </ul>
                        </p>

                        <p>
                            <b>От кашля:</b>
                            <ul class="sec-procedure-list">
                                <li>枇杷膏 Pipa Gao — Сироп от кашля и першения в горле. Цена 20-30 юаней </li>
                                <li>桂林西瓜霜 анальгетик, устраняет воспаления, жар Цена от 5-10 юаней</li>
                                <li>清开灵片 （颗粒） - таблетки при простуде, жаре, кашле и больном горле </li>
                                <li>止咳丸 – гомеопатия от кашля. При применении с сиропом от кашля, эффект улучшается  Цена 18.00 </li>
                                <li>痰咳浄片 от мокрот, кашель,одышка, астма.. При бронхитах, фарингитах.  </li>
                            </ul>
                        </p>

                        <p>
                            <b>От насморка:</b>
                            <ul class="sec-procedure-list">
                                <li>鼻腔喷雾器 спрей для носа </li>
                                <li>小柴胡颗粒 - аналог ингавирин, кагоцел</li>
                                <li>芥未粉( 芥未药粉) – горчичный порошок </li>
                            </ul>
                        </p>
                        盐酸洛美沙星滴耳液, 盐酸左氧氟沙星滴耳液капли при воспалении воспаление среднего уха, наружном отите  Цена 13.60

                        <p>
                            <b>От головной боли:</b>
                            <ul class="sec-procedure-list">
                                <li>阿咖酚散 (или 头疼粉 tóuténg fěn) аналог цитрамона , в виде белого порошка в пакетиках </li>
                                <li>必理通 – панадол  Цена ≈6-10 юаней</li>
                                <li>霍香正气口服液 - против 中暑 - теплового удара. На вкус противненькая, но помогает. Можно для профилактики пить. </li>
                            </ul>
                        </p>

                        <p>
                            <b>Лечение желудочно-кишечный тракта:</b>
                            <ul class="sec-procedure-list">
                                <li>双歧杆菌四联活菌片 - комбинированные бифидобактерии и лактобактерии</li>
                                <li> 雷贝拉唑钠肠溶胶囊 - рабепразол (Язвенная болезнь желудка и двенадцатиперстной кишки в стадии обострения, гастроэзофагеальная рефлюксная болезнь) Цена≈ 37 юаней</li>
                                <li>马来酸曲美布汀片 - тремибутин (Препарат, регулирующий моторную функцию ЖКТ. моторные расстройства при функциональных заболеваниях ЖКТ; диспепсическиерасстройства при гастродуоденальных заболеваниях (боли в животе, нарушение пищеварения, тошнота, рвота); синдром раздраженного кишечника, проявляющийся болями, коликами в брюшной полости, спазмами кишечника, метеоризмом, диареей и/или запором) Цена ≈15.50 юаней </li>
                                <li>枸橼酸莫沙必利分散片 - мозаприд (Средство, повышающее тонус и моторику ЖКТ) Цена ≈ 16.50 юаней</li>
                                <li>姨酶制剂 - Creon - панкреатин Цена ≈40-65 юаней</li>
                                <li>胰酶肠溶胶囊 - аналог Креона</li>
                                <li>胰酶肠溶片 - панкреатин (действующее вещество в «Мезиме»)</li>
                                <li>亚麻籽 - семя льна</li>
                                <li>开胃健脾丸 – нарушение пищеварения, отсутствие аппетита Цена ≈22.40 юаней</li>
                                <li>溃疡颗粒（北京同仁堂） - при язве желудка Цена≈ 45 юней</li>
                                <li>雷贝拉唑钠肠溶胶囊 - при язве желудка,    язве двенадцатиперстной кишки, рефлюктивномэзофагите  Цена от￥37.00 </li>
                                <li>双歧杆菌三联活菌片 - таблетки (бифидо-,лактобактерии) аналог бифиформа, биовестиналакто и т.д. Используется при дисбактериозе после антибиотиков. </li>

                            </ul>
                        </p>
                        <p>
                            <b>Лечение и уход за кожей:</b>
                            <ul class="sec-procedure-list">
                                <li>云南白药 - от ушиб и ран, рассеивание застоя крови и активизирование кровообращения. Цена ≈ 30.00 麝香祛痛搽剂 – мазь от синяков с согревающим эффекто. Цена ≈ 49 юней</li>
                                <li>美宝湿润烧伤膏 - мазь от ожогов  Цена≈ ￥34</li>
                                <li>莫匹罗星软膏 - мупироцин, мазь-антисептик, не антибиотик,не возникает резистентности, к примеру, может остановить зреющий фурункул. Цена≈13.70-26.8</li>
                                <li>芦荟软胶囊 - софт-гель капсулы с алоэ верой. Мягко очищает кожу. Цена от 60 юаней 海娜粉 - Хна. Есть цветная и бесцветная,полезно для волос.</li>
                                <li>红霉素软膏 - Мазь Эритромицин (угревая сыпь, прыщи, гнойничковые образования на коже, ожоги различной степени тяжести, пролежни, трофические язвы) . Цена от 5 юаней</li>
                                <li>牛黄消炎片 - жаропонижающий препарат, устраняет воспаления, обезболивает, используется при фурункулах, воспалениях ран Цена  ¥6.60 - 12.00</li>
                                <li>莫匹罗星 - антибиотик для наружного применения при заражении кожи. Цена  ¥13.70-26.80</li>
                                <li>夏枯草膏 - устранение воспаления, при мастите, воспалении щитовидной железы Цена  ¥23.80-23.90</li>
                                <li>红霉素软膏 - эритромициновая мазь при гнойных кожный заболеваниях и заражениях кожи, язве, ожогах малой поверхности кожи </li>
                                <li>林可霉素利多卡因凝胶 - мазь, используется при легких ожогах, ранах и укусах насекомых Цена  ¥7</li>
                                <li>复方酮康唑软膏 - мазь при грибковых заболеваниях кожи. Цена ¥ 5.90-12.30</li>
                                <li>999曲安奈德益康唑软膏 - мазь при экземе и микозе Цена ¥ 15-17</li>
                                <li>999复方醋酸地塞米松软膏, 999抗酸莫米松凝胶 - мазь для лечения дерматитов, экземы и аллергии , при нейродермите, контактном дерматите, себорейной и хронической  экземе Цена ¥ 8</li>
                                <li>999曲安奈德益康唑软膏 - мазь при паронихие(воспалении околоногтевого валика) Цена  ¥ 13.70-27.50</li>
                                <li>独癣 - чесотка, экзема, лишай, плесневой микоз ног, дерматит, аллергия, укусы насекомых, псориаз</li>
                                <li>醋康他索乳膏 - мазь при дерматите и экземе </li>
                                <li>曲咪新软膏 - мазь при экземе, дерматите, вызванном механическими раздражителями, при себорейном дерматите, невродермите, лишае</li>
                                <li>换肤草 - мазь от укусов насекомых, зуда, лишая и герпеса</li>
                                <li>皮肤病血毒丸 - китайское лекарство от воспаления на коже Цена 8.50-9.00</li>
                                <li>肉豆蔻酰胺 - мирамистин</li>
                                <li>地球人抑菌乳膏 ,梦之效抑菌乳膏 - мазь для лечения всех видов аллергии, экземы, псориаза, трещинок на коже, дерматитов, дерматофии кистей и стоп)</li>
                            </ul>
                        </p>
                        <p>
                            <b>Грибок на ногах:</b>
                            <ul class="sec-procedure-list">
                                <li>999硝酸咪康唑乳膏,复方醋康唑软膏,丫丫爽 – противогрибковое средство Цена 11.90-15.00 юаней</li>
                                <li>盐酸特比萘芬喷雾 - противогрибковый спрей Цена 11.80-23.50 юаней</li>
                                <li>脚护士泡足片 - шипучие таблетки от дурного запаха и потливости стоп (по причине грибка)</li>
                                <li>脚清爽 , 冰王脚爽净 - спрей от потливости ног</li>
                                <li>京万红软膏, 湿润烧伤膏, 烧烫伤软膏 - мазь при ожоге кожи Цена 4.50-16.00 юаней</li>
                            </ul>
                        </p>

                        <p>
                            <b>От выпадение волос:</b>
                            <ul class="sec-procedure-list">
                                <li>101В防脱育发剂 - лосьон</li>
                                <li>101防脱洗发精 - шампунь от выпадения волос</li>
                                <li>101养发香波 - шампунь для выращивания волос</li>
                            </ul>
                        </p>

                        <p>
                            <b>Базовые средства:</b>
                            <ul class="sec-procedure-list">
                                <li>创可贴 - лейкопластырь </li>
                                <li>喷雾剂 - спрей, распылитель, пульверизатор</li>
                                <li>棉花 - вата</li>
                                <li>绷带 - бинт</li>
                                <li>弹性绷带 - эластичный бинт</li>
                                <li>消毒棉球 - ватные шарики с йодом (для мелких ран) </li>
                                <li>碘伏 - йод на основе воды(менее раздражает кожу, для повседневного применения)</li>
                                <li>碘酒 - йод на спиртовой основе(используется при операциях)</li>
                                <li>缬草属, 昆仑雪菊 - валериана</li>
                                <li>高锰酸钾 - марганцовка</li>
                                <li>消毒液 - дезинфицирующий раствор</li>
                                <li>消毒酒精 - раствор алкоголя для дезинфекции</li>
                                <li>过氧化氢, 双氧水 - перекись водорода</li>
                                <li>隐形眼镜 - контактные линзы </li>
                                <li>隐形眼镜护理液 - раствор для хранения контактных линз</li>

                            </ul>
                        </p>
                        <p>
                            <b>Разное:</b>
                            <ul class="sec-procedure-list">
                                <li>复方门冬维甘滴眼液 - капли от усталости глаз, смягчает  конъюктивальную гиперемию Цена 14.90-15.00 юаней</li>
                                <li>美拉托宁 - мелатонин (для сна). Продаётся на Таобао, только из США. Некоторые продавцы доставляют прям из США, для оплаты требуется китайский 身份证, т.к. конвертация валюты. Но некоторые продают уже из Китая, проще через них.</li>
                                <li>氯雷他定 - лорантадин, антигистаминный, от аллергии. Цена 9.90-14.50 юаней</li>
                                <li>左旋肉碱 - Л-карнитин - входит в состав таблеток для похудения, на таобао можно найти чистый порошок и импортные таблетки чистого л-карнитина. Применяется за 30 мин дотренировки - увеличивает выносливость и ускоряет метаболизм, потоотделение.</li>
                                <li>去氧孕烯炔雌醇片, 炔雌醇环丙孕酮片 - противозачаточное таблетки </li>
                                <li>脑心舒口服液 - седативное, мягкое. Сироп на травах успокаивающий ,устраняет беспокойство и нормализирует сон, в ампулах. Цена 15.00</li>
                                <li>犹将军 - аналог кондилина. От кондилом.</li>
                                <li>重组人干扰素a-2b抑菌软膏 Гель с интерфероном рекомбинантным человеческим, от тех же кондилом. Но эти средства кажется лучше покупать в России. В геле например концентрация ниже чем в мази</li>
                                <li>盐酸特比萘芬 - гидрохлорид тербинафина (в виде спрея), антигрибковое</li>
                                <li>灭菌结晶磺胺 - стрептоцид (противомикробное)</li>
                                <li>氯己定 - антисептик , хлоргексидин (суть мирамистин). В аптеках продается много средств (лосьонов для интимной гигиены) с хлоргексидином. Но также есть просто лосьоны на травках, поэтому читайте состав.</li>
                                <li>阿苯达唑片 - (альбендазол) китайские проверенные средства от глистов и прочих паразитов</li>
                                <li>夏枯草膏 - сироп убирает воспаление щитовидки и уменьшает зоб. Также убирает опухоли, например вместе с乳癖消片рассасывает опухоли молочной железы (любые маститы и мастопатии), загрубение молочных желез. Также этот сироп можно использовать при воспалении лимфатических узлов вместе с каким-нибудь антибиотиком, например с 罗红霉素片 (рокситромицин)</li>
                                <li>消银片 - таблетки от псориаза</li>
                                <li>独癣请 - мазь от псориаза</li>
                                <li>天麻丸 - лекарство при ревматических болях и болях в суставах Цена 19.50-25.60</li>
                                <li>附桂骨痛胶囊 - если суставы опухают, но боли не ревматического характера, а именно кости болят, снимает опухоль и воспаление, озноб в конечностях Цена 25-35 юаней</li>
                                <li>小活络丸 - препарат для активизации кровообращения для утоления боли,при криалгезии,дискомфорте при сгибании суставов,онемении</li>
                                <li>青鹏软膏 - мазь от артритной боли, подагры, Цена 19.20-26.00 юаней</li>
                                <li>双氧芬酸钠缓释胶囊 , 双氧芬酸钠肠溶片 - обезболивающие таблетки на основе диклофенака для устранения артритной боли </li>

                            </ul>
                        </p>
                        <h3>Женское здоровье</h3>

                        <p>
                            <b></b>
                            <ul class="sec-procedure-list">
                                <li>姊妹舒 - лечебные прокладки при воспаления органов малого таза (бактериальные, вирусные, грибковые), нарушения менструального цикла (аменорея, альгодисаменорея, олиго- и полименорея, предменструальный синдром), цистит, молочница, зуд наружных половых органов, послеоперационный период после аборта и родов, эндометриоз, эрозия и псевдоэрозия шейки матки, эндокринные нарушения половой сферы.</li>
                            </ul>
                        </p>
                        <p>
                            <b>При эрозии</b>
                            <ul class="sec-procedure-list">
                                <li>消糜栓 - свечи. Показания: трихомонадный вагинит, грибковый кольпит. Цена 32.70 юаней </li>
                                <li>清宫丸 - лечебные тампоны (показания: миома матки, эрозия, вагинит, гонорея, молочница, опухоль яичников, эндометрит, нерегулярные месячные)</li>
                            </ul>
                        </p>
                        <p>
                            <b>При молочнице:</b>
                            <ul class="sec-procedure-list">
                                <li>свечи 达克宁+спринцевание 洁尔阴洗液</li>
                                <li>艾阴洁(+妇科白带膏 в запущенных случаях)</li>
                                <li>清宫丸 - лечебные тампоны </li>
                            </ul>
                        </p>
                        <p>
                            <b>Болючие месячные, опаздывающие месячные:</b>
                            <ul class="sec-procedure-list">
                                <li>妇科调经颗粒 - (если месячные обильные, то принимать не стоит, т.к. препарат 养血)</li>
                                <li>Мастопатия: 乳癖消片+夏枯草膏 курсом</li>
                                <li>桂枝茯苓胶囊 - киста яичников, миома матки, эндометриоз, а также мастопатия Цена 32.50-65.00</li>
                                <li>调经促孕丸 - лекарство для стабилизации менструального цикла, Показания при скудной менструации, бесплодии Цена 15.10 юаней</li>
                            </ul>
                        </p>

                        <h3>Мужское здоровье:</h3>
                        <p>
                            <b></b>
                            <ul class="sec-procedure-list">
                                <li>腺激酶 - хронический простатит, воспаление, аденома, импотенция, гипертрофия предстательной железы</li>
                                <li>姊妹舒 - Лечебные прокладки  при остром и хроническом простатите</li>
                                <li>盐酸左氧氟沙星片 - таблетки при заражении мочеполовой системы. Цена 3.54-11.00</li>
                            </ul>
                        </p>

                        <h3>Для общения в больнице:</h3>
                        <p>
                            <b>Больница</b>
                            <ul class="sec-procedure-list">
                                <li>挂号 - При посещении китайской больницы первым делом следует зарегистрироваться  и создать карточку при первом посещении</li>
                                <li>医院 － больница </li>
                                <li>医院在哪里？ - где больница? </li>
                                <li>检查 - осмотр</li>
                                <li>手术 - операция</li>
                                <li>诊所 - клиника</li>
                                <li>注射 - инъекция, укол</li>
                                <li>挂号 - получить номер приема в больнице</li>
                                <li>挂个内科 － дайте номерок к терапевту</li>
                                <li>内科 - терапевтическое отделение</li>
                                <li>外科 - хирургическое отделение</li>
                                <li>妇科 - гинекологическое отделение</li>
                                <li>儿科 - детское отделение</li>
                                <li>眼科 - офтальмология</li>
                                <li>皮肤科 - дерматологическое отделение</li>
                                <li>耳鼻喉科 - отоларингология</li>
                                <li>口腔科 - отделение стоматологии</li>
                                <li>中医科 - отделение китайской (традиционной) медицины</li>
                                <li>心理咨询 - психологическая консультация</li>
                                <li>针灸推拿 - отдел акупунктуры и массажа</li>
                                <li>肿瘤科 - онкологическое отделение</li>
                                <li>挂号处 - регистратура</li>
                                <li>病历卡 - медицинская карта</li>
                                <li>抽血 - пускать кровь</li>
                                <li>配药 - покупать лекарство по рецепту</li>
                            </ul>
                        </p>
                        <p>
                            <b>Дантист - 牙医</b>
                            <ul class="sec-procedure-list">
                                <li>补牙 - ставить пломбу </li>
                                <li>齿冠 - ставить коронку </li>
                                <li>臼齿 - коренные зубы </li>
                                <li>门牙 - резцы </li>
                                <li>犬齿 - резцы</li>
                                <li>神经 - нерв</li>
                                <li>牙痛 - зубная боль </li>
                                <li>釉 - эмаль</li>

                            </ul>
                        </p>

                        <p>
                            <b>Беременность - 怀孕</b>
                            <ul class="sec-procedure-list">
                                <li>早孕试纸 - бумажный тест на беременность</li>
                                <li>测孕 - тест на беременность</li>
                                <li>早期妊娠 - ранний срок беременности (中期、晚期）</li>
                                <li>胎体、胎 - плод</li>
                                <li>分娩 - разрешение от плода</li>
                                <li>婴儿 - младенец </li>
                                <li>子宫 - матка</li>

                            </ul>
                        </p>
                        <h4 class="side-nav-title">Материалы любезно предоставлены ресурсом "Южный Китай" Больше новостей на сайте http://south-insight.com/</h4>





                    </div>
                </div>
                <div class="col-md-3 col-lg-offset-1">
                    <div class="side-nav">
                        <h4 class="side-nav-title">Справочная информация</h4>
                        <h5 class="side-nav-subtitle">Как читать инструкции к лекарствам</h5>
                        <div class="row">
                            <ul class="side-nav-list">
                                <li>口服 － пероральный приём лекарства</li>
                                <li>开水冲服 - растворить в кипяченой воде</li>
                                <li>一次1袋，一日3次  - за 1 раз (次) - 1 пакетик, за 1 день (日) 3 раза</li>
                            </ul>
                        </div>
                        <h5 class="side-nav-subtitle">Базовые средства:</h5>
                        <div class="row">
                            <ul class="side-nav-list">
                                <li>创可贴 - лейкопластырь </li>
                                <li>喷雾剂 - спрей, распылитель, пульверизатор</li>
                                <li>棉花 - вата</li>
                                <li>绷带 - бинт</li>
                                <li>弹性绷带 - эластичный бинт</li>
                                <li>消毒棉球 - ватные шарики с йодом (для мелких ран) </li>
                                <li>碘伏 - йод на основе воды(менее раздражает кожу, для повседневного применения)</li>
                                <li>碘酒 - йод на спиртовой основе(используется при операциях)</li>
                                <li>缬草属, 昆仑雪菊 - валериана</li>
                                <li>高锰酸钾 - марганцовка</li>
                                <li>消毒液 - дезинфицирующий раствор</li>
                                <li>消毒酒精 - раствор алкоголя для дезинфекции</li>
                                <li>过氧化氢, 双氧水 - перекись водорода</li>
                                <li>隐形眼镜 - контактные линзы </li>
                                <li>隐形眼镜护理液 - раствор для хранения контактных линз</li>
                            </ul>

                            <p>
                                <b></b>
                                <ul class="sec-procedure-list"></ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- END container -->
    </div><!-- END all-pages-body -->
    <div class="all-pages-body price-body">
        <div class="container">
            <h2 class="all-pages-H2">в Китае может возникнуть необходимость покупки медицинских препаратов через аптечную сеть. Данный список поможет Вам в этом.</h2>
            <div class="row">
                <div class="col-md-8">
                    <ul class="price-list">
                        <li>
                            <a class="price-list-link has-icon icon-pdf" href="~/Content/pdf/Lekarstvavkitae.pdf" target="_blank" title="Скачать документ">
                                Нажмите, что бы скачать названия китайских медицинских препаратов.
                            </a>
                        </li>
                        <!-- <li>
                             <a class="price-list-link has-icon icon-pdf" href="~/Content/pdf/price-1.pdf" target="_blank" title="Скачать документ">
                                 Больница заболеваний головного мозга при НИИ акупунктуры головы г. Юньчэн
                             </a>
                         </li>
                         <!-- <li>
                             <a class="price-list-link has-icon icon-pdf" href="~/Content/pdf/price-3.pdf" target="_blank" title="Скачать документ">
                                 Детский реабилитационный центр “Мастерская здоровья” г. Севастополь
                             </a>
                         </li> -->
                    </ul>
                    <div class="price-note user-content">
                        <p>
                            Сегодня Мы должны сделать все, чтобы завтра стать лучше!
                        </p>
                    </div>
                </div>
                <!--  <div class="col-md-3 col-lg-offset-1">
                      @Html.Partial("_CurrencyRate")
                  </div>-->
            </div><!-- Блок «Поделиться» от Яндекса-->
            <script type="text/javascript" src="http://yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
            <script type="text/javascript" src="http://yastatic.net/share2/share.js" charset="utf-8"></script>
            <div style="text-align: left;" class="gallery-share ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir" data-counter=""></div>
        </div><!-- END container -->
    </div><!-- END all-pages-body -->

</div><!-- END main -->
