@{
    ViewBag.Title = "Статьи и новости";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main is-full-screen" role="main">
    @Html.Partial("_BibliotekaMenu")

    <div class="all-pages-body price-body">
        <div class="container">
            <div class="user-content">
                <h3>Статьи и новости</h3>

            </div>
        </div><!-- END container -->
    </div><!-- END all-pages-body -->
</div><!-- END main -->
