
@{
    ViewBag.Title = "Лекарства в Китай";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main is-full-screen" role="main">
@Html.Partial("_BibliotekaMenu")

    <div class="all-pages-body price-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-content">
                        <h3>Список лекарственных средств,
как рекомендуемых взять с собой в Китай.
</h3>
<h4>Подготовил: доктор Попко Екатерина Александровна, город Уфа, мама Богдана.</h4>
                        <p>
                           <b>ОРВИ: </b> Эргоферон, гомеопатический препарат Инфлюцид. 
                        </p>
						<p>
						 <b>Жаропонижающие: </b>Нурофен/Панадол 
                        </p>
						<p> <b>Насморк:  </b> Аквалор, устройство для аспирации соплей, Називин, Изофра/Полидекса(после 2,5 лет)
                        </p>
						<p> <b> Боль в горле: </b> 	Гексорал раствор (дети от года )/Биопарокс (старше 2,5 лет, универсально нос, горло, гортань)/гомеопатический Тонзилотрен
                        </p>
						
						<p> <b> Отит: </b> Отипакс, Отофа </p>
						
						<p><b>Кашель:</b> <ul class="sec-procedure-list">
                            <li>сухой, приступообразный: Синекод капли с рождения/сироп синекод (дети старше 3 лет)</li>
                            <li>влажный  с трудноотходящей мокротой: Амбробене/АЦЦ</li>
                            <li>длительный кашель на фоне ОРВИ: Эреспал</li>
                            <li>влажный с одышкой и бронхообструкцией: Аскорил</li>
                            <li>гомеопатический препарат при всех видах кашля : Проспан</li>
							 </ul>
                            </p>
						<p><b>Антибактериальные препараты при инфекции верхних и нижних дыхательных путей и уха:</b> <ul class="sec-procedure-list">
                            <li>флемоксин/ Флемоклав (если флемоксин использовался ранее в течении 3 месяцев)/Супракс</li>
                            <li>вильпрофен (действует на внутриклеточных возбудителей6 хламидии,микоплазмы)
сухой, приступообразный: Синекод капли с рождения/сироп синекод (дети старше 3 лет)</li>
 </ul>
                            </p>
							<p><b>Нарушение работы желудочно-кишечного тракта:</b> <ul class="sec-procedure-list">
                            <li>отравление: Смекта, Энтерофурил, Регидрон</li>
							  <li>восстановление микрофлоры, лечение дисбиоза, инфекции: Энтерол/Линекс</li>
							    <li>запор: Дюфалак/Глицериновые свечи</li>
						 </ul>
                           </p>
						<p><b>Прорезывание зубов:</b> Нурофен, Калгель, Дентокинд( гомеопатический препарат)</p>
						<p><b>Противоаллергические препараты:</b>Фенистил/Супрастин</p>
						<p><b>Стоматит: </b>Кандид раствор ,Метрогил денте гель (старше 6 лет)</p>
						<p><b>Герпес:</b>таблетки/крем Ацикловир</p>
						<p><b>Коньюнктивит:</b>Альбуцид, Софрадекс</p>
						<p><b>Травмы, ушибы, синяки:</b>Траумель крем, Гепариновая мазь,  детям старше 12 лет Долобене</p>
						
						<h4>С уважением, Екатерина</h4>
		 
 


						<!--
						
                        <p>
                            Существует несколько видов виз, зависящих от цели поездки. Для лечения
                            подходит виза S2, выдаваемая на 180 дней с возможностью продления на
                            территории Китая. Возможен также въезд и по туристической визе L, но она
                            имеет ограничение 30 дней без возможности продления.
                        </p>
                        <img src="~/Content/images/temp/visa.jpg" alt="О визе">
                        <p>
                            С момента оформления визы, начинается коридор въезда - срок, в который вы
                            должны въехать на территорию Китая. Для визы S2 он составляет 30 суток.
                        </p>
                        <h3>Документы для получения визы</h3>
                        <p>
                            Список документов и требований для китайской визы может варироваться в
                            зависимомсти от гражданства заявителя и страны в которой подается запрос,
                            поэтому рекомендуем уточнять на официальных сайтах консульских отделов и
                            аккркдитованных визовых центров.
                        </p>
                        <p>
                            В любом случае вам понадобятся документы принимающей стороны (клиники):
                            приглашение на лечение и лицензия на медицинскую деятельность. Все необходимые
                            от принимающей стороны документы мы предоставим в процессе оформления завки
                            на лечения.
                        </p>
                        <div class="row">
                            <div class="col-md-4">
                                <p>
                                    Образец приглашения для пациента и сопровождающих
                                </p>
                                <img src="~/Content/images/temp/visa_1.jpg" alt="О визе" data-action="zoom">
                            </div>
                            <div class="col-md-4">
                                <p>
                                    Лицензия на осуществеление медицинской деятельности
                                </p>
                                <img src="~/Content/images/temp/visa_2.jpg" alt="О визе" data-action="zoom">
                            </div>
                            <div class="col-md-4">
                                <p>
                                    Можно написать в каком виде предоставляется прглашение
                                </p>
                                <img src="~/Content/images/temp/visa_3.jpg" alt="О визе" data-action="zoom">
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores dolores
                            labore natus nesciunt voluptatem, voluptates! Eos hic itaque libero molestias nostrum
                            sunt totam vero! Odio odit provident quo, rem sed sit suscipit. A alias fuga harum id
                            ipsum iusto minus, molestiae nihil perferendis quod ratione repellat reprehenderit totam
                            voluptas!
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet autem cumque delectus
                            facilis fugit in ipsum iusto magnam maxime necessitatibus, nesciunt placeat quibusdam
                            quidem sunt ullam. A aspernatur cumque delectus distinctio ipsa, iure labore magni
                            maiores necessitatibus officia placeat porro, possimus quasi quibusdam ratione
                            suscipit voluptatem! Beatae consectetur corporis culpa doloremque enim, exercitationem
                            ipsum iure odio provident quaerat quidem reiciendis sint soluta. Beatae, dolorem
                            repudiandae? Ab aliquid aperiam aut blanditiis corporis culpa distinctio doloremque
                            dolores ducimus enim excepturi expedita, inventore laboriosam laborum laudantium
                            libero nemo non nostrum possimus quae quam, quas qui reiciendis repellendus suscipit
                            tempora vero voluptas! Aliquid, culpa.
                        </p> -->
                    </div>
                </div>
                <div class="col-md-3 col-lg-offset-1">
                <!--    <div class="side-nav">
                        <h4 class="side-nav-title">Консульские отделы и&nbsp;визовые центры</h4>
                        <h5 class="side-nav-subtitle">Россия</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="side-nav-list">
                                    <li><a href="#">Москва</a></li>
                                    <li><a href="#">Санкт-Петербург</a></li>
                                    <li><a href="#">Хабаровск</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="side-nav-list">
                                    <li><a href="#">Екатеринбург</a></li>
                                    <li><a href="#">Иркутск</a></li>
                                    <li><a href="#">Аккредитованный визовый центр стран Азии</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Украина</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Киев</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Беларусь</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Минск</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Казахстан</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Астана</a></li>
                                    <li><a href="#">Алматы</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Узбекистан</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Ташкент</a></li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>

        </div><!-- END container -->
    </div><!-- END all-pages-body -->

</div><!-- END main -->

