@{
    ViewBag.Title = "Статьи и новости";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main is-full-screen" role="main">
    @Html.Partial("_BibliotekaMenu")

    <div class="all-pages-body price-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-content">
                        <h3>Статьи и новости</h3>
                        <p>
                            <b>Страница в разработке</b>
                            
                        </p>
                        
                    </div>
                </div>
            </div>
        </div><!-- END container -->
    </div><!-- END all-pages-body -->
</div><!-- END main -->
