
@{
    ViewBag.Title = "Акупунктура";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main has-gray-bg is-full-screen">
    <div class="container">
        <div class="slimpage medicine-page">
            <a href="@Url.Action("Index", "Procedure")" class="page-close"></a>
            <div class="slimpage-nav medicine-page-nav">
                <a class="slimpage-prev" href="@Url.Action("Itp", "Procedure")" title="Предыдущая статья"></a>
                <a class="slimpage-next" href="@Url.Action("Electric", "Procedure")" title="Следующая статья"></a>
            </div>
            <div class="slimpage-head">
                <div class="slimpage-head-img">
                    <img src="~/Content/images/procedures/procedure_page.jpg" alt="Акупунктура (иголерапия)">
                </div>
                <div class="slimpage-head-txt">
                    <h1 class="slimpage-head-title">Акупунктура (иголерапия)</h1>
                    <div class="slimpage-head-note">
                        Важнейшая лечебная методика китайской медицины – старинный восточный метод
                        лечения заболеваний, связанных с поражением нервной системы.
                    </div>
                </div>
            </div>
            <div class="slimpage-body">
                <div class="user-content">
                    <p>
                        В современной западной медицине иглоукалывание относится к рефлексотерапии и
                        нередко включается в лечебный комплекс процедур при ДЦП и других неврологических заболеваниях.
                    </p>
                    <p>
                        Специалисты Второй народной больницы и Клиники заболеваний головного мозга города Юньчэн взяли
                        на вооружение старинные практики акупунктуры, переосмысленные в свете последних достижений
                        медицинской науки. Иглотерапевтические схемы, применяемые врачами больниц, разработаны
                        в Пекинском НИИ акупунктуры.
                    </p>
                    <blockquote class="explanation">
                        <div class="explanation-img">
                            <img src="~/Content/images/procedures/procedure_explanation.jpg" alt="Акупунктура">
                        </div>
                        <div class="explanation-txt">
                            <p>
                                Процедура проводится тонкими (не толще 0,3 мм) иглами из нержавеющей стали, вводимыми
                                под различными углами в кожный покров либо в мышечные ткани.
                            </p>
                            <p>
                                Длительность сеанса зависит от локализации области воздействия и не превышает
                                пятидесяти минут. Манипуляция практически бескровна и оказывает направленное
                                местнораздражающее действие.
                            </p>
                        </div>
                    </blockquote>
                    <h3>Иглотерапия головы</h3>
                    <p>
                        Иглоукалывание биологически активных точек, расположенных на волосистой части головы, позволяет
                        эффектно воздействовать на области головного мозга, управляющие развитием и работой организма.
                        Иглотерапия головы, иначе называемая церебральной акупунктурой – эффективный способ оптимизации
                        функционирования и нервной системы, и всего организма в целом.
                    </p>
                    <h3>Иглоукалывание спины</h3>
                    <p>
                        Иглорефлексотерапия спины включает в себя воздействие на паравертебральные зоны, проекции
                        нервных путей, шею и пояснично-крестцовую область. Это, как правило, объемная манипуляция
                        с задействованием максимального количества БАТ.
                    </p>
                    <p>
                        Высокая лечебная эффективность иглотерапии спины обуславливается восприимчивостью нервной
                        системы к нетравматичному раздражению. Применяется иглоукалывание околопозвоночных областей
                        как в целях обезболивания, так и для обеспечения подвижности суставов.
                    </p>
                    <h3>Акупунктура лица и глаз</h3>
                    <p>
                        Иглотерапевтические воздействие на биологически активные точки лица – снайперская атака на
                        болезнь. Иглы, избирательно и точно вводимые в БАТ, активизируют работу нервов. Зрительные,
                        глотательные, мимические и речевые функции в результате акупунктуры лица усиливаются.
                        Кратковременность воздействия (кожа лица весьма чувствительна) компенсируется цикличностью
                        процедур.
                    </p>
                    <p>
                        В современной китайской медицине акупунктура лица и глаз проводится раздельно.
                        Разделение манипуляций уменьшает фактор стресса для пациента.
                    </p>
                    <h3>Иглорефлексотерапия конечностей</h3>
                    <p>
                        Иглоукалывание рук и ног – процедура, призванная улучшить координацию движений, оптимизировать
                        мышечный тонус, повысить эффективность двигательных и хватательных рефлексов. Иглорефлексотерапия
                        конечностей – важный элемент программы восстановления подвижности пациента.
                    </p>
                    <h3>Иглоукалывание живота</h3>
                    <p>
                        Акупунктура по точкам, расположенным на животе, улучшает иннервацию мочевыделительной системы,
                        половых органов. При помощи иглоукалывания живота, помимо прочего, удается нормализовать работу
                        передних мышц бедра.
                    </p>
                    <h3>Электропунктура</h3>
                    <p>
                        Синтез наработок традиционной китайской медицины и европейской физиотерапевтической школы привел
                        к созданию так называемой электропунктуры.
                    </p>
                    <p>
                        Сущность методики состоит в подаче малых и сверхмалых напряжений на введенные под кожу
                        акупунктурные иглы. Создаваемые таким образом микротоки расширяют зону стимуляции, усиливают
                        местнораздражающий эффект, активизируют спорадические сокращения мышц.
                    </p>
                    <p>
                        Физиологический отклик на электроакупунктуру весьма высок. Применение методики дает
                        возможность углубить лечебное воздействие иглоукалывания и ускорить выздоровление пациента.
                    </p>
                </div>
            </div>

        </div><!-- END slimpage/medicine-page -->
    </div><!-- END container -->
</div>

