
@{
    ViewBag.Title = "Акупунктура";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- физиопроцедуры 1 фото 2 текст после копирайтера
procedure_electric.jpg-->
<div class="main has-gray-bg is-full-screen">
    <div class="container">
        <div class="slimpage medicine-page">
            <a href="@Url.Action("Index", "Procedure")" class="page-close"></a>
            <div class="slimpage-nav medicine-page-nav">
                <a class="slimpage-prev" href="@Url.Action("Acupuncture", "Procedure")" title="Предыдущая статья"></a>
                <a class="slimpage-next" href="@Url.Action("Massage", "Procedure")" title="Следующая статья"></a>
            </div>
            <div class="slimpage-head">
                <div class="slimpage-head-img">
                    <img src="~/Content/images/procedures/procedures_2.jpg" alt="Физиотерапия (Electric physiotherapy)">
                </div>
                <div class="slimpage-head-txt">
                    <h1 class="slimpage-head-title">Физиотерапия (Electric physiotherapy)</h1>
                    <div class="slimpage-head-note">
                       Физиотерапевтические процедуры способствуют расширению кровеносных сосудов, усилению тока крови, нормальному кровообращению, улучшают питание нервной и мышечной ткани, удаляют застойные явления и воспалительные процессы.
                    </div>
                </div>
            </div>
            <div class="slimpage-body">
                <div class="user-content">
                    <p>
					 <h3>Физиотерапевтический прибор для восстановления баланса энергии в меридианах (аппарат Даопин)</h3>
					 </p>
						Прибор для восстановления баланса энергии в меридианах был разработан на основе учения традиционной китайской медицины о меридианах и коллатералях (учение «Цзин-ло»), учения о Инь и Ян в сочетании с современной теорией о биоэлектрическом, динамическом равновесии. Данный аппарат оснащён микрокомпьютером и интегральными  микросхемами принципиально нового типа, - это передовой аппарат традиционной китайской медицины. Функции данного аппарата в определенной степени имитируют:  иглоукалывание, массаж Туйна, функцию прочистки каналов и коллатералей. Все эти функции обладают эффектом восстановления баланса Инь и Ян, восстановления проходимости каналов и коллатералей, в то же время повышая сопротивляемость тела, восполняя недостаточность Ци и увеличивая силу мышц.
                    </p>
                                       
                    <h3>Физиотерапевтический прибор для лечения мышечных спазмов</h3>
                    <p>
                        Данный прибор — для физиотерапии низкочастотными импульсами. Он может применяться для электро-стимулирующей терапии здоровых мышц после травм центрального двигательного нейрона. Два канала импульсов по отдельности стимулируют мышцы больного со спазмами и мышцы-антагонисты, что приводит к расслаблению спазмированных мышц, таким образом улучшая функциональность конечностей.

                    </p>
                    <h3> Физиотерапевтический прибор - обратная биологическая связь</h3>
                    <p>
                        Используя технологию обратной биологической связи, возможно преобразовать слабые миоэлектрические сигналы, которые пациент обычно не замечает, в видимые миоэлектрические сигналы. Данная технология позволяет пациенту научиться сознательно контролировать движение мышц, а также помогает больному с помощью воздействия электростимуляции отработать движения мышц. В основном применяется для реабилитации пациентов с двигательными дисфункциями, вызванными болезнями центральной нервной системы.

                    </p>
                    <h3>Физиотерапевтический прибор с использованием механических колебаний (вибротерапия).</h3>
                    <p>
						Различные лечебные эффекты достигаются по средствам изменения частоты механических колебаний, изменения позы и положения. Данный метод может помочь больному повысить взрывную мышечную силу и мышечную силу в целом, а также увеличить объем мышц, улучшить состояние мышц при атрофии, вызванной длительной иммобилизацией и улучшить координацию мышц.
                    </p>
                   
                    <h3>Ударно-волновая терапия</h3>
                    <p>
                        Ударно-волновая терапия – эффективный метод лечения ДЦП
					</p>
					<p>
						Швейцарская методика ударно-волнового лечения спазматического церебрального паралича весьма эффективна. Внедрение в лечебный процесс УВТ потребовало от руководства нашего медучреждения значительного инвестирования в аппаратное обеспечение и обучение персонала больницы. Напряженная работа, проделанная администрацией и врачебным коллективом клиники, позволяет реализовывать лучшие методы лечения ДЦП.
					</p>
						Сущность ударно-волновой терапии заключается в использовании кинетической энергии специального патрона. Приведенный в движение сжатым воздухом,  патрон упруго останавливается в рабочем пространстве прибора. Выделившаяся кинетическая энергия транспортируется в ткани организма. 
					</p>
					<p>
						В теле человека энергетический импульс, пересекая слои тканей, различающихся физическими параметрами,  формирует микрокавитационное воздействие. Биологические жидкости на границах сред наполняются короткоживущими пузырьками холодного пара. Схлопываясь, пузырьки перераспределяют первоначальную кинетическую энергию, рассеивая ее микроскопические дозы в живых тканях. 
					</p>
					<p>
						Результатом ударно-волнового воздействия становится выделение гепарина в русло кровотока, активизация кровообращения и обменных процессов в области воздействия, снижение болезненности перенапряженных мышц, устранение преград для циркуляции крови на уровне артериол, венул и тончайших капилляров.
					</p>
					<p>
						В настоящее время ударно-волновая терапия широко применяется при лечении заболеваний костно-мышечной системы. Медики классифицируют УВТ как методику, располагающуюся между консервативным лечением и оперативным вмешательством. 
					</p>
					<p>
						Являясь новым лечебным методом, ударно-волновая терапия признана безопасной, неинвазивной, безболезненной. По свидетельству специалистов, ударно-волновая терапия характеризуется быстрым достижением лечебного эффекта. 
					</p>
					<p>
						Результаты комбинированной с УВТ реабилитации ДЦП всегда выше, чем результаты простой физкультуры. Доказанная эффективность ударно-волновой терапии позволяет смягчать спазматическую диплегию у ребенка, снимать спазмы трехглавой мышцы голени, улучшать двигательную функцию. УВТ является важным методом противодействия церебральному параличу. 
					</p>
			  </div>
            </div>

        </div><!-- END slimpage/medicine-page -->
    </div><!-- END container -->
</div>

