
@{
    ViewBag.Title = "Имплантация коллагенновых нитей  в больнице города Юньчэн, Китай.";
	ViewBag.Description = "Достоинства метода заключается в ощутимой положительной эффективности, безопасности, непрерывности и пролонгированности лечебного воздействия. "; 
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main has-gray-bg is-full-screen">
    <div class="container">
        <div class="slimpage medicine-page">
            <a href="@Url.Action("Index", "Procedure")" class="page-close"></a>
            <div class="slimpage-nav medicine-page-nav">
                <a class="slimpage-prev" href="@Url.Action("SlingExercise", "Procedure")" title="Предыдущая статья"></a>
                <a class="slimpage-next" href="@Url.Action("TheraSuit", "Procedure")" title="Следующая статья"></a>
            </div>
            <div class="slimpage-head">
                <div class="slimpage-head-img">
                    <img src="~/Content/images/procedures/procedure_implantation.jpg" alt="Акупунктура (иголерапия)">
                </div>
                <div class="slimpage-head-txt">
                    <h1 class="slimpage-head-title">Имплантация коллагеновых нитей (Implantation of collagen threads into acu-points)</h1>
                    <div class="slimpage-head-note">
                        Имплантация коллагеновых нитей представляет собой метод лечения вживлением специальной коллагеновой нити в акупунктурные (биоактивные) точки.
                    </div>
                </div>
            </div>
            <div class="slimpage-body">
                <div class="user-content">
                    <p>
					Метод имплантации коллагеновых нитей является уникальным сочетанием наработок современной западной и традиционной китайской медицины. По сути, это одна из наиболее эффективных разновидностей акупунктуры.
					</p>
					<p>
					Процедура имплантации проста и заключается в введении отрезков нити длиной от 5 мм до 5–10 см в одну или сразу несколько акупунктурных зон. Производится имплантация с использованием тонких игл. 
					</p>
					<p>
					Коллагеновые нити погружаются на заданную глубину и соединяются в одной точке. Кончики кетгута обрезаются. Оставленная в глубине тканей нить постепенно рассасывается, оказывая длительное стимулирующее воздействие на биологически активные зоны. 
					</p>
					<p>
					При введении нити в акупунктурные точки болевой области, оздоровление происходит в ускоренном темпе. Коллагеновая нить – инородное тело; в место введения нити организм направляет все силы для борьбы с воспалением. Сама коллагеновая нить бесследно рассасывается через 3-4 недели.
					</p>
					<p>
					Достоинства метода заключается в высокой эффективности и безопасности пролонгированного лечебного воздействия. Процедура проводится один раз в 3-4 недели в зависимости от степени тяжести заболеваний.
                    </p>
                </div>
            </div>

        </div><!-- END slimpage/medicine-page -->
    </div><!-- END container -->
</div>

