
@{
    ViewBag.Title = "Акупунктура";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main has-gray-bg is-full-screen">
    <div class="container">
        <div class="slimpage medicine-page">
            <a href="@Url.Action("Index", "Procedure")" class="page-close"></a>
            <div class="slimpage-nav medicine-page-nav">
                <a class="slimpage-prev" href="@Url.Action("SlingExercise", "Procedure")" title="Предыдущая статья"></a>
                <a class="slimpage-next" href="@Url.Action("TheraSuit", "Procedure")" title="Следующая статья"></a>
            </div>
            <div class="slimpage-head">
                <div class="slimpage-head-img">
                    <img src="~/Content/images/procedures/procedure_implantation.jpg" alt="Акупунктура (иголерапия)">
                </div>
                <div class="slimpage-head-txt">
                    <h1 class="slimpage-head-title">Имплантация коллагеновых нитей (Implantation of collagen threads into acu-points)</h1>
                    <div class="slimpage-head-note">
                        Имплантация коллагеновых нитей представляет собой метод лечения вживлением специальной коллагеновой нити в акупунктурные (биоактивные) точки.
                    </div>
                </div>
            </div>
            <div class="slimpage-body">
                <div class="user-content">
                    <p>
					Метод имплантации коллагеновых нитей является уникальным сочетанием современной западной медицины и традиционной китайской медицины. По сути, это одна из разновидностей современной акупунктуры.
					</p>
					<p>
					Процедура имплантации простая и заключается в введении кусочков нити длиной от 0,5 до 5–10 см с помощью игл на необходимую глубину в биоактивную (акупунктурную) точку или одновременно в несколько точек, соединяя их. Кончики кетгута обрезаются, а оставшаяся в глубине тканей нить постепенно рассасывается, оказывая длительное стимулирующее воздействие. При введении нити в биоактивные точки в болевой области, данная область быстро оздоравливается, так как коллагеновая нить — это инородное вещество для организма, и следовательно, в это место организмом будут брошены все силы, а сама коллагеновая нить полностью рассасывается через 3-4 недели.
					</p>
					<p>Достоинства метода заключается в ощутимой положительной эффективности, безопасности, непрерывности и пролонгированности лечебного воздействия. Процедура проводится один раз в 3-4 недели в зависимости от степени тяжести заболеваний.
                    </p>
                </div>
            </div>

        </div><!-- END slimpage/medicine-page -->
    </div><!-- END container -->
</div>

