
@{
    ViewBag.Title = "Программа интенсивной физиотерапии (ITP)";
	ViewBag.Description = "Визы на лечение в Китай 中国. Визы с типом S2 на срок до 180 дней.  В течении 3-7 дней. Список документов. Поможем с оформлением. Переходите..";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--не используется-->

<div class="main has-gray-bg is-full-screen">
    <div class="container">
        <div class="slimpage medicine-page">
            <a href="@Url.Action("Index", "Procedure")" class="page-close"></a>
            <div class="slimpage-nav medicine-page-nav">
                <a class="slimpage-prev" href="@Url.Action("Universal", "Procedure")" title="Предыдущая статья"></a>
                <a class="slimpage-next" href="@Url.Action("Acupuncture", "Procedure")" title="Следующая статья"></a>
            </div>
            <div class="slimpage-head">
                <div class="slimpage-head-img">
                    <img src="~/Content/images/procedures/procedure_itp.jpg" alt="Акупунктура (иголерапия)">
                </div>
                <div class="slimpage-head-txt">
                    <h1 class="slimpage-head-title">Программа интенсивной физиотерапии (ITP)</h1>
                    <div class="slimpage-head-note">
                        Совершенно новый индивидуализированный метод тренировок
                    </div>
                </div>
            </div>
            <div class="slimpage-body">
                <div class="user-content">
                    <p>
                        Программа интенсивной физиотерапии (ITP) была разработа сертифицированными физиотерапевтами. В данной программе в качестве основных инструментов применяются костюмы TheraSuit© и мультифункциональный комплекс тренежеров (UEU). Кроме того, данная программа объединила в себе различные методы лечения и техники, такие как нейро-развивающая терапия (Бобат-терапия), PNF-терапия (проприоцептивное нейро-мышечное упрощение), тамо-терапия, пилатес и т. д. Все это собрано воедино, чтобы позволить пациенту повысить самостоятельность до максимально возможного уровня за минимально короткие сроки.
                    </p>
                 
                </div>
            </div>

        </div><!-- END slimpage/medicine-page -->
    </div><!-- END container -->
</div>

