
@{
    ViewBag.Title = "Тейпирование в больнице. Kinesiotaping - Medical Taping.";
	ViewBag.Description = "Тейпы обеспечивают адекватную работу мышц, протекание саногенетических процессов, уменьшая болевой эффект, при этом не ограничивая движений, улучшая крово- и лимфоток";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main has-gray-bg is-full-screen">
    <div class="container">
        <div class="slimpage medicine-page">
            <a href="@Url.Action("Index", "Procedure")" class="page-close"></a>
            <div class="slimpage-nav medicine-page-nav">
                <a class="slimpage-prev" href="@Url.Action("StSpeech", "Procedure")" title="Предыдущая статья"></a>
                <a class="slimpage-next" href="@Url.Action("Sensory", "Procedure")" title="Следующая статья"></a>
            </div>
            <div class="slimpage-head">
                <div class="slimpage-head-img">
                    <img src="~/Content/images/procedures/procedure_kinesiotaping.jpg" alt="Акупунктура (иголерапия)">
                </div>
                <div class="slimpage-head-txt">
                    <h1 class="slimpage-head-title">Кинезиологическое тейпирование (Kinesiotaping - Medical Taping)</h1>
                    <div class="slimpage-head-note">
                        Кинезиологическое тейпирование при ДЦП, в комплексной реабилитации широко применяется во всем мире
                    </div>
                </div>
            </div>
            <div class="slimpage-body">
                <div class="user-content">
                    <p>
					Термин образован из двух слов «kinesio» (движение) и «tape»(лента) известен так же как «кинезиологическое тейпирование» и «кинезио тейпинг». Метод основан на наложении специальных хлопковых лент, не содержащих латекс, с акриловым термоактивным покрытием, аналогичных по эластичности человеческой коже.
					</p>
					<p>
					Тейпы обеспечивают адекватную работу мышц, протекание саногенетических процессов, уменьшая болевой эффект, при этом не ограничивая движений, улучшая крово- и лимфоток, обладая гипоаллергенными свойствами и полной воздухо- и влагопроницаемостью, позволяет использовать их на протяжении 5 дней, 24 часа в сутки, даже в воде.
					</p>
					<p> Тейпы Kinesio могут использоваться вместе с другими видами терапии, например, криотерапией, гидротерапией, массажем, ЛФК и электростимуляцией.
                    </p>
                </div>
            </div>

        </div><!-- END slimpage/medicine-page -->
    </div><!-- END container -->
</div>

