
@{
    ViewBag.Title = "Акупунктура";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main has-gray-bg is-full-screen">
    <div class="container">
        <div class="slimpage medicine-page">
            <a href="@Url.Action("Index", "Procedure")" class="page-close"></a>
            <div class="slimpage-nav medicine-page-nav">
                <a class="slimpage-prev" href="@Url.Action("Electric", "Procedure")" title="Предыдущая статья"></a>
                <a class="slimpage-next" href="@Url.Action("PtPhysical", "Procedure")" title="Следующая статья"></a>
            </div>
            <div class="slimpage-head">
                <div class="slimpage-head-img">
                    <img src="~/Content/images/procedures/procedure_massage.jpg" alt="Акупунктура (иголерапия)">
                </div>
                <div class="slimpage-head-txt">
                    <h1 class="slimpage-head-title">Массаж (Massage)</h1>
                    <div class="slimpage-head-note">
                        Улучшает кровообращение, лимфообращение, обменные процессы в мышцах, суставах и окружающих их тканях. Импульсы от тканей, подвергшихся массажу, поступают в спинной и головной мозга, корригируя их функциональную активность.
                    </div>
                </div>
            </div>
            <div class="slimpage-body">
                <div class="user-content">
                    <h3> Точечный массаж </h3>
					<p>
                        Лечебный массаж при ДЦП не ограничивается мышечным массажем. Он включает массаж определенных частей тела, разработку суставов, стимуляцию нервных точек, чтобы развить и улучшить нервные сигналы между мозгом и частями тела. Точечный массаж зародился в Китае в глубокой древности. В процессе познания человека древние медики обнаружили на его теле локальные точки и систематизировали их в определенные линии – меридианы. Была выявлена фунциональная взаимосвязь этих точек с органами и нервной системой.
						</p>
						<p>
						У большинства больных ДЦП состояние значительно улучшается, благодаря систематическому комплексному лечению, в которое входит массаж и ЛФК. Если тонус резко повышается, особенно в приводящих мышцах (аддукторах) и сгибателях, это приводит к образованию контрактур. Больные с такими симптомами передвигаются с трудом, перекрещивая ноги. Точные движения руками также выполняются с трудом. Иногда больные совсем не могут двигать руками, не в состоянии даже пользоваться карандашом или ложкой. Парез, паралич конечностей, мышц, их укорочение, неправильная походка и поза в положении сидя приводят к нарушению осанки.
						</p>
						<p>
						Точечный массаж снижает рефлекторную возбудимость мышц, предупреждает образование и развитие контрактур, улучшает циркуляцию крови и лимфы, уменьшает синкинезию, то есть непроизвольные движения конечности или иной части тела.
						</p>
						<p>
						Массаж, который делают специалисты нашей больницы, включает стимулирование всего тела с головы до ног. 
						Зона головы:	лечатся	функциональные расстройства стимуляцией рефлекторных зон (функции движения, речи, зрения)
						Зоны стоп: стопа является поистине вторым сердцем человека, все органы имеют свою рефлекторную зону на стопе, и мозг в том числе. Функции органов могут быть улучшены с помощью массажа ног. Исправляется вальгусно-варусная деформация стоп.
						</p>
						 <h3> Общий массаж </h3>
						<p>
						С помощью общего массажа туловища, верхних и нижних конечностей достигается расслабление напряженных мышц, стимуляция общего кровообращения и предотвращения ощущения холода в ногах и руках из-за недостаточного кровообращения. В процессе лечения наша больница применяет метод массирования позвоночника для стимуляции пищеварения и лучшего усвоения питательных веществ, усиления иммунитета, восстановления согласованного функционирования действий всех органов и систем.
                    </p>
                    
                   
                </div>
            </div>

        </div><!-- END slimpage/medicine-page -->
    </div><!-- END container -->
</div>

