
@{
    ViewBag.Title = "Акупунктура";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main has-gray-bg is-full-screen">
    <div class="container">
        <div class="slimpage medicine-page">
            <a href="@Url.Action("Index", "Procedure")" class="page-close"></a>
            <div class="slimpage-nav medicine-page-nav">
                <a class="slimpage-prev" href="@Url.Action("Acupoint", "Procedure")" title="Предыдущая статья"></a>
                <a class="slimpage-next" href="@Url.Action("StSpeech", "Procedure")" title="Следующая статья"></a>
            </div>
            <div class="slimpage-head">
                <div class="slimpage-head-img">
                    <img src="~/Content/images/procedures/procedure_page.jpg" alt="Акупунктура (иголерапия)">
                </div>
                <div class="slimpage-head-txt">
                    <h1 class="slimpage-head-title">Мелкая моторика, трудотерапия (ОТ occupational therapy)</h1>
                    <div class="slimpage-head-note">
                        Целью трудотерапевтических занятий является развитие моторики, в особенности мелких моторных функций верхних конечностей.
                    </div>
                </div>
            </div>
            <div class="slimpage-body">
                <div class="user-content">
				<h3>Трудотерапия – мощный инструмент реабилитации больных ДЦП </h3>
				<p>
				Трудотерапия, иначе называемая эрготерапией (от латинского «эргон» - работа), является неотъемлемой частью реабилитации больных детским церебральным параличом. Целью трудотерапевтических занятий является развитие моторики, в особенности мелких моторных функций верхних конечностей; адаптация к условиям существования социума; формирование навыков одевания и обувания, пользования приборами и инструментами, простейшего самообслуживания.
				</p>
				<p>
				Эрготерапия при ДЦП предотвращает усугубление функциональных расстройств и помогает восстанавливать жизненные функции организма. Во время занятий происходит адаптация психики и нервной системы больного к окружающей его среде. Возникает и закрепляется осознание ребенком себя как части социума. Стимулируется стремление индивида интегрироваться в общество.
				</p>
				<p>
				Систематические занятия трудовой терапией повышают степень независимости больного в обыденной жизни. При должной настойчивости в лечении трудом возможно формирование у больного ДЦП полного комплекса навыков самообслуживания и гигиенического ухода за собой.
				</p>
				<p>
				Важнейшим итогом трудотерапии является обучение пациента организации собственного досуга. У детей, посещающих интересные и разнообразные занятия эрготерапией, создается эстетическое восприятие среды, возникает и раскрывается удовольствие от творческой деятельности. В дальнейшем навыки, обретенные во время трудотерапии, могут стать основой для профессиональной ориентации человека.
				</p>
				<p>
				Эрготерапия – мощнейший фактор повышения качества жизни больного ДЦП, инструмент укрепления здоровья, оружие в борьбе с функциональными расстройствами, эффективный метод реабилитации больных неврологическими заболеваниями.
				</p>
				<h3>Трудотерапевтическая оценка</h3>
				<p>
				Трудотерапевтическая оценка – врачебное исследование состояния больного ДЦП, целью которого является определение уровня работоспособности пациента и возможной степени восстановления жизненных функций. Трудотерапевтическая оценка предваряет составление лечебного плана, а по завершении курса занятий позволяет оценить достигнутые результаты, выявить достоинства и недостатки выполненного плана.
				</p>
				Оценивание состояния больного ДЦП включает в себя:
				<ul class="sec-procedure-list">
                            <li>первоначальное определение характера расстройства двигательной функции;</li>
                            <li>выявление степени функциональной недостаточности;</li>
                            <li>постановка задач касательно эффективности реабилитационных процедур;</li>
                            <li>выбор методик и планирование лечения;</li>
							<li>регулярный контроль состояния больного и коррекция плана лечения в целях достижения наивысшего эффекта;</li>
							<li>исследование уровня физической активности и степени улучшения двигательных функций больного по завершению трудотерапевтического курса;</li>
							<li>оценивание общего состояния больного ДЦП, составление рекомендаций на будущее и формирование плана действий по дальнейшей реабилитации ребенка.</li>
                    </ul>
					<p>
					Высокая достоверность трудотерапевтической оценки достигается как минимум троекратным оцениванием состояния пациента – на вводном этапе лечения, в середине курса и после его окончания.
					</p>
					<h3>Обучение родителей ребенка с ДЦП трудотерапевтическим приемам </h3>
					<p>
					Важным фактором успешности трудотерапевтического лечения больных ДЦП является непрерывность занятий и последовательность усилий в развитии моторных функций организма. 
					</p>
					<p>
					Поскольку пребывание ребенка в лечебном учреждении ограничено по времени, специалисты-реабилитологи компании Bamboo.care считают своим долгом обучать родителей больного методикам и приемам трудотерапии. Обучение родителей (или сопровождающих) больного ведется во время эрготерапевтических занятий с ребенком.
					</p>
					<p>
					Начинать трудотерапию под родительским руководством рекомендуется как можно раньше. В дошкольном и раннем школьном возрасте ребенка занятия проводятся в игровой форме. Несложные увлекательные игры помогают детям овладевать навыками самостоятельного одевания, пользования столовыми приборами, минимального самообслуживания.
					</p>
					<p>
					Детям постарше предлагается овладение ремесленными навыками, приемами рукоделия и прикладного искусства. При достаточном развитии мелкой моторики верхних конечностей следует уделять внимание обучению пользованию бытовыми устройствами и приспособлениями.
					</p>
					<p>
					Непрерывность и постоянство домашней эрготерапии – залог успешной реабилитации детей с церебральным параличом.
					</p>
					<h3>Содержание занятий трудотерапией</h3>
					<p>
					В начальной фазе трудотерапии отдается предпочтение играм, дающим детям возможность тактильного различения формы предметов, температуры материалов, шероховатости, мягкости и прочих физических свойств игрушек.
					</p>
					<p>
					В дальнейшем занятия усложняются, а их основной целью становится развитие координации движений, крупной и мелкой моторики. Помимо прочего, больным предлагается застегивание пуговиц и шнурование – вначале на специальных стендах, после на одежде и обуви.
					</p>
					<p>
					Особое внимание на домашних занятиях трудотерапией уделяется приобретению гигиенических навыков.
					</p>
					<p>
					При составлении плана занятий учитывается заинтересованность ребенка и степень его увлеченности предлагаемыми упражнениями.
					</p>
                    </div>
            </div>

        </div><!-- END slimpage/medicine-page -->
    </div><!-- END container -->
</div>

