
@{
    ViewBag.Title = "Акупунктура";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main has-gray-bg is-full-screen">
    <div class="container">
        <div class="slimpage medicine-page">
            <a href="@Url.Action("Index", "Procedure")" class="page-close"></a>
            <div class="slimpage-nav medicine-page-nav">
                <a class="slimpage-prev" href="@Url.Action("Kinesiotaping", "Procedure")" title="Предыдущая статья"></a>
                <a class="slimpage-next" href="@Url.Action("SlingExercise", "Procedure")" title="Следующая статья"></a>
            </div>
            <div class="slimpage-head">
                <div class="slimpage-head-img">
                    <img src="~/Content/images/procedures/procedure_sensory.jpg" alt="Акупунктура (иголерапия)">
                </div>
                <div class="slimpage-head-txt">
                    <h1 class="slimpage-head-title">Сенсорная интеграция (Sensory Integration Therapy (SIT))</h1>
                    <div class="slimpage-head-note">
                        Главная цель развития сенсорной интеграции – это не только укрепление моторики, но и улучшение способности мозга управлять чувствами. 
                    </div>
                </div>
            </div>
            <div class="slimpage-body">
                <div class="user-content">
                    <p> Сенсорной интеграцией называется способность человека использовать собственные ощущения для формирования адекватных ответных реакций. Именно сенсорная интеграция позволяет нам правильно реагировать на земное притяжение и развивать в себе чувство равновесия. 
					</p>
					<p>
					Способность верно различать и оценивать запахи, звуки, тактильные контакты тоже относится к сенсорной интеграции – равно как и умение реагировать на поведение окружающих. Основа социализации больного детским церебральным параличом – развитая сенсорная интеграция.
					</p>
					<p>
					Занятия сенсорной интеграцией в процессе лечения детей с ДЦП основываются на понимании психологических потребностей ребенка. Мягкое и постепенное развитие сенсорной интеграции фактически стимулирует ощущения и чувства больного.
					</p>
					<p>	
					Подобная тренировка чрезвычайно полезна, поскольку обеспечивает формирование правильных реакций вестибулярного аппарата, проприоцептивную чувствительность (мышечную реакцию на ощущения). Помимо того, тренировка сенсорной интеграции возбуждает тактильное, зрительное и акустическое восприятие и является, таким образом, инструментом активизации взаимодействия больного ребенка и окружающего его мира. 
					</p>
					<p>
					Главная цель развития сенсорной интеграции – это не только укрепление моторики, но и улучшение способности мозга управлять чувствами.  Сенсорная интеграция, по своей биологической сути, и есть организация чувств; умение неосознанно и быстро (в «автоматическом режиме») отсеивать, компоновать и концентрировать информацию, передающуюся восприятием.
					</p>
					<p>
					Формирование сенсорной интеграции помогает успешно разрешать проблемы социализации ребенка, больного ДЦП. Избавляя от трусливости, рассеянности, излишней эмоциональности и чувствительности, сенсорная интеграция дает возможность ребенку успешно контактировать со сверстниками. 
					</p>
					<p>
					Глубокая сенсорная интеграция дает возможность избавить больного ДЦП малыша избавить от боязни чужого, страха перед незнакомыми людьми. Успешная сенсорная интеграция устраняет неуклюжесть, неправильное произношение, пристрастия и привередливость в еде, необщительность и замкнутость.
					</p>
					<p>
					Метод успешно применяется для лечения церебрального паралича, аутизма, олигофрении. 
					</p>
                </div>
            </div>

        </div><!-- END slimpage/medicine-page -->
    </div><!-- END container -->
</div>

