
@{
    ViewBag.Title = "Слинг-терапия S-E-T Sling Exercise Therapy.";
	ViewBag.Description = "Благодаря слинг-терапии эффективно предотвращается мышечная атрофия верхних и флеботромбоз нижних конечностей, предупреждается развитие остеопороза. ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main has-gray-bg is-full-screen">
    <div class="container">
        <div class="slimpage medicine-page">
            <a href="@Url.Action("Index", "Procedure")" class="page-close"></a>
            <div class="slimpage-nav medicine-page-nav">
                <a class="slimpage-prev" href="@Url.Action("Sensory", "Procedure")" title="Предыдущая статья"></a>
                <a class="slimpage-next" href="@Url.Action("Implantation", "Procedure")" title="Следующая статья"></a>
            </div>
            <div class="slimpage-head">
                <div class="slimpage-head-img">
                    <img src="~/Content/images/procedures/procedure_s_e_t.jpg" alt="Акупунктура (иголерапия)">
                </div>
                <div class="slimpage-head-txt">
                    <h1 class="slimpage-head-title">Слинг-терапия (S-E-T Sling Exercise Therapy)</h1>
                    <div class="slimpage-head-note">
                        Слинг-терапия – универсальный инструмент реабилитации больных ДЦП
                    </div>
                </div>
            </div>
            <div class="slimpage-body">
                <div class="user-content">
                    <p> Слинг-терапия (англ. Sling Exercise Therapy, SET) – действенный метод реабилитации при ДЦП. Проводится слинг-терапия на различных тренажерах, каждый из которых обеспечивает максимально щадящую поддержку больного, не ограничивая при этом амплитуды движений тела и конечностей. 
					</p>
					<p>
					Всякий из тренажеров, используемых в слинг-терапии, представляет собой конструктивно объединенную систему эластичных подвесов, помогающих формировать у ребенка базовые двигательные навыки и одновременно страхующих больного от падений и травм. Широко распространенный тренажер Гросса используется для обучения ходьбе.
					</p>
					<p>
					Ходьба – это одно из базовых функциональных движений человека в повседневной жизни. Тренировочная ходьба на тренажере Гросса помогает преодолеть дисфункцию нижних конечностей, снизить вес малоподвижного ребенка. 
					</p>
					<p>
					Метод слинг-терапии изобретен более сорока лет назад, однако разработка новых медицинских реабилитационных техник с использованием подвесных устройств началась относительно недавно. Переоценить SET невозможно: неврологи отмечают исключительную полезность приспособления. 
					</p>
					<p>
					Способствуя попеременному возникновению в нервной системе управляющих импульсов для сгибающих и разгибающих мышц, слинг-терапия вырабатывает у пациента стойкие навыки ходьбы, движений рук и тела. Помогая сгибать и разгибать руки, поднимать и переставлять ноги при шагах, слинг-терапевтические тренажеры превращает неприятные для больного ребенка занятия в удовольствие и развлечение.
					</p>
					<p>
					Благодаря слинг-терапии эффективно предотвращается мышечная атрофия верхних и флеботромбоз нижних конечностей, предупреждается развитие остеопороза. Получаемые на тренажерах навыки становятся основой для последующего обучения самостоятельному движению.
                    </p>
                </div>
            </div>

        </div><!-- END slimpage/medicine-page -->
    </div><!-- END container -->
</div>

