
@{
    ViewBag.Title = "Акупунктура";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main has-gray-bg is-full-screen">
    <div class="container">
        <div class="slimpage medicine-page">
            <a href="@Url.Action("Index", "Procedure")" class="page-close"></a>
            <div class="slimpage-nav medicine-page-nav">
                <a class="slimpage-prev" href="@Url.Action("OtOccupational", "Procedure")" title="Предыдущая статья"></a>
                <a class="slimpage-next" href="@Url.Action("Kinesiotaping", "Procedure")" title="Следующая статья"></a>
            </div>
            <div class="slimpage-head">
                <div class="slimpage-head-img">
                    <img src="~/Content/images/procedures/procedure_page.jpg" alt="Акупунктура (иголерапия)">
                </div>
                <div class="slimpage-head-txt">
                    <h1 class="slimpage-head-title">Логопедический массаж (ST speech therapy)</h1>
                    <div class="slimpage-head-note">
                        Целью логопедического лечения является повышение способностей больного ребенка выражать языком свои мысли и понимать чужую речь, а также восстановление способностей ребенка к коммуникации по средствам речи. 
                    </div>
                </div>
            </div>
            <div class="slimpage-body">
                <div class="user-content">
                    <p>
                       Пять причин возникновения проблем в общении у детей:
					   </p>
					   <ul class="sec-procedure-list">
                            <li>Проблемы со слухом</li>
                            <li>Умственные расстройства</li>
                            <li>Церебральный паралич</li>
                            <li>Различные типы инвалидности</li>
                            <li>Особенные проблемы с речью</li>
                         </ul>
					  Проблемы, вызванные церебральным параличом.
					  <ul class="sec-procedure-list">
                            <li>Затянувшееся отсутствие речи (alalia prolongata)</li>
                            <li>Дизартрия</li>
                       </ul>
			</p>
			<p>
			Логопедическое лечение заключается в тренировке производства речи и восприятия речи, иначе говоря, тренировке направленной на понимание сказанного и тренировке выражения собственных мыслей. Затянувшееся отсутствие речи (alalia prolongata) лечится посредством обучения и многократного раздражения речевыми стимулами, в том числе использование преимущественно речевого общения в процессе обучения. 
			</p>
			<p>
			Дизартрия, также именуемая двигательное расстройство производства звуков, связана с дисфункцией органов дыхания, гортани, полости рта, нижней челюсти, языка или губ, а потому лечение должно быть направлено на коррекцию соответствующего отклонения.
			</p>
			<p>
			Методы лечения дизартрии включают: 
					  <ul class="sec-procedure-list">
                            <li>Релаксационная терапия. Цель: снижение напряжения мышц, участвующих в процессе производства звуков речи, устранения перенапряжения всего тела в том числе расслабление непроизвольных мышц (способствует дыханию и речи)</li>
                            <li>Дыхательные тренировки. Правильное произношение и построение звуков основывается на дыхании, звук может образоваться только тогда, когда образуется определённое давление воздушного потока</li>
							<li>Тренировка органов речи (также именуемая базовый тренинг органов речи). Произношение и построение звуков зависит от скоординированного действия мышц губ, нижней челюсти мягкого нёба и языка. С помощью этих частей речевого аппарата происходит изменение формы звукового канала, происходит резонация и образование звука, а потому для лечения расстройств речи возможно применять гимнастику для рта, губ и языка, а также массаж рта.</li>
							<li>Тренировки движения губ и нижней челюсти. У детей с церебральным параличом наблюдается нарушение двигательных функций нижней челюсти, при котором рот не может нормально открываться и закрываться и звуки не производятся. Посредством стимуляции мышц, расположенных в области нижней челюсти и губ, добившись их сокращения, возможно добиться естественного закрывания рта. Детям с неограниченными умственными способностями даются речевые команды сделать следующие движения: открыть рот, закрыть рот, надуть губы, оскалить зубы, растянуть рот в улыбке, сложить губы трубочкой, надуть щеки, втянуть щеки, слегка улыбнуться. Эти движения должны повторяться многократно до того, как ребенок будет с легкостью и уверенностью их производить. </li>
													
                       </ul>
			</p>
			<p> 
				 <h3>Метод оценки логопедического лечения</h3>
				 </p>
			<p> 
			 Для оценки дизартрии в процессе логопедического лечения в нашем центре применяется шкала Френчай (Frenchay). Основными параметрами оценки являются оценка дыхания, оценка резонации, оценка речевого аппарата (включая оценку субъективных ощущений и объективную оценку). Степень отклонений оценивается по шкале а, б, в, г, д (а — норма, д — тяжелые отклонения). 1. Рефлексы. Включает: кашель, глотание, пускание слюней. 2. Дыхание. Включает: дыхание в состоянии покоя и во время речи. 3. Губы. Включает: положение губ в состоянии покоя, с отведенными уголками губ (наблюдается, как уголки губ поднимаются и возвращаются в исходное положение), с сомкнутыми губами и надутыми щеками (наблюдается, выходит ли воздух через губы) , с попеременным произнесением звуков (считается количество попеременно произнесённых за 10 секунд У и И), движение губ во время речи. 4. Челюсти. Включает: положение челюстей в состоянии покоя и во время речи. 5. Мягкое небо. Включает: наблюдается, попадает ли пища или жидкость в нос, или опускается ли небо, или происходят ли какие-либо другие изменения при произнесении звука «А» пять раз. 6. Гортань. Включает: время произнесения звука, высоту звука, громкость, а также изменения гортани во время речи. 7. Язык. Включает: в состоянии покоя, при высовывании языка, при движении вверх и вниз, при движении в стороны, с попеременным произнесением звука и язык во время речи.
 </p>
	
                </div>
            </div>

        </div><!-- END slimpage/medicine-page -->
    </div><!-- END container -->
</div>

