
@{
    ViewBag.Title = "Акупунктура";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main has-gray-bg is-full-screen">
    <div class="container">
        <div class="slimpage medicine-page">
            <a href="@Url.Action("Index", "Procedure")" class="page-close"></a>
            <div class="slimpage-nav medicine-page-nav">
                <a class="slimpage-prev" href="@Url.Action("TheraSuit", "Procedure")" title="Предыдущая статья"></a>
                <a class="slimpage-next" href="@Url.Action("Itp", "Procedure")" title="Следующая статья"></a>
            </div>
            <div class="slimpage-head">
                <div class="slimpage-head-img">
                    <img src="~/Content/images/procedures/procedure_page.jpg" alt="Акупунктура (иголерапия)">
                </div>
                <div class="slimpage-head-txt">
                    <h1 class="slimpage-head-title">Подвесная терапия на мультифункциональном комплексе тренажеров (Universal Exercise Unite (UEU))</h1>
                    <div class="slimpage-head-note">
                        Новая эпоха физической реабилитации
                    </div>
                </div>
            </div>
            <div class="slimpage-body">
                <div class="user-content">
                    <p>
					<h3>Свобода руками физиотерапевта</h3>
					<p>
					Подвесная терапия на мультифункциональном комплексе тренажеров, также известная как Угуль терапия, — это разработка известного польского врача-ортопеда профессора Дэга (Dega). Это комплекс, который позволяет тренировать силу и выносливость определённых групп мышц.
					</p>
                    <p>
					В 1999 году семейная пара польских физиотерапевтов Ричард и Изабела Косельни (Richard and Izabela Koscienlny) завезли данный комплекс тренажеров в США, где стали применять его в сочетании с костюмами TheraSuit© для реабилитации пациентов с церебральным параличом. Данный вид терапии в сочетании с другими методами и техниками лег в основу программы динамических тренировок, которая стала новым словом в реабилитационной терапии.
                    </p>
                    <h3>Эффекты от применения</h3>
                        <ul class="sec-procedure-list">
                            <li>Увеличение пассивной и активной подвижности суставов (Объем движений)</li>
                            <li>Тренировка определённой вялой мышцы или группы мышц для увеличения силы и выносливости мышц</li>
                            <li>Улучшение координации мышц и способности контролировать движение мышц</li>
                            <li>Отработка отдельного движения или выработка стереотипа движения для развития функциональной независимости пациента</li>
                            <li>Улучшение способностей сенсорной интеграции</li>
                        </ul>
						                    
<h3>Показания к применению подвесной терапии на мультифункциональном комплексе тренажеров (UEU)</h3>                   
				   <ul class="sec-procedure-list">
                            <li>Церебральный паралич</li>
                            <li>Повреждения мозга в результате травм</li>
                            <li>Пациенты с отставанием в развитии</li>
                            <li>Повреждения спинного мозга и незаращение дужек позвонков</li>
                            <li>Пациенты после инсульта</li>
							<li>Нервно-мышечные расстройства и расстройства костно-мышечной системы</li>
                        </ul>

           
                </div>
            </div>

        </div><!-- END slimpage/medicine-page -->
    </div><!-- END container -->
</div>

