@using Cure.WebSite.Models
@using (Html.BeginForm("ChangePhone", "Login", FormMethod.Post, new
{
    @id = "formChangePhone",
    @class = "registr-form js-phone-change"
}))
{
    <div class="forms-line">
        <div class="forms-label">Телефон (желательно)</div>
        @Html.TextBox("phone", ((ChildVisualDetailed)(ViewBag.Profile)).ContactPhone, new
        {
            @id = "phone",
            @placeholder = "Введите телефон",
            @maxlength = "50",
            @class = "forms-input"
        })
    </div>
    <div class="forms-line txt-center">
        <input class="btn btn-orang" type="submit" value="СОХРАНИТЬ">
        <input class="btn btn-gray" onclick="javascript: $('.popup').hide();" type="button" value="ОТМЕНА">
    </div>
    <div id="error-phonechange" class="form-errors"></div>
}