
<!-- Поп-ап регистрации и входа -->
<div class="popup popup-registr" id="pop-registr">
    <div class="popup-modal"></div>
    <div class="popup-wrap">
        <a class="popup-close"></a>
        <div class="popup-head js-tabs-registr">
            <div class="popup-title registr-tabshead">
                <a class="registr-tabshead-link js-tabs-link active" data-tab="registr-tab-1" role="button">Регистрация</a>
                <a class="registr-tabshead-link js-tabs-link" data-tab="registr-tab-2" role="button">Вход</a>
            </div>
        </div>
        <div class="popup-body js-tabs-body">
            <div class="registr-tab js-tabs-item active" id="registr-tab-1">
                <!-- Форма регистрации -->
                @Html.Partial("_AccountRegister")
            </div><!-- END registr-tab-1 -->
            <div class="registr-tab js-tabs-item" id="registr-tab-2">
                <!-- Форма входа -->
                @Html.Partial("_AccountLogin")
            </div><!-- END registr-tab-2 -->
        </div><!-- END popup-body -->
    </div><!-- END popup-wrap -->
</div><!-- END popup-registr -->
<!-- Поп-ап напоминания пароля -->
<div class="popup popup-registr" id="pop-remind">
    <div class="popup-modal"></div>
    <div class="popup-wrap">
        <a class="popup-close"></a>
        <div class="popup-head js-tabs-registr">
            <div class="popup-title">Восстановление пароля</div>
        </div>
        <div class="popup-body">
            @Html.Partial("_AccountReсovery")
        </div><!-- END popup-body -->
    </div><!-- END popup-wrap -->
</div><!-- END popup-remind -->
<!-- Поп-ап изменения пароля -->