
    <div class="row">
        <div class="col-md-3 col-ss-6">
            <div class="selector">
                <input type="hidden" value="0">
                <div class="selector-val" data-val="0">Все страны</div>
                <ul class="selector-list">
                    <li data-val="0">Все страны</li>
                    <li data-val="1">Россия</li>
                    <li data-val="2">Украина</li>
                    <li data-val="3">Казахстан</li>
                    <li data-val="4">Беларусь</li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-ss-6">
            <div class="selector">
                <input type="hidden" value="0">
                <div class="selector-val" data-val="0">Все города</div>
                <ul class="selector-list">
                    <li data-val="0">Все города</li>
                    <li data-val="1">Москва</li>
                    <li data-val="2">Санкт-Петербург</li>
                    <li data-val="3">Барнаул</li>
                    <li data-val="4">Брянск</li>
                    <li data-val="5">Волгоград</li>
                    <li data-val="6">Вологда</li>
                    <li data-val="7">Воронеж</li>
                    <li data-val="8">Геленджик</li>
                    <li data-val="9">Екатеринбург</li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-ss-6">
            <div class="selector">
                <input type="hidden" value="0">
                <div class="selector-val" data-val="0">Любой возраст</div>
                <ul class="selector-list">
                    <li data-val="0">Любой возраст</li>
                    <li data-val="1">Россия</li>
                    <li data-val="2">Украина</li>
                    <li data-val="3">Казахстан</li>
                    <li data-val="4">Беларусь</li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-ss-6">
            <div class="selector">
                <input type="hidden" value="0">
                <div class="selector-val" data-val="0">Любой диагноз</div>
                <ul class="selector-list">
                    <li data-val="0">Любой диагноз</li>
                    <li data-val="1">Россия</li>
                    <li data-val="2">Украина</li>
                    <li data-val="3">Казахстан</li>
                    <li data-val="4">Беларусь</li>
                </ul>
            </div>
        </div>
    </div>
