<div class="price-exchnge">
    <h3 class="price-exchnge-title">Курс валют</h3>
    <div class="head-money">
        <span class="txt-data">1</span>
        <span class="txt-note">юань</span>
        <span class="txt-data">=</span>
        <span class="txt-data">@Html.Raw(ViewBag.CurrencyRateCNY)</span>
        <span class="txt-note">руб</span>
    </div>
    <div class="head-money top-20">
        <span class="txt-data">1</span>
        <span class="txt-note">доллар</span>
        <span class="txt-data">=</span>
        <span class="txt-data">@Html.Raw(ViewBag.CurrencyRateUSD)</span>
        <span class="txt-note">руб</span>
    </div>
    <div class="head-money top-20">
        <span class="txt-data">1</span>
        <span class="txt-note">тенге</span>
        <span class="txt-data">=</span>
        <span class="txt-data">@Html.Raw(ViewBag.CurrencyRateKZT)</span>
        <span class="txt-note">руб</span>
    </div>
</div>