
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6 footer-col">
                        <div class="footer-title">связаться с нами</div>
                        <ul class="footer-phones">
                            <li>
                                <div class="footer-phones-label">Китай</div>
                                <!-- <a class="footer-phones-num" href="tel:+8615603592765">+86 156 0359-2765</a> -->
                                <a class="footer-phones-num" href="tel:+8613096636644">+86 130 9663-6644</a>
                            </li>
                            <li>
                                <div class="footer-phones-label">Россия</div>
                                <a class="footer-phones-num" href="tel:+79897021188">+7 989 702-11-88</a>
                            </li>
                            <li>
                                <div class="footer-phones-label">WhatsApp</div>
                                <a class="footer-phones-num" href="tel:+79787022280">+7 978 702-22-80</a>
                            </li>
                        </ul>
                        <a href="mailto:info@dcp-china.ru">info@dcp-china.ru</a>
                    </div>
                    <div class="col-sm-6 footer-col">
                        <div class="footer-title">мы в соцсетях</div>
                        <ul class="footer-seti">
                            <li><a class="vk" href="http://vk.com/dcpchina" title="В контакте"><i class="fa fa-vk"></i></a></li>
                            <li><a class="ok" href="http://ok.ru/dcpchina" title="Одноклассники"><i class="fa fa-odnoklassniki"></i></a></li>
                            <li><a class="fb" href="https://www.facebook.com/groups/1589292531362315/" title="Фейсбук"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="yt" href="https://www.youtube.com/user/malexsev1" title="Ютуб"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                        <!-- Блок «Поделиться» от Яндекса-->
                        <div class="footer-title">поделиться в соцсетях</div>
                        <script type="text/javascript" src="http://yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
                        <script type="text/javascript" src="http://yastatic.net/share2/share.js" charset="utf-8"></script>
                        <div style="text-align: left;" class="gallery-share ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir" data-counter=""></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6 footer-col">
                        <div class="footer-title">подпишитесь на рассылку</div>
                        <div class="footer-note">и будьте в курсе новостей и акций</div>
                        @using (Html.BeginForm("AddNew", "Newsletter", FormMethod.Post, new
                        {
                            @class = "footer-form js-newsletter-validate",
                            @id = "formNewsletter"
                        }))
                        {
                            <div class="forms-line">
                                @Html.TextBox("email", "", new
                                {
                                    @id = "email",
                                    @maxlength = "250",
                                    @class = "forms-input"
                                })
                            </div>

                            @*<div class="forms-line">
                                <div class="row">
                                    http://makhaai.blogspot.com/2014/08/how-to-create-captcha-in-mvc-5.html
                                </div>
                            </div>*@
                            <div class="forms-line">
                                <input class="btn btn-orang" type="submit" value="ПОДПИСАТЬСЯ">
                                <div id="newsletterprogress">
                                </div>
                                <div id="error-newsletter" class="form-errors"></div>
                            </div>
                        }
                    </div>
                    <div class="col-sm-6 footer-col">
                        <div class="footer-info">
                            <div class="footer-title">информация</div>
                            <ul class="footer-links">
                                <li><a href="@Url.Action("Partnership", "Home")">Сотрудничество</a></li>
                                <li><a href="@Url.Action("Careers", "Home")">Наши вакансии</a></li>
                                <li><a href="@Url.Action("Pravo", "Home")">Правовая информация</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-copy">&copy; dcp-china  2004 - 2017</div>

            </div>
        </div>
    </div>
    <a class="scroll-top js-scroll-top" title="Вверх"></a>
</footer>