<div class="content-tab js-tabs-item" id="order-archive-tab">
    <div class="content-tab-empty">Архив заявок пуст</div>
    <div class="content-adaptive-sheet">
        <div class="sheet-head">
            <div class="sheet-row">
                <div class="sheet-col">Создана</div>
                <div class="sheet-col">Клиника</div>
                <div class="sheet-col">Период лечения</div>
                <div class="sheet-col">Статус</div>
            </div>
        </div>
        <div class="sheet-body">
            <div class="sheet-row is-link js-open-order" data-order="234">
                <div class="sheet-col" data-txt="create">12.05.2016</div>
                <div class="sheet-col" data-txt="clinic">Больница заболеваний головного мозга при НИИ акупунктуры головы города Юньчэн</div>
                <div class="sheet-col" data-txt="period">22.05.2016 - 22.07.2016</div>
                <div class="sheet-col" data-txt="status">Выполнена</div>
            </div>
            <div class="sheet-row is-link js-open-order" data-order="201">
                <div class="sheet-col" data-txt="create">18.11.2015</div>
                <div class="sheet-col" data-txt="clinic">Больница заболеваний головного мозга при НИИ акупунктуры головы города Юньчэн</div>
                <div class="sheet-col" data-txt="period">22.05.2016 - 22.07.2016</div>
                <div class="sheet-col" data-txt="status">Выполнена</div>
            </div>
            <div class="sheet-row is-link js-open-order" data-order="180">
                <div class="sheet-col" data-txt="create">12.05.2015</div>
                <div class="sheet-col" data-txt="clinic">Вторая народная больница района Яньху города Юньчэн</div>
                <div class="sheet-col" data-txt="period">22.05.2016 - 22.07.2016</div>
                <div class="sheet-col" data-txt="status">Отклонена</div>
            </div>
            <div class="sheet-row is-link js-open-order" data-order="112">
                <div class="sheet-col" data-txt="create">20.01.2015</div>
                <div class="sheet-col" data-txt="clinic">Вторая народная больница района Яньху города Юньчэн</div>
                <div class="sheet-col" data-txt="period">22.05.2016 - 22.07.2016</div>
                <div class="sheet-col" data-txt="status">Анулирована</div>
            </div>
            <div class="sheet-row is-link js-open-order" data-order="64">
                <div class="sheet-col" data-txt="create">06.05.2014</div>
                <div class="sheet-col" data-txt="clinic">Больница заболеваний головного мозга при НИИ акупунктуры головы города Юньчэн</div>
                <div class="sheet-col" data-txt="period">22.05.2016 - 22.07.2016</div>
                <div class="sheet-col" data-txt="status">Выполнена</div>
            </div>
        </div>
    </div>
</div><!-- END order-archive-tab -->