@model Cure.WebSite.Models.ClientContainer

<div class="order-steps-tab js-tabs-item @Html.Raw(Model.NewOrder.Name == "4" ? "active" : "")" id="order-step-4">
    <h4 class="forms-heading">
        Ответы на следующие вопросы помогут врачам точнее оценить состояние <br>
        пациента. Все поля заполнять не обязательно.
    </h4>
    <div class="order-section" id="condition">
        <div class="forms-line order-forms-line">
            <label class="forms-label">Разговаривает ли ребенок и каков словарный запас?</label>
            <input class="forms-input" type="text">
        </div>
        <div class="forms-line order-forms-line">
            <label class="forms-label">Выполняет инструкции?</label>
            <input class="forms-input" type="text">
        </div>
        <div class="forms-line order-forms-line">
            <label class="forms-label">
                Физические навыки. Опишите, что ребенок умеет делать сам, и что - с помощью.
            </label>
            <textarea class="forms-text is-short"></textarea>
        </div>
        <div class="forms-line order-forms-line">
            <label class="forms-label">
                Опишите особенности питания ребенка (Ест сам? Перетертая пища или нет?)
            </label>
            <textarea class="forms-text is-short"></textarea>
        </div>
        <div class="forms-line order-forms-line">
            <label class="forms-label">Как жует и глотает?</label>
            <input class="forms-input" type="text">
        </div>
        <div class="forms-line order-forms-line">
            <label class="forms-label">Аппетит</label>
            <input class="forms-input" type="text">
        </div>
        <div class="forms-line order-forms-line">
            <label class="forms-label">Стул</label>
            <input class="forms-input" type="text">
        </div>
        <div class="forms-line order-forms-line">
            <div class="forms-radiotwix">
                <div class="forms-radiotwix-title">Аллергия на лекарственные препараты</div>
                <label class="forms-radio">
                    <input type="radio" name="radio-group-41" checked=""><span>Нет</span>
                </label>
                <label class="forms-radio">
                    <input type="radio" name="radio-group-41"><span>Есть</span>
                </label>
                <div class="forms-radiotwix-hidden">
                    <label class="forms-label">Укажите препараты</label>
                    <input class="forms-input" type="text">
                </div>
            </div>
        </div>
        <div class="forms-line order-forms-line">
            <label class="forms-label">Иммунитет к простудным заболеваниям</label>
            <input class="forms-input" type="text">
        </div>
        <div class="forms-line order-forms-line">
            <label class="forms-label">Как переносит физические нагрузки?</label>
            <input class="forms-input" type="text">
        </div>
        <div class="forms-line order-forms-line">
            <label class="forms-label">Состояние и качество сна</label>
            <input class="forms-input" type="text">
        </div>
        <div class="forms-line order-forms-line">
            <div class="forms-radiotwix">
                <div class="forms-radiotwix-title">Увеличиваются ли приступы при физических нагрузках?</div>
                <label class="forms-radio">
                    <input type="radio" name="radio-group-42" checked=""><span>Нет</span>
                </label>
                <label class="forms-radio">
                    <input type="radio" name="radio-group-42"><span>Да</span>
                </label>
            </div>
        </div>
        <div class="forms-line order-forms-line">
            <div class="forms-radiotwix">
                <div class="forms-radiotwix-title">Задыхается или закатывается во время болезненных процедур?</div>
                <label class="forms-radio">
                    <input type="radio" name="radio-group-43" checked=""><span>Нет</span>
                </label>
                <label class="forms-radio">
                    <input type="radio" name="radio-group-43"><span>Да</span>
                </label>
            </div>
        </div>
    </div><!-- END order-section #meddata -->
    <div class="forms-line top-30">
        <input class="btn btn-orang" type="button" value="ПРОДОЛЖИТЬ">
        <input class="btn btn-gray btn-back" data-move-to="3" type="button" value="Вернуться назад">
        <input class="btn btn-gray" type="button" value="Отложить заполнение">
    </div>
</div><!-- END order-step-4 -->