@*<div class="content-tab js-tabs-item" id="order-drafts-tab">
        <!-- <div class="content-tab-empty">Черновиков нет</div> -->
        <div class="content-adaptive-sheet">
            <div class="sheet-head">
                <div class="sheet-row">
                    <div class="sheet-col">Создана</div>
                    <div class="sheet-col">Изменена</div>
                    <div class="sheet-col">Клиника</div>
                    <div class="sheet-col">Период лечения</div>
                    <div class="sheet-col"><!-- Кнопки --></div>
                </div>
            </div>
            <div class="sheet-body" data-draft="64">
                <div class="sheet-row is-lighting">
                    <div class="sheet-col" data-txt="create">12.05.2016</div>
                    <div class="sheet-col" data-txt="shange">15.05.2016 22:18</div>
                    <div class="sheet-col" data-txt="clinic">Больница заболеваний головного мозга при НИИ акупунктуры головы города Юньчэн</div>
                    <div class="sheet-col" data-txt="period">22.05.2016 - 22.07.2016</div>
                    <div class="sheet-col" data-txt="button">
                        <div class="sheet-btns">
                            <a class="sheet-btn btn-red js-shange-draft" role="button" title="Изменить черновик заявки"></a>
                            <a class="sheet-btn btn-del js-delete-draft" role="button" title="Удалить черновик заявки"></a>
                        </div>
                    </div>
                </div>
                <div class="sheet-row is-lighting" data-draft="51">
                    <div class="sheet-col" data-txt="create">18.11.2015</div>
                    <div class="sheet-col" data-txt="shange">19.05.2015 22:18</div>
                    <div class="sheet-col" data-txt="clinic">Больница заболеваний головного мозга при НИИ акупунктуры головы города Юньчэн</div>
                    <div class="sheet-col" data-txt="period">22.05.2016 - 22.07.2016</div>
                    <div class="sheet-col" data-txt="button">
                        <div class="sheet-btns">
                            <a class="sheet-btn btn-red js-shange-draft" role="button" title="Изменить черновик заявки"></a>
                            <a class="sheet-btn btn-del js-delete-draft" role="button" title="Удалить черновик заявки"></a>
                        </div>
                    </div>
                </div>
                <div class="sheet-row is-lighting" data-draft="47">
                    <div class="sheet-col" data-txt="create">12.05.2015</div>
                    <div class="sheet-col" data-txt="shange">15.05.2015 22:18</div>
                    <div class="sheet-col" data-txt="clinic">Вторая народная больница района Яньху города Юньчэн</div>
                    <div class="sheet-col" data-txt="period">22.05.2016 - 22.07.2016</div>
                    <div class="sheet-col" data-txt="button">
                        <div class="sheet-btns">
                            <a class="sheet-btn btn-red js-shange-draft" role="button" title="Изменить черновик заявки"></a>
                            <a class="sheet-btn btn-del js-delete-draft" role="button" title="Удалить черновик заявки"></a>
                        </div>
                    </div>
                </div>
                <div class="sheet-row is-lighting" data-draft="31">
                    <div class="sheet-col" data-txt="create">20.01.2015</div>
                    <div class="sheet-col" data-txt="shange">15.02.2015 22:18</div>
                    <div class="sheet-col" data-txt="clinic">Вторая народная больница района Яньху города Юньчэн</div>
                    <div class="sheet-col" data-txt="period">22.05.2016 - 22.07.2016</div>
                    <div class="sheet-col" data-txt="button">
                        <div class="sheet-btns">
                            <a class="sheet-btn btn-red js-shange-draft" role="button" title="Изменить черновик заявки"></a>
                            <a class="sheet-btn btn-del js-delete-draft" role="button" title="Удалить черновик заявки"></a>
                        </div>
                    </div>
                </div>
                <div class="sheet-row is-lighting" data-draft="24">
                    <div class="sheet-col" data-txt="create">06.05.2014</div>
                    <div class="sheet-col" data-txt="shange">08.07.2014 22:18</div>
                    <div class="sheet-col" data-txt="clinic">Больница заболеваний головного мозга при НИИ акупунктуры головы города Юньчэн</div>
                    <div class="sheet-col" data-txt="period">22.05.2016 - 22.07.2016</div>
                    <div class="sheet-col" data-txt="button">
                        <div class="sheet-btns">
                            <a class="sheet-btn btn-red js-shange-draft" role="button" title="Изменить черновик заявки"></a>
                            <a class="sheet-btn btn-del js-delete-draft" role="button" title="Удалить черновик заявки"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@<!-- END order-drafts-tab -->