@model Cure.WebSite.Models.ClientContainer

    <h4 class="forms-heading">
        Ваша заявка сформирована и готова к отправке. <br>
        Проверьте правильность внесенных данных.
    </h4>
    <div class="order-section" id="final">
        <div class="forms-note">
            Даты начала и окончания лечения вы сможете откорректировать в разделе “текущие заявки”.<br>
            После отправки заявки все изменения и дополнения производятся по электронной почте dministrator@dcp-china.ru или личным сообщением на сайте.<br>
            Ваша заявка будет доступна в личном кабинете (формат PDF), копия отправлена на почту.<br>
            Завка будет рассмотрена в течение 3 дней. Актуальная информация по статусу заявки доступна в разделе “текущая заявка”.
        </div>
    </div>
    <div id="error-step5" class="form-errors"></div>
    <div class="forms-line top-30">
        <input id="orderstep5next" class="btn btn-orang" type="button" value="ОТПРАВИТЬ">
        <input id="orderstep5back" class="btn btn-gray btn-back" data-move-to="4" type="button" value="Вернуться назад">
        <input id="orderstep5save" class="btn btn-gray" type="button" value="Отправить позже">
    </div>