<div class="content-tab js-tabs-item" id="order-current-tab">
    <!-- <div class="content-tab-empty">Заявок еще нет</div> -->
    <div class="orders-list">

        <div class="order-item">
            <div class="order-head">
                <h3 class="order-title">Заявка от 12.09.2016</h3>
                <div class="order-status">Проводится лечение</div>
            </div>
            <div class="order-body">
                <section class="order-section">
                    <h4 class="order-sec-title">Клиника</h4>
                    <div class="order-sec-text is-cllinic">Больница заболеваний головного мозга при НИИ акупунктуры головы города Юньчэн</div>
                </section>
                <section class="order-section">
                    <h4 class="order-sec-title">Период лечения</h4>
                    <div class="order-sec-text">23.11.2016 - 22.12.2016</div>
                </section>
            </div>
            <a class="order-link js-open-order" data-order="345" role="button" title="Открыть эту заявку"></a>
        </div><!-- END order-item -->

        <div class="order-item">
            <div class="order-head">
                <h3 class="order-title">Заявка от 12.09.2016</h3>
                <div class="order-status">Заявка принята</div>
            </div>
            <div class="order-body">
                <section class="order-section">
                    <h4 class="order-sec-title">Клиника</h4>
                    <div class="order-sec-text is-cllinic">Вторая народная больница района Яньху города Юньчэн</div>
                </section>
                <section class="order-section">
                    <h4 class="order-sec-title">Период лечения</h4>
                    <div class="order-sec-text">23.11.2016 - 22.12.2016</div>
                </section>
            </div>
            <a class="order-link js-open-order" data-order="120" role="button" title="Открыть эту заявку"></a>
        </div><!-- END order-item -->

        <div class="order-item">
            <div class="order-head">
                <h3 class="order-title">Заявка от 12.09.2016</h3>
                <div class="order-status">Заявка принята</div>
            </div>
            <div class="order-body">
                <section class="order-section">
                    <h4 class="order-sec-title">Клиника</h4>
                    <div class="order-sec-text is-cllinic">Вторая народная больница района Яньху города Юньчэн</div>
                </section>
                <section class="order-section">
                    <h4 class="order-sec-title">Период лечения</h4>
                    <div class="order-sec-text">23.11.2016 - 22.12.2016</div>
                </section>
            </div>
            <a class="order-link js-open-order" data-order="100" role="button" title="Открыть эту заявку"></a>
        </div><!-- END order-item -->

    </div><!-- END orders-list -->
</div><!-- END order-current-tab -->