@using System.Configuration
@using Cure.Utils
@using Cure.WebSite.Models
@model ChildVisualDetailed

@if (Model.OwnerUser == User.Identity.Name)
{
    <div class="comments-title">Новые впечатления:</div>
    @Html.Partial("_PostAdd", 0)
}
<div class="child-tab-wrap" id="js-for-load-feelings">
    @Html.Partial("_PostItems", Model)
</div>
<div class="all-pages-more child-tab-more">
    <div class="more-btn">
        <a class="btn btn-light has-loading js-load-more-feelings">Показать еще</a>
    </div>
</div>