@using System.Configuration
@using Cure.Utils
@model Cure.WebSite.Models.PostModel

<form>
    <div class="comments-addform-head">
        <div class="head-imgs">
            <img class="head-img" src="@Html.Raw(SiteUtils.GetMyUserpic(Server,
                                                           Session,
                                                           User.Identity.Name,
                                                           ConfigurationManager.AppSettings["PhotoLocation"],
                                                           ConfigurationManager.AppSettings["PhotoUrl"]))" alt="@Session["UserContactName"]" title="@Session["UserContactName"]">
        </div>
        <div class="head-txt">
            <div class="head-name">@Session["UserContactName"]</div>
        </div>
    </div>
    <div class="comments-addform-body">
        <textarea class="forms-text" placeholder="Ваше сообщение"></textarea>
        <input class="btn btn-orang" type="submit" value="ОТПРАВИТЬ">
        <div class="forms-file">
            <div class="forms-file-msg">Добавить фото</div>
            <input type="file">
        </div>
    </div>
</form>
