@using System.Collections
@using Cure.DataAccess
@using Cure.WebSite.Models
@{
    ViewBag.Title = "Мои файлы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main" role="main">
    <div class="container">
        @Html.Partial("_CabinetInfoLine", "Мои файлы")

        <div class="all-pages-body">
            <div class="content-wrap cabinet-my-files">
                @using (Html.BeginForm("Files", "Cabinet", FormMethod.Post, new
                {
                    @id = "formFiles",
                    enctype = "multipart/form-data"
                }))
                {
                    @*<div class="images-tile-add">
                        <div class="comments-addform">
                            <div class="comments-addform-body">
                                <div id="filesfileprogress">
                                </div>
                                <div class="forms-file">
                                    <div class="forms-file-msg">Загрузить новый файл</div>
                                    <input class="btn btn-orang" id="fileFilesUpload" name="fileFilesUpload" type="file">
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <div class="content-adaptive-sheet" id="user-files-list">
                        @if (ViewBag.MyFiles != null)
                        {
                            @Html.Partial("_FilesList", (IEnumerable<MyFileViewModel>)ViewBag.MyFiles)
                        }
                        else
                        {
                            <div class="content-tab-empty">Файлов пока нет</div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>

</div>
