
@{
    ViewBag.Title = "Где и как искать помощь";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main is-full-screen" role="main">
@Html.Partial("_FinanceMenu")

    <div class="all-pages-body price-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-content">
                        <h3>Где и как искать помощь</h3>
                        <p>
                            Иногда в жизни людей возникают такие ситуации, когда срочно требуется большая сумма денег. Если у вас в семье случилось несчастье, если здоровье под угрозой, следует принимать срочные меры и искать средства для проведения лечения. Благотворительной помощью занимаются объединения, союзы, фонды, цель которых - помогать нуждающимся. Эти благотворительные организации поддерживают богатые и успешные люди, звезды кино и эстрады, политики, крупные компании, фирмы и просто обычные люди. 
                        </p>
                        <p>
						Благотворительных фондов множество. Обращаться лучше сразу в несколько. Не получится с одним, получится с другим. Главное - не терять надежду и не сдаваться. Чтобы фонд одобрил благотворительную помощь именно вам, нужно вместе с письменной просьбой приложить необходимые документы и медицинские справки, как доказательство того, что вы и вправду нуждаетесь в материальной помощи. Ваше письмо в фонд должно быть максимально искренним и правдивым.
                        </p> 
						<p> 
						Обращение в фонд должно быть представлено в виде письма с описанием проблемы и с прямой просьбой. К письму должны прилагаться документы и медицинские справки, которые проходят проверки у квалифицированных врачей и экспертов. Последние, в свою очередь, делают заключение о том, что лечение действительно необходимо. Фонд оказывает помощь людям с разными диагнозами, но вероятность получить ее увеличивается, если диагноз попадает в одну из специальных программ фонда. После одобрения вашей просьбы фонд открывает сбор средств, которые переводом поступают на счет нуждающегося или на счет больницы.
						</p>
						

						



                    </div>
                </div>
              <!--   <div class="col-md-3 col-lg-offset-1">
                   <div class="side-nav">
                        <h4 class="side-nav-title">Консульские отделы и&nbsp;визовые центры</h4>
                        <h5 class="side-nav-subtitle">Россия</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="side-nav-list">
                                    <li><a href="#">Москва</a></li>
                                    <li><a href="#">Санкт-Петербург</a></li>
                                    <li><a href="#">Хабаровск</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="side-nav-list">
                                    <li><a href="#">Екатеринбург</a></li>
                                    <li><a href="#">Иркутск</a></li>
                                    <li><a href="#">Аккредитованный визовый центр стран Азии</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Украина</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Киев</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Беларусь</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Минск</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Казахстан</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Астана</a></li>
                                    <li><a href="#">Алматы</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Узбекистан</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Ташкент</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>

        </div><!-- END container -->
    </div><!-- END all-pages-body -->

</div><!-- END main -->

