
@{
    ViewBag.Title = "Наши партнеры";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main is-full-screen" role="main">
@Html.Partial("_FinanceMenu")

    <div class="all-pages-body price-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-content">
                        <h3>Список фондов</h3>
                        <p>Список благотворительных фондов, которые реально помогают лечить детей с ДЦП </p>
						<p>Условия предоставления помощи и сумма помощи могут отличаться в каждом конкретном случае. Цель данного раздела – дать людям, которым требуется помощь, ориентир по благотворительным фондам, которые реально могут помочь. </p>
						<p>Перечень фондов будет обновляться. </p>
<ul class="sec-procedure-list">
							<li>Фонд «Подари жизнь», http://www.podari-zhizn.ru/;</li>
							<li>Благотворительный фонд «Тепло сердец», http://www.teploserdec.ru/;</li>					
							<li>Благотворительный интернет-фонд «Помоги.Орг», http://www.pomogi.org/;</li>
							<li>Благодарение. Благотворительный фонд помощи детям-инвалидам,      http://www.blagodarenie.com/;</li>						
							<li>Дети Феникса. Благотворительный Фонд помощи детям инвалидам и их семьям http://www.deti-feniksa.ru/news.php;</li>
                            <li>Благотворительный фонд «Остров надежды» (Россия, г. Москва) http://www.hope-island.ru, тел. +7-916-77-67-000, +7-495-972-79-67 (Москва);</li>
							<li>Ein Herz Fur Kinder. Германия.  http://www.ein-herz-fuer-kinder.de;</li>				
							<li>Российский фонд помощи. (495) 926-3563 (т/ф); (495) 926-3565  с 11-00 до 20.00 мск. времени;</li>
							<li>МБФ «Ликар.инфонд». http://www.likarinfund.org;</li>						
							<li>Укрфонд – Украинский фонд помощи. http://ufond.ua;</li>
							<li>Украинские региональные благотворительные фонды. http://www.feldmanfund.org;</li>	
							<li>Благотворительный Фонд «Настенька», http://www.nastenka.ru/Rusver/index.php#;</li>
							<li>Благотворительный фонд «Калин фонд», http://www.kalinfund.ru/;</li>						
							<li>Благотворительный фонд «Жизнь», http://www.deti-life.ru/;</li>
							<li>Инициативная группа «Доноры детям», http://www.donors.ru/;</li>						
							<li>Благотворительный общественный фонд «Детские сердца», http://www.childrenshearts.ru/;</li>
							<li>Благотворительный фонд «АдВита»      http://advita.org/;</li>
							<li>Благотворительный фонд «Счастливый Мир»      http://www.hworldfund.ru/;</li>
							<li>Благотворительный фонд «Детская больница»      http://www.childhospital.ru/;</li>
							<li>Союз благотворительных организаций России      http://www.sbornet.ru/;</li>
							<li>Благотворительный фонд «Возрождение»      http://www.dom5.ru/;</li>
							<li>Британское благотворительное общество «Даунсайд Ап» http://www.downsideup.org/index.php;</li>
							<li>Российский Детский Фонд      http://www.detfond.org/;</li>
							<li>ЮНИСЕФ — Детский фонд ООН      http://www.unicef.ru/;</li>
							<li>Программа спасения тяжелобольных детей «Линия жизни»       http://www.life-line.ru/;</li>
							<li>Межрегиональный благотворительный Фонд Содействия реабилитации инвалидов «Преодоление»      http://www.preodolenie.ru/;</li>
							<li>Благотворительный фонд помощи детям „Дети Земли“      http://www.childrenofearth.org/site/;</li>
							<li>Благотворительный фонд «Социальная деревня СВЕТЛАЯ для людей с ограниченными возможностями здоровья«      http://svetlay-derevnya.ru/;</li>
														  
                        </ul>

 

                     
                       <!--  <div class="row">
                           <div class="col-md-4">
                                <p>
                                    Образец приглашения для пациента и сопровождающих
                                </p>
                                <img src="~/Content/images/temp/visa_1.jpg" alt="О визе" data-action="zoom">
                            </div>
                            <div class="col-md-4">
                                <p>
                                    Лицензия на осуществеление медицинской деятельности
                                </p>
                                <img src="~/Content/images/temp/visa_2.jpg" alt="О визе" data-action="zoom">
                            </div>
                            <div class="col-md-4">
                                <p>
                                    Можно написать в каком виде предоставляется прглашение
                                </p>
                                <img src="~/Content/images/temp/visa_3.jpg" alt="О визе" data-action="zoom">
                            </div>
                        </div> -->
                      
                    </div>
                </div>
             <!--   <div class="col-md-3 col-lg-offset-1">
                    <div class="side-nav">
                        <h4 class="side-nav-title">Консульские отделы и&nbsp;визовые центры</h4>
                        <h5 class="side-nav-subtitle">Россия</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="side-nav-list">
                                    <li><a href="#">Москва</a></li>
                                    <li><a href="#">Санкт-Петербург</a></li>
                                    <li><a href="#">Хабаровск</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="side-nav-list">
                                    <li><a href="#">Екатеринбург</a></li>
                                    <li><a href="#">Иркутск</a></li>
                                    <li><a href="#">Аккредитованный визовый центр стран Азии</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Украина</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Киев</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Беларусь</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Минск</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Казахстан</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Астана</a></li>
                                    <li><a href="#">Алматы</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Узбекистан</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Ташкент</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>

        </div><!-- END container -->
    </div><!-- END all-pages-body -->

</div><!-- END main -->

