
@{
    ViewBag.Title = "Наши партнеры";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main is-full-screen" role="main">
@Html.Partial("_FinanceMenu")

    <div class="all-pages-body price-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-content">
                        <h3>Список фондов</h3>
                        <p>Список благотворительных фондов, которые реально помогают лечить детей с ДЦП </p>
						<p>Условия предоставления помощи и сумма помощи могут отличаться в каждом конкретном случае. Цель данного раздела – дать людям, которым требуется помощь, ориентир по благотворительным фондам, которые реально могут помочь. </p>
						<p>Перечень фондов будет обновляться. </p>
						<h3>Россия</h3>
						<div class="row">
                         <div class="col-md-6">
							<ul>
                            <li><a href="http://www.podari-zhizn.ru/" target="_blank" >«Подари жизнь»</a></li>
                            <li><a href="http://bf-galchonok.ru/" target="_blank" >«Галчонок»</a></li>
							<li><a href="http://www.sharecare.ru/" target="_blank" >«Поделись теплом»</a></li>
							<li><a href="http://www.pomogi.org/" target="_blank" >«Помоги.Орг»</a></li>
							<li><a href="http://www.detfond.org/" target="_blank" >«Российский детский фонд»</a></li>
							<li><a href="http://fond-rd.ru" target="_blank" >«Радость детства»</a></li>
							<li><a href=" http://www.detskyfond.info/" target="_blank" >«Расправь крылья»</a></li>
							<li><a href="http://www.ein-herz-fuer-kinder.de/" target="_blank" >«Ein Herz Fur Kinder»</a></li>
							<li><a href="http://www.tvori-dobro.ru" target="_blank" >«Святое дело»</a></li>
							<li><a href="http://fond.detskiedomiki.ru/" target="_blank" >«Детские домики»</a></li>
							<li><a href="http://gizndet.ru/" target="_blank" >«Жизнь детям»</a></li>
							<li><a href="https://alpari-charity.ru/" target="_blank" >«Альпари»</a></li>
							<li><a href="http://aleshafond.ru/" target="_blank" >«Алёша»</a></li>
							<li><a href="http://fondvis.ru/" target="_blank" >«имени Сапрунова»</a></li>
							<li><a href="http://www.notiheart.ru/" target="_blank" >«Неравнодушные сердца»</a></li>
							<li><a href="http://svetlay-derevnya.ru" target="_blank" >«Социальная деревня "СВЕТЛАЯ"»</a></li>
							<li><a href="http://www.childrenofearth.org/site/" target="_blank" >«Дети Земли»</a></li>
							<li><a href="http://www.hworldfund.ru/" target="_blank" >«Счастливый Мир»</a></li>
							<li><a href="http://www.childhospital.ru/" target="_blank" >«Детская больница»</a></li>
							<li><a href="http://solncevladoshkah.ru" target="_blank" >«Солнце в ладошках»</a></li>
                                </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul>
                            <li><a href="http://www.nastenka.ru/" target="_blank" >«Настенька»</a></li>
							<li><a href="http://fnzs.ru/" target="_blank" >«Золотое Сечение»</a></li>
							<li><a href="http://bf-sozidanie.ru" target="_blank" >«Созидание»</a></li>
							<li><a href="http://rosspas.ru" target="_blank" >«Росспас»</a></li>
							<li><a href="http://pokrov-fond.ru" target="_blank" >«Покров»</a></li>
							<li><a href="http://raduga-omsk.ru" target="_blank" >«Радуга»</a></li>
							<li><a href="http://solidarnost.su" target="_blank" >«Солидарность»</a></li>
							<li><a href="http://www.rednoses.ru/" target="_blank" >«Красный нос»</a></li>
							<li><a href=" http://zakyatrt.ru/" target="_blank" >«Закят»</a></li>
							<li><a href="http://www.akbarssozidanie.ru/" target="_blank" >«Ак Барс Созидание»</a></li>
							<li><a href="http://www.hworldfund.ru" target="_blank" >«Счастливый мир»</a></li>
							<li><a href="http://www.deti-life.ru/" target="_blank" >«Жизнь»</a></li>
							<li><a href="http://www.donors.ru/" target="_blank" >«Доноры детям»</a></li>
							<li><a href="http://www.childrenshearts.ru/" target="_blank" >«Детские сердца»</a></li>
							<li><a href="http://advita.org/" target="_blank" >«АдВита»</a></li>
							<li><a href="http://www.life-line.ru/" target="_blank" >«Линия жизни»</a></li>
							<li><a href="http://www.sbornet.ru/" target="_blank" >«Союз благотворительных организаций России»</a></li>
							<li><a href="http://www.bfvozrozhdenie.ru" target="_blank" >«Возрождение»</a></li>
							<li><a href="http://www.downsideup.org/index.php" target="_blank" >«Даунсайд Ап»</a></li>
                                    </ul>
                                        </div>
                                    </div>
									<h3>Украина</h3>
									<div class="row">
									 <div class="col-md-6">
							<ul>
                            <li><a href="http://www.likarinfund.org" target="_blank" >МБФ «Ликар.инфонд»</a></li>
                           <!-- <li><a href="http://ufond.ua" target="_blank" >«Укрфонд»</a></li> -->
							
                                </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul>
                           <!-- <li><a href="http://www.feldmanfund.org" target="_blank" >«Украинские региональные благотворительные фонды»</a></li> -->
							                                         </ul>
                                        </div>
                                    </div>
									<h3>Казахстан</h3>
									<div class="row">
									 <div class="col-md-6">
							<ul>
                            <li><a href="http://www.detdom.kz/index.php?lang=rus" target="_blank" >«Милосердие»</a></li>
                           <!-- <li><a href="http://ufond.ua" target="_blank" >«Укрфонд»</a></li> -->
							
                                </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul>
                           <!-- <li><a href="http://www.feldmanfund.org" target="_blank" >«Украинские региональные благотворительные фонды»</a></li> -->
							                                         </ul>
                                        </div>
                                    </div>
                  

<!--
					   
					   <div class="row">
                           <div class="col-md-4">
                                <p>
                                    Образец приглашения для пациента и сопровождающих
                                </p>
                                <img src="~/Content/images/temp/visa_1.jpg" alt="О визе" data-action="zoom">
                            </div>
                            <div class="col-md-4">
                                <p>
                                    Лицензия на осуществеление медицинской деятельности
                                </p>
                                <img src="~/Content/images/temp/visa_2.jpg" alt="О визе" data-action="zoom">
                            </div>
                            <div class="col-md-4">
                                <p>
                                    Можно написать в каком виде предоставляется прглашение
                                </p>
                                <img src="~/Content/images/temp/visa_3.jpg" alt="О визе" data-action="zoom">
                            </div>
                        </div> -->
                      
                    </div>
                </div>
             <!--   <div class="col-md-3 col-lg-offset-1">
                    <div class="side-nav">
                        <h4 class="side-nav-title">Консульские отделы и&nbsp;визовые центры</h4>
                        <h5 class="side-nav-subtitle">Россия</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="side-nav-list">
                                    <li><a href="#">Москва</a></li>
                                    <li><a href="#">Санкт-Петербург</a></li>
                                    <li><a href="#">Хабаровск</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="side-nav-list">
                                    <li><a href="#">Екатеринбург</a></li>
                                    <li><a href="#">Иркутск</a></li>
                                    <li><a href="#">Аккредитованный визовый центр стран Азии</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Украина</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Киев</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Беларусь</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Минск</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Казахстан</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Астана</a></li>
                                    <li><a href="#">Алматы</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Узбекистан</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Ташкент</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>

        </div><!-- END container -->
    </div><!-- END all-pages-body -->

</div><!-- END main -->

