@{
    ViewBag.Title = "Где и как искать помощь";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main is-full-screen" role="main">
    @Html.Partial("_FinanceMenu")

    <div class="all-pages-body price-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-content">
                        <h3>Где и как искать помощь</h3>
                        <p>
                            Для въезда в Китайскую Народную Республику требуется виза, для оформления
                            которой необходимо обратиться в консульство или аккредитованный визовый центр.
                        </p>
                        <p>
                            Существует несколько видов виз, зависящих от цели поездки. Для лечения
                            подходит виза S2, выдаваемая на 180 дней с возможностью продления на
                            территории Китая. Возможен также въезд и по туристической визе L, но она
                            имеет ограничение 30 дней без возможности продления.
                        </p>
                        <img src="~/Content/images/temp/visa.jpg" alt="О визе">
                        <p>
                            С момента оформления визы, начинается коридор въезда - срок, в который вы
                            должны въехать на территорию Китая. Для визы S2 он составляет 30 суток.
                        </p>
                        <h3>Документы для получения визы</h3>
                        <p>
                            Список документов и требований для китайской визы может варироваться в
                            зависимомсти от гражданства заявителя и страны в которой подается запрос,
                            поэтому рекомендуем уточнять на официальных сайтах консульских отделов и
                            аккркдитованных визовых центров.
                        </p>
                        <p>
                            В любом случае вам понадобятся документы принимающей стороны (клиники):
                            приглашение на лечение и лицензия на медицинскую деятельность. Все необходимые
                            от принимающей стороны документы мы предоставим в процессе оформления завки
                            на лечения.
                        </p>
                        <div class="row">
                            <div class="col-md-4">
                                <p>
                                    Образец приглашения для пациента и сопровождающих
                                </p>
                                <img src="~/Content/images/temp/visa_1.jpg" alt="О визе" data-action="zoom">
                            </div>
                            <div class="col-md-4">
                                <p>
                                    Лицензия на осуществеление медицинской деятельности
                                </p>
                                <img src="~/Content/images/temp/visa_2.jpg" alt="О визе" data-action="zoom">
                            </div>
                            <div class="col-md-4">
                                <p>
                                    Можно написать в каком виде предоставляется прглашение
                                </p>
                                <img src="~/Content/images/temp/visa_3.jpg" alt="О визе" data-action="zoom">
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores dolores
                            labore natus nesciunt voluptatem, voluptates! Eos hic itaque libero molestias nostrum
                            sunt totam vero! Odio odit provident quo, rem sed sit suscipit. A alias fuga harum id
                            ipsum iusto minus, molestiae nihil perferendis quod ratione repellat reprehenderit totam
                            voluptas!
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet autem cumque delectus
                            facilis fugit in ipsum iusto magnam maxime necessitatibus, nesciunt placeat quibusdam
                            quidem sunt ullam. A aspernatur cumque delectus distinctio ipsa, iure labore magni
                            maiores necessitatibus officia placeat porro, possimus quasi quibusdam ratione
                            suscipit voluptatem! Beatae consectetur corporis culpa doloremque enim, exercitationem
                            ipsum iure odio provident quaerat quidem reiciendis sint soluta. Beatae, dolorem
                            repudiandae? Ab aliquid aperiam aut blanditiis corporis culpa distinctio doloremque
                            dolores ducimus enim excepturi expedita, inventore laboriosam laborum laudantium
                            libero nemo non nostrum possimus quae quam, quas qui reiciendis repellendus suscipit
                            tempora vero voluptas! Aliquid, culpa.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-lg-offset-1">
                    <div class="side-nav">
                        <h4 class="side-nav-title">Консульские отделы и&nbsp;визовые центры</h4>
                        <h5 class="side-nav-subtitle">Россия</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="side-nav-list">
                                    <li><a href="#">Москва</a></li>
                                    <li><a href="#">Санкт-Петербург</a></li>
                                    <li><a href="#">Хабаровск</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="side-nav-list">
                                    <li><a href="#">Екатеринбург</a></li>
                                    <li><a href="#">Иркутск</a></li>
                                    <li><a href="#">Аккредитованный визовый центр стран Азии</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Украина</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Киев</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Беларусь</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Минск</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Казахстан</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Астана</a></li>
                                    <li><a href="#">Алматы</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="side-nav-subtitle">Узбекистан</h5>
                                <ul class="side-nav-list">
                                    <li><a href="#">Ташкент</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Блок «Поделиться» от Яндекса-->
            <script type="text/javascript" src="http://yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
            <script type="text/javascript" src="http://yastatic.net/share2/share.js" charset="utf-8"></script>
            <div style="text-align: left;" class="gallery-share ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir" data-counter=""></div>

        </div><!-- END container -->
    </div><!-- END all-pages-body -->

</div><!-- END main -->
