@{
    ViewBag.Title = "Aceglutamide. Ацеглютамид, раствор для обколок и капельниц";
	ViewBag.Description = "Улучшает обмен веществ нейрона.  Увеличивает мозговую деятельность. Может способствовать повышению памяти.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main has-gray-bg is-full-screen">
    <div class="container">
        <div class="slimpage medicine-page">
            <a href="@Url.Action("Index", "Medicine")" class="page-close"></a>
            <div class="slimpage-nav medicine-page-nav">
                <a class="slimpage-prev" href="@Url.Action("Cerebrolysin", "Medicine")" title="Предыдущая статья"></a>
                <a class="slimpage-next" href="@Url.Action("Sodium", "Medicine")" title="Следующая статья"></a>
            </div>
            <div class="slimpage-head">
                <div class="slimpage-head-img">
                    <img src="~/Content/images/medicine/m7.png" alt="Ацеглютамид">
                </div>
                <div class="slimpage-head-txt">
                    <h1 class="slimpage-head-title">Ацеглютамид, раствор для инъекций (Aceglutamide (Aceglutamine) Injection)</h1>
                    <div class="slimpage-head-china">乙酰谷酰胺</div>
                    <div class="slimpage-head-note">
                        Улучшает обмен веществ нейрона.  Увеличивает мозговую деятельность. Может способствовать повышению памяти.
                    </div>
                </div>
            </div>
            <div class="slimpage-body">
                <div class="user-content">
                    <p>
                       Улучшение нервных клеток, обмена веществ, поддержания нервных напряжений, способность. Снижает в крови уровень амиака, и может пройти гематоэнцефалический барьер в мозг.
                    </p>
                    <p>
                       Главным образом используется для стимулирования нервных окончаний.
                    </p>
                </div>
                <ul class="medicament-params">
                    <li>
                        <div class="param-name">Состав:</div>
                        <div class="param-text"> Ацеглютамид (основной компонент). Гидроксид натрия, вода для инъекций (вспомогательные компоненты).</div>
                    </li>
                    <li>
                        <div class="param-name">Способ применения:</div>
                        <div class="param-text">Обколки</div>
                    </li>
                    <li>
                        <div class="param-name">Показания:</div>
                        <div class="param-text">Печеночная кома, церебральный паралич. Кома, паралич, сниженная психическая деятельность, расстройство памяти, вызванные нейрохирургическими операциями..</div>
                    </li>
                    <li>
                        <div class="param-name">Хранение:</div>
                        <div class="param-text">В темном сухом мете при темепературе не выше +20&deg;С</div>
                    </li>
                </ul>
            </div>

        </div><!-- END slimpage/medicine-page -->
    </div><!-- END container -->
</div>