@{
    ViewBag.Title = "Anisodine, раствор для инъекций анисодина гидробромида";
	ViewBag.Description = "Увеличивает приток крови, улучшают кровоснабжение, способствуюет быстрому восстановлению ишемической ткани,  снимает спазм сосудов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main has-gray-bg is-full-screen">
    <div class="container">
        <div class="slimpage medicine-page">
            <a href="@Url.Action("Index", "Medicine")" class="page-close"></a>
            <div class="slimpage-nav medicine-page-nav">
                <a class="slimpage-prev" href="@Url.Action("Sodium", "Medicine")" title="Предыдущая статья"></a>
                <a class="slimpage-next" href="@Url.Action("Mouse", "Medicine")" title="Следующая статья"></a>
            </div>
            <div class="slimpage-head">
                <div class="slimpage-head-img">
                    <img src="~/Content/images/medicine/m4.png" alt="Анисодина">
                </div>
                <div class="slimpage-head-txt">
                    <h1 class="slimpage-head-title">Комплексный раствор для инъекций анисодина гидробромида (Compound Anisodine Hydrobromide Injection)</h1>
                    <div class="slimpage-head-china">复方樟柳碱注射液</div>
                    <div class="slimpage-head-note">
                        Увеличивает приток крови, улучшают кровоснабжение, способствуюет быстрому восстановлению ишемической ткани.
                    </div>
                </div>
            </div>
            <div class="slimpage-body">
                <div class="user-content">
                    <p>
                        Исследования в области первичной и вторичной глазной ишемии и сосудистой окклюзионной глазной ишемии
показали, что: этот препарат может ускорить восстановление вазоактивных веществ на нормальный уровень в ишемической области глаза, снимает спазм сосудов, поддерживает нормальное давление диастолической и систолической функции сосудов хориоидеи, увеличить приток крови, улучшают кровоснабжение, способствуют быстрому восстановление ишемической ткани.
                    </p>
                    
                </div>
                <ul class="medicament-params">
                    <li>
                        <div class="param-name">Состав:</div>
                        <div class="param-text">Сложный препарат, включающий в состав анисодин (anisodine hydrobromide) 0.2 мг и хлористоводородный прокаин 20 мг. Вспомогательный компонент: хлористый натрий.</div>
                    </li>
                    <li>
                        <div class="param-name">Способ применения:</div>
                        <div class="param-text">Обколки</div>
                    </li>
                    <li>
                        <div class="param-name">Показания:</div>
                        <div class="param-text">Ишемические заболевания сетчатки, зрительного нерва и сосудистой оболочки глаза. Лечение амблиопии, страбизма, атрофии зрительного нерва.</div>
                    </li>
                    <li>
                        <div class="param-name">Хранение:</div>
                        <div class="param-text">В темном сухом мете при темепературе не выше +30&deg;С</div>
                    </li>
                </ul>
            </div>

        </div><!-- END slimpage/medicine-page -->
    </div><!-- END container -->
</div>