@{
    ViewBag.Title = "Cerebroside, Цереброзид-Карнозин раствор для инъекций";
	ViewBag.Description = "Лечение апоплексии мозга, гипоксически-ишемической энцефалопатии новорожденных, черепно-мозговых травм, повреждений спинного мозга";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main has-gray-bg is-full-screen">
    <div class="container">
        <div class="slimpage medicine-page">
            <a href="@Url.Action("Index", "Medicine")" class="page-close"></a>
            <div class="slimpage-nav medicine-page-nav">
                <a class="slimpage-prev" href="@Url.Action("Ganoderma", "Medicine")" title="Предыдущая статья"></a>
                <a class="slimpage-next" href="@Url.Action("Musk", "Medicine")" title="Следующая статья"></a>
            </div>
            <div class="slimpage-head">
                <div class="slimpage-head-img">
                    <img src="~/Content/images/medicine/medicament_descr.jpg" alt="Цереброзид-Карнозин">
                </div>
                <div class="slimpage-head-txt">
                    <h1 class="slimpage-head-title">Цереброзид-Карнозин, раствор для инъекций (Cerebroside-Carnosine Injection)</h1>
                    <div class="slimpage-head-china">复方脑肽节苷脂注射液</div>
                    <div class="slimpage-head-note">
                      Лечение апоплексии мозга, старческого маразма, гипоксически-ишемической энцефалопатии новорожденных
                    </div>
                </div>
            </div>
            <div class="slimpage-body">
                <div class="user-content">
                    <p>
                        Лечение апоплексии мозга, старческого маразма, гипоксически-ишемической энцефалопатии новорожденных, черепно-мозговых травм, повреждений спинного мозга, а также повреждений центральной нервной системы, вызванных другими причинами. 
                    </p>
                    <p>
                        Также применяется для лечения повреждений периферических нервов, вызванных травмами, диабетической периферической нейропатией, компрессионной нейропатией и других повреждений периферической нервной системы.
                    </p>
                </div>
                <ul class="medicament-params">
                    <li>
                        <div class="param-name">Состав:</div>
                        <div class="param-text">Многокомпонентный препарат, включающий в состав стерильный водный раствор, содержащий вещества, полученные из мышечных тканей здоровых кроликов, а также ганглиозиды, выделенные из бычьего мозга. Основные компоненты: полипептиды, различные виды ганглиозидов, свободные аминокислоты, нуклеиновые кислоты.</div>
                    </li>
                    <li>
                        <div class="param-name">Способ применения:</div>
                        <div class="param-text">Обколки</div>
                    </li>
                    <li>
                        <div class="param-name">Показания:</div>
                        <div class="param-text">Детский церебральный паралич, эпилепсия, последствия травм.</div>
                    </li>
                    <li>
                        <div class="param-name">Хранение:</div>
                        <div class="param-text">В темном сухом мете при темепературе не выше +20&deg;С</div>
                    </li>
                </ul>
            </div>

        </div><!-- END slimpage/medicine-page -->
    </div><!-- END container -->
</div>