@{
    ViewBag.Title = "Cerebrolysin, церебролизин, раствор для инъекций";
	ViewBag.Description = "Оказывает положительное влияние при нарушениях познавательных функций, улучшает концентрацию внимания, процессы запоминания.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main has-gray-bg is-full-screen">
    <div class="container">
        <div class="slimpage medicine-page">
            <a href="@Url.Action("Index", "Medicine")" class="page-close"></a>
            <div class="slimpage-nav medicine-page-nav">
                <a class="slimpage-prev" href="@Url.Action("Oxiracetam", "Medicine")" title="Предыдущая статья"></a>
                <a class="slimpage-next" href="@Url.Action("Aceglutamide", "Medicine")" title="Следующая статья"></a>
            </div>
            <div class="slimpage-head">
                <div class="slimpage-head-img">
                    <img src="~/Content/images/medicine/medicament_descr.jpg" alt="Церебролизин">
                </div>
                <div class="slimpage-head-txt">
                    <h1 class="slimpage-head-title">Церебролизин, раствор для инъекций (Cerebrolysin Injection)</h1>
                    <div class="slimpage-head-china">复方麝香注射液</div>
                    <div class="slimpage-head-note">
                        Оказывает положительное влияние при нарушениях познавательных функций, улучшает концентрацию внимания, процессы запоминания.
                    </div>
                </div>
            </div>
            <div class="slimpage-body">
                <div class="user-content">
                    <p>
                        Церебролизин содержит низкомолекулярные биологически активные нейропептиды, которые проникают через гематоэнцефалический барьер и непосредственно поступают к нервным клеткам. Препарат обладает органоспецифическим мультимодальным действием на головной мозг, т.е. обеспечивает метаболическую регуляцию, нейропротекцию, функциональную нейромодуляцию и нейротрофическую активность. 
                    </p>
                    <p>
                       Функциональная нейромодуляция: препарат оказывает положительное влияние при нарушениях познавательных функций, улучшает концентрацию внимания, процессы запоминания. 
                    </p>
                </div>
                <ul class="medicament-params">
                    <li>
                        <div class="param-name">Состав:</div>
                        <div class="param-text">Стерильный препарат, полученный путем очищения вещества из тканей свиного мозга. Содержит 16 видов свободных аминокислот, а также небольшое количество пептидов.</div>
                    </li>
                    <li>
                        <div class="param-name">Способ применения:</div>
                        <div class="param-text">Обколки</div>
                    </li>
                    <li>
                        <div class="param-name">Показания:</div>
                        <div class="param-text">черепно-мозговые травмы, осложнения, вызванные нарушением мозгового кровообращения с такими сопутствующими симптомами, как ухудшение памяти и нарушение концентрации внимания.</div>
                    </li>
                    <li>
                        <div class="param-name">Хранение:</div>
                        <div class="param-text">В темном сухом мете при темепературе не выше +20&deg;С</div>
                    </li>
                </ul>
            </div>

        </div><!-- END slimpage/medicine-page -->
    </div><!-- END container -->
</div>