@{
    ViewBag.Title = "Ganoderma, Гликопептид ганодермы (Бочжи)";
	ViewBag.Description = "Применяется при прогрессирующей мышечной дистрофии, миотонической дистрофии, дисфункциях вестибулярного аппарата, эпилепсии, бессонице";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main has-gray-bg is-full-screen">
    <div class="container">
        <div class="slimpage medicine-page">
            <a href="@Url.Action("Index", "Medicine")" class="page-close"></a>
            <div class="slimpage-nav medicine-page-nav">
                <a class="slimpage-prev" href="@Url.Action("Ocular", "Medicine")" title="Предыдущая статья"></a>
                <a class="slimpage-next" href="@Url.Action("Cerebroside", "Medicine")" title="Следующая статья"></a>
            </div>
            <div class="slimpage-head">
                <div class="slimpage-head-img">
                    <img src="~/Content/images/medicine/m3.png" alt="Гликопептид ганодермы (Бочжи)">
                </div>
                <div class="slimpage-head-txt">
                    <h1 class="slimpage-head-title">Гликопептид ганодермы (Бочжи), раствор для инъекций (Ganoderma capense Glycopeptide Injection)</h1>
                    <div class="slimpage-head-china">薄芝糖肽注射液</div>
                    <div class="slimpage-head-note">
                        Мощный иммуностимулятор, регулятор сердечно - сосудистой системы,
                        стимулятор процессов заживления.
                    </div>
                </div>
            </div>
            <div class="slimpage-body">
                <div class="user-content">
                    <p>
                        Применяется при прогрессирующей мышечной дистрофии, миотонической дистрофии, дисфункциях вестибулярного аппарата, эпилепсии, бессонице.
                    </p>
                    <p>
                       Применяется для нормализации обмена веществ в тканях головного мозга. Препарат регулируют в организме иммунную функцию. Способствует защите организма от инфекций. Обладает антиоксидантной, очисткой свободных радикалов кислорода, кроме того, содействует нуклеиновой кислоте в  биосинтезе белка.
                    </p>
                </div>
                <ul class="medicament-params">
                    <li>
                        <div class="param-name">Состав:</div>
                        <div class="param-text">С1 Ganoderma, Ganoderma capense (Lloyd), специальный стерильный водный экстракт полученный путем брожения сухого мицелия.</div>
                    </li>
                    <li>
                        <div class="param-name">Способ применения:</div>
                        <div class="param-text">Обколки</div>
                    </li>
                    <li>
                        <div class="param-name">Показания:</div>
                        <div class="param-text">Головокружение, неврастения, мышечная дистрофия, атрофическия миотония, вестибулярная дисфункция, гипертензии вызванные неврологическими дисфункциями, эпилепсия, бессонница. Может быть использован при лечении рака, воспаление печени.</div>
                    </li>
                    <li>
                        <div class="param-name">Хранение:</div>
                        <div class="param-text">В темном сухом мете при темепературе не выше +20&deg;С</div>
                    </li>
                </ul>
            </div>

        </div><!-- END slimpage/medicine-page -->
    </div><!-- END container -->
</div>