@{
    ViewBag.Title = "Human";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main has-gray-bg is-full-screen">
    <div class="container">
        <div class="slimpage medicine-page">
            <a href="@Url.Action("Index", "Medicine")" class="page-close"></a>
            <div class="slimpage-nav medicine-page-nav">
                <a class="slimpage-prev" href="@Url.Action("Musk", "Medicine")" title="Предыдущая статья"></a>
                <a class="slimpage-next" href="@Url.Action("Oxiracetam", "Medicine")" title="Следующая статья"></a>
            </div>
            <div class="slimpage-head">
                <div class="slimpage-head-img">
                    <img src="~/Content/images/medicine/m5.png" alt="Плацента">
                </div>
                <div class="slimpage-head-txt">
                    <h1 class="slimpage-head-title">Гидролизат человеческой плаценты (Human Placenta Hydrolysate)</h1>
                    <div class="slimpage-head-china">人胎盘组织液</div>
                    <div class="slimpage-head-note">
                        Повышает иммунитет и обладает десенсибилизирующим действием к влиянию внешних факторов на организм человека.
                    </div>
                </div>
            </div>
            <div class="slimpage-body">
                <div class="user-content">
                    <p>
                        Обладает свойством замедления старения, питает кожу и придает красоту, повышает иммунитет, устраняет свободные радикалы, восстанавливает повреждённые клетки, ускоряет метаболизм, снижает липиды в крови, оказывает противовоспалительное и антиаллергическое действие.
                    </p>
                   
                    </div>
                <ul class="medicament-params">
                    <li>
                        <div class="param-name">Состав:</div>
                        <div class="param-text">вещество, полученное путем кислотного гидролиза человеческой плаценты.</div>
                    </li>
                    <li>
                        <div class="param-name">Способ применения:</div>
                        <div class="param-text">Обколки</div>
                    </li>
                    <li>
                        <div class="param-name">Показания:</div>
                        <div class="param-text">Некоторые хронические воспалительные заболевания в гинекологии и дерматологии, послеоперационные спайки, рубцовая контрактура, трахеит и другие хронические воспалительные заболевания. </div>
                    </li>
                    <li>
                        <div class="param-name">Хранение:</div>
                        <div class="param-text">В темном сухом мете при темепературе не выше +20&deg;С</div>
                    </li>
                </ul>
            </div>

        </div><!-- END slimpage/medicine-page -->
    </div><!-- END container -->
</div>