
@{
    ViewBag.Title = "Препараты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main has-gray-bg is-full-screen">
    <div class="container">
        <div class="all-pages-head medicine-head">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="medicine-head-links">
                        <li><h1><span>Препараты</span></h1></li>
                        <li><a href="@Url.Action("Index", "Procedure")"><span>Процедуры</span></a></li>
                    </ul>
                    <div class="medicine-subtitle">
                        Китайская медицина и фармакология лекарственных средств это мощная составная часть великолепной культуры китайского народа
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="medicine-head-prop">
                        <div class="prop-icon">
                            <img src="~/Content/images/medicine/prop-icon_1.png" alt="Препараты, изготовленные в Китае">
                        </div>
                        <div class="prop-text">
                            Китайские препараты, которые много веков проверялись, а также использовались китайскими врачами и целителями, мягко и эффективно помогают устранить проблемы со здоровьем, благодаря восстановлению внутреннего баланса всего организма в целом. При всем этом китайские лекарства не имеют побочных эффектов, так как созданы исключительно из натуральных природных компонентов. Все китайские препараты имеют уникальный оздоравливающий лечебный эффект.
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- END all-pages-head -->
    </div><!-- END container -->

    <div class="all-pages-body">
        <div class="medicine-body" id="js-for-load-medicaments">
            <div class="container">

                <div class="row medicament-row">
                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="#">
                                <img src="~/Content/images/medicine/medicament_1.jpg" alt="Фактор роста нервов мыши">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="#">Мышиный нервный ростовой фактор, раствор для инъекций (Mouse Nerve Growth Factor Injection)</a>
                            </h3>
                            <div class="medicament-china">注射用鼠神经生长因子</div>
                            <div class="medicament-note">
                                Стимулирует рост нервных клеток. Вводится посредством точечных инъекций  (обколок).
                            </div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="#">Подробнее</a>
                        </div>
                    </div><!-- END medicament -->

                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="#">
                                <img src="~/Content/images/medicine/medicament_2.jpg" alt="Свободные аминокислоты и пептиды из крови телят">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="#">
                                    Свободные аминокислоты，пептиды， нуклеозиды для иньекций
                                    (Muscular Amino Acids and Peptides and Nucleosides Injection)
                                </a>
                            </h3>
                            <div class="medicament-china">肌氨肽苷注射液</div>
                            <div class="medicament-note">
                                Улучшает кровообращение мозга и состояние функций нервной системы
                            </div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="#">Подробнее</a>
                        </div>
                    </div><!-- END medicament -->
                </div>

                <div class="row medicament-row">
                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="#">
                                <img src="~/Content/images/medicine/medicament_3.jpg" alt="Инъекции для глаз">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="#">Инъекции для глаз (Ocular Extractives Injection)</a>
                            </h3>
                            <div class="medicament-china">眼氨肽注射液</div>
                            <div class="medicament-note">
                                Стимулирует обмен веществ глаза и способствует восстановлению верхней оболочки глаза.
                            </div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="#">Подробнее</a>
                        </div>
                    </div><!-- END medicament -->

                    <div class="col-md-6 medicine-unit medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="#">
                                <img src="~/Content/images/medicine/medicament_4.jpg" alt="Боджи">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="#">Боджи (Bozhi Glycopeptide Injection)</a>
                            </h3>
                            <div class="medicament-china">薄芝糖肽注射液</div>
                            <div class="medicament-note">
                                Применяется для нормализации обмена веществ в тканях головного мозга.
                            </div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="#">Подробнее</a>
                        </div>
                    </div><!-- END medicament -->
                </div>

                <div class="row medicament-row">
                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="#">
                                <img src="~/Content/images/medicine/medicament_5.jpg" alt="Мускус">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="#">Мускус (Fufang Shexiang Zhusheye)</a>
                            </h3>
                            <div class="medicament-china">复方麝香注射液</div>
                            <div class="medicament-note">
                                Мощный иммуностимулятор, регулятор сердечно - сосудистой системы,
                                стимулятор процессов заживления, средство для восстановления нервной системы.
                            </div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="#">Подробнее</a>
                        </div>
                    </div><!-- END medicament -->

                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="#">
                                <img src="~/Content/images/medicine/medicament_2.jpg" alt="Ацеглютамид">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="#">Ацеглютамид</a>
                            </h3>
                            <div class="medicament-china">乙酰谷酰胺注射液</div>
                            <div class="medicament-note">
                                Нормализует обмен веществ нейрона. Стимулирует мозговую деятельность и
                                может способствовать улучшению памяти.
                            </div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="#">Подробнее</a>
                        </div>
                    </div><!-- END medicament -->
                </div><!-- END row -->

                <div class="row medicament-row">
                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="#">
                                <img src="~/Content/images/medicine/medicament_5.jpg" alt="Мускус">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="#">Мускус</a>
                            </h3>
                            <div class="medicament-china">复方麝香注射液</div>
                            <div class="medicament-note">
                                Мощный иммуностимулятор, регулятор сердечно - сосудистой системы,
                                стимулятор процессов заживления, средство для восстановления нервной системы.
                            </div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="#">Подробнее</a>
                        </div>
                    </div><!-- END medicament -->

                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="#">
                                <img src="~/Content/images/medicine/medicament_2.jpg" alt="Ацеглютамид">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="#">Ацеглютамид</a>
                            </h3>
                            <div class="medicament-china">乙酰谷酰胺注射液</div>
                            <div class="medicament-note">
                                Нормализует обмен веществ нейрона. Стимулирует мозговую деятельность и
                                может способствовать улучшению памяти.
                            </div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="#">Подробнее</a>
                        </div>
                    </div><!-- END medicament -->
                </div><!-- END row -->

                <div class="row medicament-row">
                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="#">
                                <img src="~/Content/images/medicine/medicament_5.jpg" alt="Мускус">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="#">Мускус</a>
                            </h3>
                            <div class="medicament-china">复方麝香注射液</div>
                            <div class="medicament-note">
                                Мощный иммуностимулятор, регулятор сердечно - сосудистой системы,
                                стимулятор процессов заживления, средство для восстановления нервной системы.
                            </div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="#">Подробнее</a>
                        </div>
                    </div><!-- END medicament -->

                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="#">
                                <img src="~/Content/images/medicine/medicament_2.jpg" alt="Ацеглютамид">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="#">Ацеглютамид</a>
                            </h3>
                            <div class="medicament-china">乙酰谷酰胺注射液</div>
                            <div class="medicament-note">
                                Нормализует обмен веществ нейрона. Стимулирует мозговую деятельность и
                                может способствовать улучшению памяти.
                            </div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="#">Подробнее</a>
                        </div>
                    </div><!-- END medicament -->
                </div><!-- END row -->

                <div class="row medicament-row">
                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="#">
                                <img src="~/Content/images/medicine/medicament_5.jpg" alt="Мускус">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="#">Мускус</a>
                            </h3>
                            <div class="medicament-china">复方麝香注射液</div>
                            <div class="medicament-note">
                                Мощный иммуностимулятор, регулятор сердечно - сосудистой системы,
                                стимулятор процессов заживления, средство для восстановления нервной системы.
                            </div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="#">Подробнее</a>
                        </div>
                    </div><!-- END medicament -->

                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="#">
                                <img src="~/Content/images/medicine/medicament_2.jpg" alt="Ацеглютамид">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="#">Ацеглютамид</a>
                            </h3>
                            <div class="medicament-china">乙酰谷酰胺注射液</div>
                            <div class="medicament-note">
                                Нормализует обмен веществ нейрона. Стимулирует мозговую деятельность и
                                может способствовать улучшению памяти.
                            </div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="#">Подробнее</a>
                        </div>
                    </div><!-- END medicament -->
                </div><!-- END row -->

                <div class="row medicament-row">
                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="#">
                                <img src="~/Content/images/medicine/medicament_5.jpg" alt="Мускус">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="#">Мускус</a>
                            </h3>
                            <div class="medicament-china">复方麝香注射液</div>
                            <div class="medicament-note">
                                Мощный иммуностимулятор, регулятор сердечно - сосудистой системы,
                                стимулятор процессов заживления, средство для восстановления нервной системы.
                            </div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="#">Подробнее</a>
                        </div>
                    </div><!-- END medicament -->

                    <div class="col-md-6 medicament js-ajax-for-count">
                        <div class="medicament-img">
                            <a href="#">
                                <img src="~/Content/images/medicine/medicament_2.jpg" alt="Ацеглютамид">
                            </a>
                        </div>
                        <div class="medicament-txt">
                            <h3 class="medicament-title">
                                <a href="#">Ацеглютамид</a>
                            </h3>
                            <div class="medicament-china">乙酰谷酰胺注射液</div>
                            <div class="medicament-note">
                                Нормализует обмен веществ нейрона. Стимулирует мозговую деятельность и
                                может способствовать улучшению памяти.
                            </div>
                        </div>
                        <div class="medicament-btm">
                            <a class="btn btn-light" href="#">Подробнее</a>
                        </div>
                    </div><!-- END medicament -->
                </div><!-- END row -->

            </div><!-- END container -->
        </div><!-- END medicine -->

        <div class="all-pages-more testimonials-more">
            <div class="more-title">
                Позаканы <span id="more-count">4</span> из <span id="more-all">35</span>
            </div>
            <div class="more-btn">
                <a class="btn btn-light has-loading js-load-more-medicaments">загрузить еще</a>
            </div>
        </div>

    </div><!-- END all-pages-body -->


</div><!-- END main -->