@{
    ViewBag.Title = "Methylcobalamin, Метилкобаламин для инъекций";
	ViewBag.Description = "Пациенты начинают постепенно осознавать все вокруг себя, начинают говорить. Максимальный эффект достигается после 18-24 месяцев непрерывного приема препарата.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main has-gray-bg is-full-screen">
    <div class="container">
        <div class="slimpage medicine-page">
            <a href="@Url.Action("Index", "Medicine")" class="page-close"></a>
            <div class="slimpage-nav medicine-page-nav">
                <a class="slimpage-prev" href="@Url.Action("Mouse", "Medicine")" title="Предыдущая статья"></a>
                <a class="slimpage-next" href="@Url.Action("Ocular", "Medicine")" title="Следующая статья"></a>
            </div>
            <div class="slimpage-head">
                <div class="slimpage-head-img">
                    <img src="~/Content/images/medicine/m2.png" alt="Метилкобаламин">
                </div>
                <div class="slimpage-head-txt">
                    <h1 class="slimpage-head-title">Метилкобаламин, раствор для инъекций (Methylcobalamin Injection)</h1>
                    <div class="slimpage-head-china">注射用甲钴胺</div>
                    <div class="slimpage-head-note">
                        Заболевания периферической нервной системы, макроцитарная анемия, вызванная недостатком витамина В12. Способствует миелинизации нервных волокон, повышая концентрацию внимания.
                    </div>
                </div>
            </div>
            <div class="slimpage-body">
                <div class="user-content">
                    <p>
                        После курса метилкобаламин (метил-В12) пациенты начинают постепенно осознавать все вокруг себя, начинают говорить, начинают действовать подобно другим детям. Максимальный эффект достигается после 18-24 месяцев непрерывного приема препарата.
                    </p>
                    <p>
                        В Китае широко используется для лечения дцп в виде подкожных инъекций, чаще в ягодичную часть мышцы.
                    </p>
                </div>
                <ul class="medicament-params">
                    <li>
                        <div class="param-name">Состав:</div>
                        <div class="param-text">метилкобаламин   Вспомогательное вещество: маннитол.</div>
                    </li>
                    <li>
                        <div class="param-name">Способ применения:</div>
                        <div class="param-text">Инъекция.</div>
                    </li>
                    <li>
                        <div class="param-name">Показания:</div>
                        <div class="param-text">Детский церебральный паралич, задержка умственного развития, психические заболевания, аутизм.</div>
                    </li>
                    <li>
                        <div class="param-name">Хранение:</div>
                        <div class="param-text">В темном сухом мете при темепературе от +10 до  +30&deg;С.</div>
                    </li>
                </ul>
            </div>

        </div><!-- END slimpage/medicine-page -->
    </div><!-- END container -->
</div>