@{
    ViewBag.Title = "Mouse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main has-gray-bg is-full-screen">
    <div class="container">
        <div class="slimpage medicine-page">
            <a href="@Url.Action("Index", "Medicine")" class="page-close"></a>
            <div class="slimpage-nav medicine-page-nav">
                <a class="slimpage-prev" href="@Url.Action("Anisodine", "Medicine")" title="Предыдущая статья"></a>
                <a class="slimpage-next" href="@Url.Action("Methylcobalamin", "Medicine")" title="Следующая статья"></a>
            </div>
            <div class="slimpage-head">
                <div class="slimpage-head-img">
                    <img src="~/Content/images/medicine/m6.png" alt="Мышиный нервный ростовой фактор">
                </div>
                <div class="slimpage-head-txt">
                    <h1 class="slimpage-head-title">Мышиный нервный ростовой фактор, раствор для инъекций (Mouse Nerve Growth Factor Injection)</h1>
                    <div class="slimpage-head-china">注射用鼠神经生长因子</div>
                    <div class="slimpage-head-note">
                       Стимулирует рост нервных клеток. Вводится посредством точечных инъекций  (обколок).
                    </div>
                </div>
            </div>
            <div class="slimpage-body">
                <div class="user-content">
                   
		                </div>
                <ul class="medicament-params">
                    <li>
                        <div class="param-name">Состав</div>
                        <div class="param-text">Очищенный нервный ростовой фактор, полученный из мышиной подчелюстной железы. В качестве протективных агентов содержит 5% маннитол и 0.1% сывороточный альбумин человека.</div>
                    </li>
                    <li>
                        <div class="param-name">Способ применения</div>
                        <div class="param-text">Фармакопунктура или обкалывание биологически активных точек (БАТ), внутримышечно</div>
                    </li>
                    <li>
                        <div class="param-name">Показания</div>
                        <div class="param-text">Заболевания периферической нервной системы, вызванные интоксикацией Н-гексаном, церебральный паралич, отставание в умственном развитии. Оказывает действие, способствуя восстановлению повреждённых нервов</div>
                    </li>
                    <li>
                        <div class="param-name">Хранение</div>
                        <div class="param-text">В темном сухом месте при темепературе от +2 до +8&deg;С</div>
                    </li>
                </ul>
			
				<div class="param-name">Описание</div>
				<p>
						Фактор роста нервов мыши широко применяеться в Китае для лечения неврологических заболеваний. В европейских и американских исследованиях этот препарат имел большой успех. В эксперементах на тканях in vitro и очень ограниченный эффект в клинических исследованиях  in vivo. 
						</p>
						<p>
						Относительную неэффективность препарата в клинических исследованиях сейчас объясняют трудностью доведения препарата до проблемной зоны. Молекулы фатора ростов нервов мыши очень большие и не могут проходить далеко сквозь ткани. При внутривенном введении препарат не попадает в мозг. Поэтому основной методикой приминения препарата в Китае стали локальные и точечные иньекции для лечения проблем периферической нервной системы.
                 </p>   
				 
            </div>
			

        </div><!-- END slimpage/medicine-page -->
    </div><!-- END container -->
</div>