@{
    ViewBag.Title = "Ocular Aminopeptide, Глазные аминопептиды ";
	ViewBag.Description = "Чтобы повысить обмен веществ в тканях глаз, рассасывание воспалительного экссудата, и может способствовать регенерации тканей эпителия роговицы.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main has-gray-bg is-full-screen">
    <div class="container">
        <div class="slimpage medicine-page">
            <a href="@Url.Action("Index", "Medicine")" class="page-close"></a>
            <div class="slimpage-nav medicine-page-nav">
                <a class="slimpage-prev" href="@Url.Action("Methylcobalamin", "Medicine")" title="Предыдущая статья"></a>
                <a class="slimpage-next" href="@Url.Action("Ganoderma", "Medicine")" title="Следующая статья"></a>
            </div>
            <div class="slimpage-head">
                <div class="slimpage-head-img">
                    <img src="~/Content/images/medicine/m9.png" alt="Глазные аминопептиды, раствор для инъекций (Ocular Aminopeptide Injection)">
                </div>
                <div class="slimpage-head-txt">
                    <h1 class="slimpage-head-title">Глазные аминопептиды, раствор для инъекций (Ocular Aminopeptide Injection)</h1>
                    <div class="slimpage-head-china">眼氨肽注射液</div>
                    <div class="slimpage-head-note">
                       Стимулирует обмен веществ глаза. Способствует восстановлению верхней оболочки глаза.
                    </div>
                </div>
            </div>
            <div class="slimpage-body">
                <div class="user-content">
                    <p>
                        Этот препарат содержит различные аминокислоты, пептиды, нуклеотиды, и небольшое количество кальция, магния и т.д. Чтобы повысить обмен веществ в тканях глаз, заживление шрамов, рассасывание воспалительного экссудата, и может способствовать регенерации тканей эпителия роговицы.
                    </p>
                </div>
                <ul class="medicament-params">
                    <li>
                        <div class="param-name">Состав:</div>
                        <div class="param-text">Основным компонентом являются аминопептиды, полученные из глаз домашнего скота.</div>
                    </li>
                    <li>
                        <div class="param-name">Способ применения:</div>
                        <div class="param-text">Обколки.</div>
                    </li>
                    <li>
                        <div class="param-name">Показания:</div>
                        <div class="param-text">Данный препарат применяется при негнойном кератите, центральном ретините, помутнении стекловидного тела, склерите, амблиопии и атрофии зрительного нерва.</div>
                    </li>
                    <li>
                        <div class="param-name">Хранение:</div>
                        <div class="param-text">В темном сухом мете при темепературе не выше +20&deg;С</div>
                    </li>
                </ul>
            </div>

        </div><!-- END slimpage/medicine-page -->
    </div><!-- END container -->
</div>