@{
    ViewBag.Title = "Oxiracetam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main has-gray-bg is-full-screen">
    <div class="container">
        <div class="slimpage medicine-page">
            <a href="@Url.Action("Index", "Medicine")" class="page-close"></a>
            <div class="slimpage-nav medicine-page-nav">
                <a class="slimpage-prev" href="@Url.Action("Human", "Medicine")" title="Предыдущая статья"></a>
                <a class="slimpage-next" href="@Url.Action("Cerebrolysin", "Medicine")" title="Следующая статья"></a>
            </div>
            <div class="slimpage-head">
                <div class="slimpage-head-img">
                    <img src="~/Content/images/medicine/medicament_descr.jpg" alt="Оксирацетам">
                </div>
                <div class="slimpage-head-txt">
                    <h1 class="slimpage-head-title">Оксирацетам, раствор для инъекций (Oxiracetam Injection)</h1>
                    <div class="slimpage-head-china">奥拉西坦注射液</div>
                    <div class="slimpage-head-note">
                        Используется в качестве ноотропного средства, для улучшения обучаемости или предупреждения когнитивных нарушений.
                    </div>
                </div>
            </div>
            <div class="slimpage-body">
                <div class="user-content">
                    <p>
                       Оксирацетам является стимулятором и ноотропным препаратом из семьи рацетамных препаратов. Исследования показывают, что вещество является безопасным даже при приеме в высоких дозах в течение длительного периода времени.
                    </p>
                    <p>
                        Оксирацетам - это один из первых трех Рацетамных соединений, произведенный после Пирацетама и Анирацетама. Оксирацетам высвобождает возбуждающие нейротрансмиттеры и может способствовать формированию памяти. Основная информация Оксирацетам является одним из Рацетамов, который структурно отличается от Пирацетама одной гидроксильной группой. Он также используется в качестве ноотропного средства, для улучшения обучаемости у студентов или предупреждения когнитивных нарушений.
                    </p>
                </div>
                <ul class="medicament-params">
                    <li>
                        <div class="param-name">Состав:</div>
                        <div class="param-text">4-hydroxy-2-oxo-pyrrolidinoacetamide.</div>
                    </li>
                    <li>
                        <div class="param-name">Способ применения:</div>
                        <div class="param-text">Обколки</div>
                    </li>
                    <li>
                        <div class="param-name">Показания:</div>
                        <div class="param-text">Используется для лечения при мозговых травмах, при утере функций нервов, вызванной мозговой травмой, а также нарушениях памяти и интеллекта.</div>
                    </li>
                    <li>
                        <div class="param-name">Хранение:</div>
                        <div class="param-text">В темном сухом мете при темепературе не выше +20&deg;С</div>
                    </li>
                </ul>
            </div>

        </div><!-- END slimpage/medicine-page -->
    </div><!-- END container -->
</div>