@{
    ViewBag.Title = "Monosialotetrahexosylganglioside, Моносиаловый ганглиозид GM1";
	ViewBag.Description = "Используется для лечения кровеносных или внешних повреждений центральной нервной системы. Используется: капельно, внутримышечно или обкалывают по БАТ.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main has-gray-bg is-full-screen">
    <div class="container">
        <div class="slimpage medicine-page">
            <a href="@Url.Action("Index", "Medicine")" class="page-close"></a>
            <div class="slimpage-nav medicine-page-nav">
                <a class="slimpage-prev" href="@Url.Action("Aceglutamide", "Medicine")" title="Предыдущая статья"></a>
                <a class="slimpage-next" href="@Url.Action("Anisodine", "Medicine")" title="Следующая статья"></a>
            </div>
            <div class="slimpage-head">
                <div class="slimpage-head-img">
                    <img src="~/Content/images/medicine/m1.png" alt="Ганглиозид">
                </div>
                <div class="slimpage-head-txt">
                    <h1 class="slimpage-head-title">Моносиаловый ганглиозид GM1, раствор для инъекций (Sodium Monosialotetrahexosylganglioside (GM1) Injection)</h1>
                    <div class="slimpage-head-china">单唾液酸四己糖神经节苷脂钠注射液</div>
                    <div class="slimpage-head-note">
                        Эффективно применять ганглиозид одновременно с проводимыми курсами иглотерапии.
                    </div>
                </div>
            </div>
            <div class="slimpage-body">
                <div class="user-content">
                    <p>
                        Препарат китайского производства в ампулах для внутримышечных инъекций.
                    </p>
					<p>
                        Препарат широко применяется по всему Китаю для лечения самых разнообразных поражений головного мозга и ЦНС - при инсультах, дцп, эпилепсии, аутизме, атрофии зрительного нерва, травмах мозга и др.
                    </p>
					<p>
                        В большинстве клиник Китая, для лечения детей, ганглиозид используются: капельно, внутримышечно или обкалывают по БАТ.
                    </p>
                    <p>Китайские доктора считают ганглиозид лучшим в мире препаратом для лечения детей, препаратом без побочных эффектов, препаратом существенно меняющим перспективы любого ребенка на реабилитацию. Некоторые специалисты связывают эффективность применения ганглиозида в Китае с одновременно проводимыми курсами иглотерапии.
                    </p>
                </div>
                <ul class="medicament-params">
                    <li>
                        <div class="param-name">Состав:</div>
                        <div class="param-text">моносиалоганглиозид  GM1 (Sodium Monosialotetrahexosylganglioside). Вспомогательные компоненты: гидрофосфат натрия, дигидрофосфат натрия, хлористый натрий, вода для инъекций.</div>
                    </li>
                    <li>
                        <div class="param-name">Способ применения:</div>
                        <div class="param-text">Внутривенно, внутримышечно.</div>
                    </li>
                    <li>
                        <div class="param-name">Показания:</div>
                        <div class="param-text">Используется для лечения кровеносных или внешних повреждений центральной нервной системы.</div>
                    </li>
                    <li>
                        <div class="param-name">Хранение:</div>
                        <div class="param-text">В темном сухом мете при темепературе не выше +27&deg;С.</div>
                    </li>
                </ul>
            </div>

        </div><!-- END slimpage/medicine-page -->
    </div><!-- END container -->
</div>